{:url-prefix "/laadunseuranta"
 :http-palvelin {:port 3002}
 :feikatut-kayttajat ["K870689" "LX503638" "LX065403" "LX123123"]
 :gelf {:palvelin "localhost"
        :taso :debug}
 :tietokanta {:palvelin          "localhost"
              :tietokanta        "harja"
              :portti            5432
              :yhteyspoolin-koko 16
              :kayttaja          "harja"
              :salasana          ""}}
