{
  "openapi": "3.0.0",
  "info": {
    "title": "Harja API",
    "version": "1.0.64",
    "description": "Harja -järjestelmän julkinen API\n\nAPI on jaettu kuuteen pääosioon:\n<ol>\n  <li>urakat:\n    <ul>\n      <li>Urakoiden perustietojen haku joko urakoitsijan id:llä tai yksittäisen urakan id:llä</li>\n      <li>Urakan seurantatietojen kirjaus: toteumat, tarkastukset, turvallisuuspoikkeamat, päivystäjätiedot, laatupoikkeamat sekä tietyöilmoitukset</li>\n      <li>Urakan Tieliikennekeskuksen tekemien ilmoitusten haku</li>\n    </ul>\n  </li>\n  <li>seuranta:\n      <ul>\n        <li>Reaaliaikaisten seurantatietojen, kuten esim. aura-auton liikkeiden kirjaus</li>\n      </ul>\n    </li>\n  <li>ilmoitukset: \n    <ul>\n      <li>Tieliikennekeskuksen urakalle tekemien ilmoitusten haku</li>\n      <li>Kuittausten eli toimenpiteiden tekeminen ilmoituksille</li>\n    </ul>   \n  </li>\n  <li>tieluvat:\n      <ul>\n        <li>Tielupien haku</li>\n      </ul>\n  </li>\n  <li>päivystäjätiedot:\n        <ul>\n          <li>Päivystäjätietojen haku</li>\n        </ul>\n    </li>\n</ol>\n"
  },
  "servers": [
    {
      "url": "https://testiapi.vayla.fi/harja/api (testi) & https://api.vayla.fi/harja/api (tuotanto)"
    }
  ],
  "paths": {
    "/urakat/haku": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "urakat": [
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun alueurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "hoito",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    },
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun päällyysteurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "paallystys",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/urakoiden-haku-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Hakee kaikki urakat, joihin järjestelmätunnuksella on oikeudet. Väylän järjestelmille palauttaa kaikki urakat.",
        "operationId": "GET_urakat-haku",
        "parameters": [
          {
            "name": "urakkatyyppi",
            "in": "query",
            "required": true,
            "description": "Rajaa urakoiden haun annettuun tyyppiin. Sallitut tyypit hoito, teiden-hoito, paallystys, paikkaus, tiemerkinta, valaistus, siltakorjaus, tekniset-laitteet, vesivayla-hoito, vesivayla-ruoppaus, vesivayla-turvalaitteiden-korjaus, vesivayla-kanavien-hoito, vesivayla-kanavien-korjaus.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/urakat/haku/{ytunnus}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "urakat": [
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun alueurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "hoito",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    },
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun päällyysteurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "paallystys",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/urakoiden-haku-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Palauttaa kaikki urakoitsijan Y-tunnuksen mukaisen urakoitsijan urakoiden otsikkotason tiedot. Urakan täydet tiedot haetaan erikseen urakan id:n avulla (/urakka/id).",
        "operationId": "GET_urakat-haku-ytunnus"
      },
      "parameters": [
        {
          "name": "ytunnus",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/haku/sijainnilla": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "urakat": [
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun alueurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "hoito",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    },
                    {
                      "urakka": {
                        "tiedot": {
                          "id": 123456789,
                          "nimi": "Oulun päällyysteurakka",
                          "urakoitsija": {
                            "ytunnus": "123456-8",
                            "nimi": "Asfaltia"
                          },
                          "vaylamuoto": "tie",
                          "tyyppi": "paallystys",
                          "alkupvm": "2016-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/urakoiden-haku-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Urakan haku sijainnilla (ja urakkatyyppillä).",
        "operationId": "GET_urakat-haku-sijainnilla",
        "parameters": [
          {
            "name": "urakkatyyppi",
            "in": "query",
            "description": "Urakkatyyppi (hoito, teiden-hoito, paallystys, paikkaus, valaistus, tekniset-laitteet, siltakorjaus)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "Sijainnin X-koordinaatti",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Sijainnin Y-koordinaatti",
            "schema": {
              "type": "number"
            }
          }
        ]
      }
    },
    "/urakat/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "urakka": {
                    "tiedot": {
                      "id": 123456789,
                      "nimi": "Oulun päällyysteurakka",
                      "urakoitsija": {
                        "ytunnus": "123456-8",
                        "nimi": "Asfaltia"
                      },
                      "vaylamuoto": "tie",
                      "tyyppi": "paallystys",
                      "alkupvm": "2016-01-30T12:00:00+02:00",
                      "loppupvm": "2016-01-30T12:00:00+02:00",
                      "alueurakkanumero": "1240"
                    },
                    "sopimukset": [
                      {
                        "sopimus": {
                          "id": 456789132,
                          "nimi": "Kiviharjunlenkin asfaltointi",
                          "alkupvm": "2015-01-30T12:00:00+02:00",
                          "loppupvm": "2016-01-30T12:00:00+02:00"
                        }
                      }
                    ],
                    "materiaalit": [
                      {
                        "materiaali": {
                          "nimi": "Talvisuolaliuos NaCl",
                          "yksikko": "t"
                        }
                      }
                    ],
                    "tehtavat": {
                      "kokonaishintaiset": [
                        {
                          "tehtava": {
                            "id": 1400,
                            "selite": "Suolaus",
                            "yksikko": "km"
                          }
                        }
                      ],
                      "yksikkohintaiset": [
                        {
                          "tehtava": {
                            "id": 1371,
                            "selite": "Vesakonraivaus",
                            "yksikko": "m2"
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/urakan-haku-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Palauttaa id:n mukaisen urakan tiedot sopimuksineen ja tehtävineen. Vastaus kertoo tehtävät, joille voidaan kirjata toteumia. Toteumat kirjataan aina tietyn urakan sopimuksen yksikkö- tai kokonaishintaiselle tehtävälle. Toteumat pitää myös kirjata aina tehtävälle palautuvassa yksikössä.",
        "operationId": "GET_urakat-id"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/toteumat/reitti": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Reittimuotoisten toteumien kirjaaminen urakalle. Yksittäinen reittipiste toteumalle tulisi kirjata aina, kun 1. ajettava tie muuttuu, 2. ajettava tieosa muuttuu, 3. ajettava suunta muuttuu, 4. suoritettava tehtävä muuttuu tai 5. materiaaliannostelijan (esim. suolasirottimen) asetukset muuttuuvat. Toteumien tehtävät raportoidaan aina Harjan urakkahaun palauttamassa yksikössä. Harja ei tee yksikkömuunnoksia vaan olettaa, että määrät on annettu halutussa yksikössä. Sama koskee myös raportoituja materiaalien käyttöjä.",
        "operationId": "POST_urakat-id-toteumat-reitti",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "reittitoteuma": {
                  "toteuma": {
                    "tunniste": {
                      "id": 64554546
                    },
                    "suorittaja": {
                      "nimi": "Tehotekijät Oy",
                      "ytunnus": "8765432-1"
                    },
                    "sopimusId": 1,
                    "alkanut": "2016-01-30T12:00:00+02:00",
                    "paattynyt": "2016-02-01T12:00:00+02:00",
                    "toteumatyyppi": "kokonaishintainen",
                    "tehtavat": [
                      {
                        "tehtava": {
                          "id": 1359,
                          "maara": {
                            "yksikko": "km",
                            "maara": 123
                          }
                        }
                      },
                      {
                        "tehtava": {
                          "id": 1360,
                          "maara": {
                            "yksikko": "km",
                            "maara": 123
                          }
                        }
                      }
                    ],
                    "materiaalit": [
                      {
                        "materiaali": "Talvisuolaliuos NaCl",
                        "maara": {
                          "yksikko": "kg",
                          "maara": 4.62
                        }
                      }
                    ]
                  },
                  "reitti": [
                    {
                      "reittipiste": {
                        "aika": "2016-01-30T12:00:00+02:00",
                        "koordinaatit": {
                          "x": 448353,
                          "y": 7225182
                        },
                        "tehtavat": [
                          {
                            "tehtava": {
                              "id": 1359
                            }
                          },
                          {
                            "tehtava": {
                              "id": 1360
                            }
                          }
                        ],
                        "materiaalit": [
                          {
                            "materiaali": "Talvisuolaliuos NaCl",
                            "maara": {
                              "yksikko": "kg",
                              "maara": 1.32
                            }
                          }
                        ]
                      }
                    },
                    {
                      "reittipiste": {
                        "aika": "2016-01-30T13:00:00+02:00",
                        "koordinaatit": {
                          "x": 455574,
                          "y": 7227716
                        },
                        "tehtavat": [
                          {
                            "tehtava": {
                              "id": 1359
                            }
                          },
                          {
                            "tehtava": {
                              "id": 1360
                            }
                          }
                        ],
                        "materiaalit": [
                          {
                            "materiaali": "Talvisuolaliuos NaCl",
                            "maara": {
                              "yksikko": "kg",
                              "maara": 0.9
                            }
                          }
                        ]
                      }
                    },
                    {
                      "reittipiste": {
                        "aika": "2016-01-30T13:00:00+02:00",
                        "koordinaatit": {
                          "x": 459628,
                          "y": 7223852
                        },
                        "tehtavat": [
                          {
                            "tehtava": {
                              "id": 1359
                            }
                          },
                          {
                            "tehtava": {
                              "id": 1360
                            }
                          }
                        ],
                        "materiaalit": [
                          {
                            "materiaali": "Talvisuolaliuos NaCl",
                            "maara": {
                              "yksikko": "kg",
                              "maara": 2.4
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "tyokone": {
                    "id": "TKT001",
                    "tunnus": "Alihankkija Oy, KA 2",
                    "tyokonetyyppi": "kuorma-auto"
                  }
                },
                "reittitoteumat": [
                  {
                    "reittitoteuma": {
                      "toteuma": {
                        "tunniste": {
                          "id": 64554456
                        },
                        "suorittaja": {
                          "nimi": "Tehotekijät Oy",
                          "ytunnus": "8765432-1"
                        },
                        "sopimusId": 1,
                        "alkanut": "2016-01-30T12:00:00+02:00",
                        "paattynyt": "2016-02-01T12:00:00+02:00",
                        "toteumatyyppi": "kokonaishintainen",
                        "lisatieto": "Lisätiedoksi toteumaan liittyen.",
                        "tehtavat": [
                          {
                            "tehtava": {
                              "id": 1359,
                              "maara": {
                                "yksikko": "km",
                                "maara": 123
                              }
                            }
                          },
                          {
                            "tehtava": {
                              "id": 1360,
                              "maara": {
                                "yksikko": "km",
                                "maara": 123
                              }
                            }
                          }
                        ],
                        "materiaalit": [
                          {
                            "materiaali": "Talvisuolaliuos NaCl",
                            "maara": {
                              "yksikko": "kg",
                              "maara": 4.62
                            }
                          }
                        ]
                      },
                      "reitti": [
                        {
                          "reittipiste": {
                            "aika": "2016-01-30T12:00:00+02:00",
                            "koordinaatit": {
                              "x": 448353,
                              "y": 7225182
                            },
                            "tehtavat": [
                              {
                                "tehtava": {
                                  "id": 1359
                                }
                              },
                              {
                                "tehtava": {
                                  "id": 1360
                                }
                              }
                            ],
                            "materiaalit": [
                              {
                                "materiaali": "Talvisuolaliuos NaCl",
                                "maara": {
                                  "yksikko": "kg",
                                  "maara": 1.32
                                }
                              }
                            ]
                          }
                        },
                        {
                          "reittipiste": {
                            "aika": "2016-01-30T13:00:00+02:00",
                            "koordinaatit": {
                              "x": 455574,
                              "y": 7227716
                            },
                            "tehtavat": [
                              {
                                "tehtava": {
                                  "id": 1359
                                }
                              },
                              {
                                "tehtava": {
                                  "id": 1360
                                }
                              }
                            ],
                            "materiaalit": [
                              {
                                "materiaali": "Talvisuolaliuos NaCl",
                                "maara": {
                                  "yksikko": "kg",
                                  "maara": 0.9
                                }
                              }
                            ]
                          }
                        },
                        {
                          "reittipiste": {
                            "aika": "2016-01-30T13:00:00+02:00",
                            "koordinaatit": {
                              "x": 459628,
                              "y": 7223852
                            },
                            "tehtavat": [
                              {
                                "tehtava": {
                                  "id": 1359
                                }
                              },
                              {
                                "tehtava": {
                                  "id": 1360
                                }
                              }
                            ],
                            "materiaalit": [
                              {
                                "materiaali": "Talvisuolaliuos NaCl",
                                "maara": {
                                  "yksikko": "kg",
                                  "maara": 2.4
                                }
                              }
                            ]
                          }
                        }
                      ],
                      "tyokone": {
                        "id": "TKT001",
                        "tunnus": "Alihankkija Oy, KA 2",
                        "tyokonetyyppi": "kuorma-auto"
                      }
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/reittitoteuman-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Poista reittitoteuma tunnisteella.",
        "operationId": "DELETE_urakat-id-toteumat-reitti",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00Z"
                },
                "toteumien-tunnisteet": [
                  12897
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/toteuman-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/toteumat/piste": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Pistemäisten toteumien kirjaaminen urakalle. Toteumien tehtävät raportoidaan aina Harjan urakkahaun palauttamassa yksikössä. Harja ei tee yksikkömuunnoksia vaan olettaa, että määrät on annettu halutussa yksikössä. Sama koskee myös raportoituja materiaalien käyttöjä.",
        "operationId": "POST_urakat-id-toteumat-piste",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "pistetoteuma": {
                  "toteuma": {
                    "tunniste": {
                      "id": 753725
                    },
                    "sopimusId": 1,
                    "suorittaja": {
                      "nimi": "Tehotekijät Oy",
                      "ytunnus": "8765432-1"
                    },
                    "alkanut": "2016-01-30T12:00:00+02:00",
                    "paattynyt": "2016-01-30T12:00:00+02:00",
                    "toteumatyyppi": "yksikkohintainen",
                    "tehtavat": [
                      {
                        "tehtava": {
                          "id": 1359
                        }
                      }
                    ]
                  },
                  "sijainti": {
                    "koordinaatit": {
                      "x": 440820,
                      "y": 7209885
                    }
                  },
                  "tyokone": {
                    "id": "TKT001",
                    "tunnus": "Alihankkija Oy, KA 2",
                    "tyokonetyyppi": "kuorma-auto"
                  }
                },
                "pistetoteumat": [
                  {
                    "pistetoteuma": {
                      "toteuma": {
                        "tunniste": {
                          "id": 753724
                        },
                        "sopimusId": 1,
                        "suorittaja": {
                          "nimi": "Tehotekijät Oy",
                          "ytunnus": "8765432-1"
                        },
                        "alkanut": "2016-01-30T12:00:00+02:00",
                        "paattynyt": "2016-01-30T12:00:00+02:00",
                        "toteumatyyppi": "yksikkohintainen",
                        "tehtavat": [
                          {
                            "tehtava": {
                              "id": 1359
                            }
                          }
                        ]
                      },
                      "sijainti": {
                        "koordinaatit": {
                          "x": 440820,
                          "y": 7209885
                        }
                      },
                      "tyokone": {
                        "id": "TKT001",
                        "tunnus": "Alihankkija Oy, KA 2",
                        "tyokonetyyppi": "kuorma-auto"
                      }
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/pistetoteuman-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Poista pistetoteuma tunnisteella.",
        "operationId": "DELETE_urakat-id-toteumat-piste",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00Z"
                },
                "toteumien-tunnisteet": [
                  753725
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/toteuman-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/toteumat/tiemerkinta": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Tiemerkintätoteuman kirjaaminen, jota ei kohdisteta ylläpitokohteelle.",
        "operationId": "POST_urakat-id-toteumat-tiemerkinta",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tiemerkintatoteumat": [
                  {
                    "tiemerkintatoteuma": {
                      "tunniste": {
                        "id": 123
                      },
                      "hinta": 12345678,
                      "paivamaara": "2017-07-06T15:01:00+02:00",
                      "selite": "Selite",
                      "tienumero": 20,
                      "pituus": 1200,
                      "yllapitoluokka": 2,
                      "hintatyyppi": "toteuma"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/urakan-tiemerkintatoteuman-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": "Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja",
                  "varoitukset": "",
                  "ilmoitukset": "",
                  "huomiot": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "varoitukset": [
                        {
                          "varoitus": "Tieto x puuttuu."
                        }
                      ],
                      "virheet": [
                        {
                          "virhe": ""
                        }
                      ],
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Poista tiemerkintätoteuma tunnisteella.",
        "operationId": "DELETE_urakat-id-toteumat-tiemerkinta",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00Z"
                },
                "toteumien-tunnisteet": [
                  753725
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/toteuman-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/tarkastus/tiestotarkastus": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Uuden tiestötarkastuspisteen kirjaaminen.",
        "operationId": "POST_urakat-id-tarkastus-tiestotarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tarkastukset": [
                  {
                    "tarkastus": {
                      "tunniste": {
                        "id": 123
                      },
                      "tarkastusajo": {
                        "id": 123
                      },
                      "aika": "2015-07-06T15:01:00+02:00",
                      "alkusijainti": {
                        "x": 441895,
                        "y": 7199136
                      },
                      "loppusijainti": {
                        "x": 442131,
                        "y": 7198982
                      },
                      "tarkastaja": {
                        "id": 123,
                        "etunimi": "Taneli",
                        "sukunimi": "Tarkastaja"
                      },
                      "havainnot": "Reikä tiessä",
                      "liitteet": [
                        {
                          "liite": {
                            "nimi": "reikatiessa.png",
                            "tyyppi": "image/png",
                            "kuvaus": "Kuva reijästä tiessä",
                            "sisalto": "... sisältö base64 enkoodattuna  ..."
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/tiestotarkastuksen-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Tiestötarkastuksen poisto.",
        "operationId": "DELETE_urakat-id-tarkastus-tiestotarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tarkastusten-tunnisteet": [
                  123
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/tarkastuksen-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/tarkastus/tieturvallisuustarkastus": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Uuden tieturvallisuustarkastuksen kirjaaminen.",
        "operationId": "POST_urakat-id-tarkastus-tieturvallisuustarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 124
                  },
                  "lahetysaika": "2023-07-30T12:00:00+02:00"
                },
                "tarkastukset": [
                  {
                    "tarkastus": {
                      "tunniste": {
                        "id": 1240
                      },
                      "tarkastusajo": {
                        "id": 12401
                      },
                      "aika": "2023-07-29T15:01:00+02:00",
                      "alkusijainti": {
                        "x": 378749.9,
                        "y": 6728024.4
                      },
                      "loppusijainti": {
                        "x": 378195.7,
                        "y": 6728647.5
                      },
                      "tarkastaja": {
                        "id": 123,
                        "etunimi": "Taina",
                        "sukunimi": "Tarkastaja"
                      },
                      "havainnot": "Railo tiessä",
                      "liitteet": []
                    }
                  }
                ]
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Tieturvallisuustarkastuksen poisto.",
        "operationId": "DELETE_urakat-id-tarkastus-tieturvallisuustarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2023-08-08T12:00:00+02:00"
                },
                "tarkastusten-tunnisteet": [
                  1240
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/tarkastuksen-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/tarkastus/talvihoitotarkastus": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Uuden talvihoitotarkastuksen mittauspisteen kirjaaminen.",
        "operationId": "POST_urakat-id-tarkastus-talvihoitotarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tarkastukset": [
                  {
                    "tarkastus": {
                      "tunniste": {
                        "id": 123
                      },
                      "tarkastusajo": {
                        "id": 123
                      },
                      "aika": "2015-02-02T15:01:00+02:00",
                      "alkusijainti": {
                        "x": 441895,
                        "y": 7199136
                      },
                      "loppusijainti": {
                        "x": 442131,
                        "y": 7198982
                      },
                      "tarkastaja": {
                        "id": 123,
                        "etunimi": "Taneli",
                        "sukunimi": "Tarkastaja"
                      },
                      "havainnot": "Tie hiekoittamatta. Todella liukasta.",
                      "laadunalitus": true,
                      "liitteet": [
                        {
                          "liite": {
                            "nimi": "tie.png",
                            "tyyppi": "image/png",
                            "kuvaus": "Kuva hiekoittamattomasta tiestä",
                            "sisalto": "... sisältö base64 enkoodattuna  ..."
                          }
                        }
                      ]
                    },
                    "mittaus": {
                      "hoitoluokka": 1,
                      "lumimaara": 15,
                      "tasaisuus": 5,
                      "kitka": 3.2,
                      "lampotilaIlma": -10,
                      "lampotilaTie": -10
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/talvihoitotarkastuksen-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Talvihoitotarkastuksen poisto.",
        "operationId": "DELETE_urakat-id-tarkastus-talvihoitotarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-04-12T23:20:50+02:00"
                },
                "tarkastusten-tunnisteet": [
                  4321
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/tarkastuksen-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/tarkastus/soratietarkastus": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Uuden soratietarkastuksen mittauspisteen kirjaaminen.",
        "operationId": "POST_urakat-id-tarkastus-soratietarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tarkastukset": [
                  {
                    "tarkastus": {
                      "tunniste": {
                        "id": 123
                      },
                      "tarkastusajo": {
                        "id": 123
                      },
                      "aika": "2015-07-06T15:01:00+02:00",
                      "alkusijainti": {
                        "x": 441057,
                        "y": 7198624
                      },
                      "loppusijainti": {
                        "x": 441037,
                        "y": 7198450
                      },
                      "tarkastaja": {
                        "id": 123,
                        "etunimi": "Taneli",
                        "sukunimi": "Tarkastaja"
                      },
                      "havainnot": "Tie on aivan liian kalteva.",
                      "liitteet": [
                        {
                          "liite": {
                            "nimi": "tie.png",
                            "tyyppi": "image/png",
                            "kuvaus": "Kuva tiestä",
                            "sisalto": "... sisältö base64 enkoodattuna  ..."
                          }
                        }
                      ]
                    },
                    "mittaus": {
                      "hoitoluokka": 1,
                      "kiinteys": 3,
                      "polyavyys": 5,
                      "sivukaltevuus": 12.6,
                      "tasaisuus": 1
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/soratietarkastuksen-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Soratietarkastuksen poisto.",
        "operationId": "DELETE_urakat-id-tarkastus-soratietarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tarkastuksen-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/tarkastus/siltatarkastus": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Uuden siltatarkastuksen kirjaaminen.",
        "operationId": "POST_urakat-id-tarkastus-siltatarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "siltatarkastus": {
                  "tunniste": {
                    "id": 34547744
                  },
                  "siltatunnus": "O-00003",
                  "tarkastusaika": "2016-01-30T12:00:00+02:00",
                  "tarkastaja": {
                    "etunimi": "Teija",
                    "sukunimi": "Tarkkailija"
                  },
                  "sillantarkastuskohteet": {
                    "alusrakenne": {
                      "maatukienSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiPade"
                      },
                      "valitukienSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "laakeritasojenSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      }
                    },
                    "paallysrakenne": {
                      "kansilaatta": {
                        "ehdotettutoimenpide": "puhdistettava",
                        "lisatietoja": "Kansi likainen"
                      },
                      "paallysteenKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "reunapalkinSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "reunapalkinLiikuntasauma": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "reunapalkinJaPaallysteenValisenSaumanSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "sillanpaidenSaumat": {
                        "ehdotettutoimenpide": "urakanKunnostettava",
                        "lisatietoja": "Saumat lohkeilleet"
                      },
                      "sillanJaPenkereenRaja": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      }
                    },
                    "varusteetJaLaitteet": {
                      "kaiteidenJaSuojaverkkojenVauriot": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "liikuntasaumalaitteidenSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "laakerit": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "syoksytorvet": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "tippuputket": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "kosketussuojatJaNiidenKiinnitykset": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "valaistuslaitteet": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "johdotJaKaapelit": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "liikennemerkit": {
                        "ehdotettutoimenpide": "korjausOhjelmoitava",
                        "lisatietoja": "Korjattava"
                      }
                    },
                    "siltapaikanRakenteet": {
                      "kuivatuslaitteidenSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "etuluiskienSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "keilojenSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "tieluiskienSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      },
                      "portaidenSiisteysJaKunto": {
                        "ehdotettutoimenpide": "eiToimenpiteita"
                      }
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/siltatarkastuksen-kirjaus-request"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          }
        },
        "description": "Siltatarkastuksen poisto.",
        "operationId": "DELETE_urakat-id-tarkastus-siltatarkastus",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tarkastusten-tunnisteet": [
                  34547744
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/tarkastuksen-poisto-request"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/laatupoikkeama": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "ilmoitukset": "Kaikki toteumat kirjattu onnistuneesti",
                  "kohteet": [
                    {
                      "tunniste": {
                        "id": 123
                      },
                      "tiedotukset": [
                        {
                          "tiedotus": ""
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/kirjaus-response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "virheet": [
                    {
                      "virhe": {
                        "koodi": "Tuntematon urakka",
                        "viesti": "Annetulle id:lle ei löydy urakkaa."
                      }
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/virhe-response"
                }
              }
            }
          }
        },
        "description": "Laadunalitusten kirjaaminen urakalle.",
        "operationId": "POST_urakat-id-laatupoikkeama",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "otsikko": {
                  "lahettaja": {
                    "jarjestelma": "Urakoitsijan järjestelmä",
                    "organisaatio": {
                      "nimi": "Urakoitsija",
                      "ytunnus": "1234567-8"
                    }
                  },
                  "viestintunniste": {
                    "id": 123
                  },
                  "lahetysaika": "2016-01-30T12:00:00+02:00"
                },
                "tunniste": {
                  "id": 123
                },
                "alkusijainti": {
                  "x": 430746,
                  "y": 7199055
                },
                "kuvaus": "Tie jäi auraamatta.",
                "kohde": "Kempeleessä Zeppelinin ramppi",
                "kirjaaja": {
                  "id": 54697481,
                  "etunimi": "Ville",
                  "sukunimi": "Vaara"
                },
                "aika": "2016-01-30T12:00:00+02:00",
                "liitteet": [
                  {
                    "liite": {
                      "nimi": "kolari.png",
                      "tyyppi": "image/png",
                      "kuvaus": "Kuva",
                      "sisalto": "... sisältö base64 enkoodattuna  ..."
                    }
                  }
                ],
                "kommentit": [
                  {
                    "kommentti": "Kolari johtui siitä, että paikalla ei oltu hiekoitettu tietä."
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/laatupoikkeaman-kirjaus"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/urakat/{id}/turvallisuuspoikkeama": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
[...]
