/* ---------- oletukset ---------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
}

button {
    background-color: rgb(9,78,196);
    color: white;
    border: 0;
    height: 30px;
    padding: 0;
}

/* ---------- utils ---------- */
.bordered {
    border: 1px solid black;
}

.rightside {
    position: absolute;
    right: 0;
}

.varjostettu {
    box-shadow: 4px 4px 4px 2px #777;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- ylapalkki ---------- */
.ylapalkki {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(19,19,20);
    font-size: 20px;
    line-height: 70px;
    z-index: 1000;
}

.ylapalkki .tr-osoite {
    border-left: 1px solid rgb(40,40,40);
    position: absolute;
    color: white;
    font-size: 23px;
    font-weight: normal;
    padding-left: 10px;
    left: 470px;
}

.ylapalkki .hoitoluokka {
    position: absolute;
    border-left: 1px solid rgb(40,40,40);
    top: 0;
    left: 680px;
    padding-left: 10px;
    color: white;
    width: 100px;
    height: 70px;
    line-height: 50px;
}

.ylapalkki .hoitoluokka .soratiehoitoluokka {
    display: block;
    padding-top: 0;
    width: 190px;
    top: 0;
    font-size: 15px;
    height: 19px;
}

.ylapalkki .hoitoluokka .talvihoitoluokka {
    display: block;
    padding-top: 0;
    width: 190px;
    top: 0;
    font-size: 15px;
    height: 15px;
}

.ylapalkki-button {
    border-left: 1px solid rgb(40,40,40);
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    line-height: 70px;
}

.ylapalkki-button img {
    padding-top: 10px;
    width: 50px;
    height: 50px;
}


.ylapalkki .infonappi {
    left: 420px;
}

.ylapalkki .kiinteistorajat {
    left: 320px;
}

.ylapalkki .ortokuva {
    left: 370px;
}

.keskityspainike {
    left: 270px;
}

/* ---------- kartta ----------*/
.ol-zoom {
    position: absolute;
    top: 0px;
    height: 70px;
    left: 180px;
    z-index: 1000;
    box-sizing: border-box;
}

.ol-zoom button {
    background-color: rgb(19,19,20);
    color: white;
    margin: 0;
    padding: 0;
    width: 45px;
    font-size: 2em;
    height: 70px;
    outline-width: 0;
    border-left: 1px solid rgb(40,40,40);
    box-sizing: border-box;
}

/* ---------- alustus ---------- */
.alustuskomponentticontainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.alustuskomponentti {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.alustuskomponentti div {
    margin-bottom: 5px;
}

.alustuskomponentti p {
    text-align: center;
    font-weight: bold;
}

.alustuskomponentti img {
    vertical-align: middle;
    margin-right: 10px;
    padding-left: 40px;
}

/* ---------- päätason container ---------- */
.toplevel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #888;
    overflow: hidden;
}

.map {
    height: 100%;
}

/* ---------- sivupaneeli ---------- */
.sivupaneeli-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 60px;
    width: 240px;
    right: 0;
}

.sidepanel-box {
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 240px;
}

.sidepanel-box-jatke {
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 240px;
}

.sidepanel {
    position: absolute;
    padding-top: 10px;
    box-sizing: border-box;
    height: 390px;
    transition-property: right;
    transition-duration: 0.2s;
}

.pikavalintapaneeli {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 240px;
    height: 100%;
}

.pikavalintapainike {
    width: 215px;
    font-size: 17px;
    background-color: rgb(16,125,209);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: default;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

.pikavalintaikoni svg {
    width: 48px;
    height: 48px;
    fill: white;
    margin: 5px;
    position: relative;
    top: -15px;
    vertical-align: middle;
}


.pikavalintaotsikko {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.painike-aktiivinen {
}

/* ---------- virheilmoitukset ---------- */
.virheboksi {
    position: fixed;
    left: 230px;
    bottom: 10px;
    background-color: red;
    border: 1px solid black;
    right: 270px;
    height: 100px;
    z-index: 10000;
    padding-top: 5px;
}

.virheboksi .virheilmoitus {
    color: white;
    padding-left: 10px;
}

/* ---------- ilmoitukset ---------- */
.ilmoitukset {
    position: fixed;
    bottom: 15px;
    left: 220px;
    right: 260px;
    padding: 5px;
}

.ilmoitukset .ilmoitus {
    //width: 550px;
    padding: 5px;
    border: 1px solid black;
    background-color: yellow;
}

/* ---------- kuvan esikatselu ---------- */
.kaynnistyspainike {
    position: absolute;
    right: 0;
    top: 0px;
    width: 220px;
    height: 70px;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    color: white;
    background-color: rgb(86,198,84);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.kaynnistyspainike span {
    margin-right: 10px;
}

.kaynnissa {
    background-color: rgb(208,0,5);
}

@keyframes nappula-flash {
    0% { background-color: red; }
    100%   { background-color: #000; }
}

@-webkit-keyframes nappula-flash {
    0% { background-color: red; }
    100%   { background-color: #000; }
}

.blink {
    animation-name: nappula-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: nappula-flash;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}


.pikavalinta-footer {
    position: absolute;
    bottom: 65px;
    padding-top: 5px;
    height: 70px;
    z-index: 2000;
    right: 0;
}


.logo {
    padding: 12px;
    width: 150px;
}

/* ---------- tarkastusajon luontidialogi ---------- */
.tarkastusajon-luonti-dialog-container {
    position: absolute;
    right: 0;
    top: 70px;
    width: 240px;
}

.tarkastusajon-luonti-dialog {
    background-color: rgba(255,255,255,1);
    padding-bottom: 10px;
    border: 1px solid gray;
}

.tarkastusajon-luonti-dialog p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.tarkastusajon-luonti-dialog ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 10px;
}

.tarkastusajon-luonti-dialog li {
    background-color: blue;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}

.tarkastusajon-luonti-dialog nav {
    text-align: center;
}

.tarkastusajon-luonti-dialog nav.disabled {
    color: gray;
}

.tarkastusajon-luonti-dialog nav.disabled:after {
    content: " (tulossa)";
}

/* ---------- havaintolomake ---------- */
.havaintolomake-container {
    position: absolute;
    background-color: rgb(247,249,250);
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    padding: 0;
    box-sizing: border-box;
}

.havaintolomake {
    font-size: 16px;
}

.havaintolomake .lomake-container {
    position: absolute;
    width: 600px;
    height: 100%;
    padding: 20px;
}

.lomake-kartta-container {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 600px;
    right: 0;
    height: 100%;
}

.lomake-kartta-container .ol-zoom {
    display: none;
}

.havaintolomake input {
    height: 30px;
    font-size: 17px;
    padding-left: 15x;
    background: white !important;
}

.lomake-title {
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-bottom: 25px;
}

.havaintolomake .tieosuus {
    clear: left;
}

.havaintolomake .havainnot {
    clear: left;
}

.havaintolomake .lomake-rivi {
    width: 95%;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.havaintolomake .lomake-sarake {
    float: left;
}

.havaintolomake .lomake-kentta {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.havaintolomake select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 18px;
    width: 190px;
    height: 27px;
    padding: 3px;
    border: 1px solid lightgray;
    background: white;
    border-radius: none;
}

.havaintolomake .lomake-kentta .label {
}

.havaintolomake textarea {
    display: inline;
    float: left;
    font-size: 18px;
    width: 430px;
}

.havaintolomake .lomake-painikkeet {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.havaintolomake .lisatietoja {
    clear: left;
}

.lomake-painikkeet button {
    display: inline-block;
    float: left;
    width: 130px;
    height: 40px;
    font-size: 18px;
    margin-right: 10px;
}

.lomake-painikkeet button span {
    margin-right: 10px;
}

.lomake-painikkeet .tallenna {
    background-color: green;
}

.pvm-aika {
    display: inline-block;
}

.pvm-aika input:nth-child(1) {
    width: 110px;
    margin-right: 5px;
    background-color: white;
}

.pvm-aika input:nth-child(2) {
    width: 70px;
}

.tr-osoite {
    display: inline-block;
}

.tr-osoite input {
    width: 90px;
    background: white !important;
}

.tr-osoite .valiviiva {
    position: relative;
    display: inline-block;
    width: 20px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding: 0;
    top: 1px;
    border: 1px solid lightgray;
    background-color: lightgray;
    box-sizing: border-box;
}

/* ---------- kitkamittauskomponentti ---------- */
.kitkamittaus {
    position: relative;
    width: 240px;
    height: 305px;
    padding-left: 1px;
    padding-top: 6px;
    margin-bottom: 4px;
    background-color: #eee;
}

.kitkamittaus .syottokentta {
    width: 100%;
    height: 70px;
    line-height: 60px;
    font-size: 60px;
    text-align: left;
}

.kitkamittaus .nappaimisto button {
    width: 75px;
    height: 55px;
    font-size: 35px;
    margin: 2px;
    color: white;
    background-color: rgb(16,125,209);
    border: none;
    outline: none;
}

.nappaimisto #delbtn {
    color: white;
}

.nappaimisto #okbtn {
    background-color: rgb(21,158,4);
    color: white;
}

.syottokentta .kursori {
    position: absolute;
    top: 5px;
    background-color: black;
    margin: 2px;
    width: 40px;
    height: 60px;
}

.kitkamittaus-container {
    position: absolute;
    background: #aaa;
    z-index: 2000;
    height: 470px;
    top: 220px;
    left: 550px;
    border: 1px solid gray;
    box-shadow: 5px 5px 2px 2px #999;
}

.kameranappi {
    display: inline-block;
    border: 1px solid blue;
    width: 120px;
    height: 112px;
    padding-left: 2px;
    padding-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

.kameranappi .kamera-eikuvaa {
    color: blue;
    text-align: center;
}

.kameranappi img {
    float: left;
    display: inline-block;
    height: 90px;
}

.kameranappi img:nth-of-type(2) {
    margin-left: 20px;
    height: 110px;
    image-orientation: from-image;
}

.spinner {
    z-index: 2000;
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: black;
}

/* ---------- pikavalinta ---------- */

.kitkamittaustiedot {
    text-align: center;
}

.tasaisuustiedot {
    text-align: center;
    font-size: 20px;
}

.lumisuustiedot {
    text-align: center;
    font-size: 20px;
}

.tasaisuustiedot span {
    display: block;
    font-weight: bolder;
    margin-right: 10px;
}

.lumisuustiedot span {
    display: block;
    font-weight: bolder;
    margin-right: 10px;
}

.kitkamittaustiedot span {
    display: block;
    font-weight: bolder;
    margin-right: 10px;
}

.avattu {
    width: 215px;
    margin-top: -15px;
    margin-bottom: 20px;
    height: 10px;
    padding-left: 115px;
}

/* ---------- arviokomponentti ---------- */
.arviokomponentti nav {
    background-color: blue;
    color: white;
    width: 65px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 4px;
    box-sizing: border-box;
    margin-left: 8px;
}

.arviokomponentti .active {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

/* ---------- kesätarkastuksen soratiemittaukset sivupaneelissa ---------- */
.arviot {
    height: 300px;
}

.arviot span {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.tasaisuusarvio {
    float: left;
    width: 80px;
}

.kiinteysarvio {
    float: left;
    width: 80px;
}

.polyavyysarvio {
    float: left;
    width: 80px;
}

.havaintolomake .tarkastaja {
    display: inline-block;
    border: 1px solid black;
    width: 345px;
    height: 35px;
    padding: 5px;
    background-color: rgb(217,218,219);
    box-sizing: border-box;
}

/* ---------- lumimaara ---------- */
.arvio {
    display: inline-block;
    width: 270px;
}

.arvio .arviopainike {
    width: 50px;
    height: 50px;
    margin-right: 3px;
    font-size: 22px;
}

.arvio .aktiivinen {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

.kitka-arvo {
    position: relative;
    background-color: lightgray;
    display: inline-block;
    height: 36px;
    width: 150px;
    text-align: center;
    line-height: 35px;
    font-weight: bolder;
    font-size: 18px;
    background-color: white;
    overflow: visible;
    top: 0px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.kitka-syottocontainer {
    position: absolute;
    top: 0px;
    left: 00px;
}

/* ---------- tr-selailu ---------- */
.tr-selailu {
    z-index: 1000;
    position: absolute;
    left: -402px;
    top: 70px;
    width: 400px;
    height: 400px;
    background-color: white;
    transition-property: left;
    transition-duration: 0.2s;
    border: 1px solid lightgray;
}

.tr-selailu p {
    font-weight: bold;
    padding-left: 20px;
}

.tr-selailu .tr-tieto {
    padding: 2px;
    border-bottom: 1px solid lightgray;
    margin: 10px;
}

.tr-selailu .tr-tieto span:nth-child(1) {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.tr-selailu-auki {
    left: 0;
    transition-property: left;
    transition-duration: 0.2s;
}

.validointivirhe {
    width: 230px;
    position: absolute;
    background-color: red;
    color: white;
}

button:disabled {
    color: lightgray;
}

#laatupoikkeamacheck {
    vertical-align: middle;
}

.virhe {
    color: red;
}

.peruutuspainike {
    background-color: transparent;
    color: rgb(9,79,192);
    border: 1px solid rgb(9,79,192);
}

.painikelaatikko {
    position: fixed;
    top: 15%;
    left: 12%;
    width: 75%;
    height: 470px;
    z-index: 10000;
    overflow: hidden;
    background-color: white;
}

.painikelaatikko > .painikerivi {
    height: 70px;
}

.painikerivi > .pikavalintapainike {
    float: left;
    width: 30.5%;
    height: 100%;
    background-color: rgb(9,79,192);
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    mergin-right: 3%;
    color: white;
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
    line-height: 20px;
}

.painikelaatikko .painike-aktiivinen {
    background-color: yellow;
    color: black;
}

.painikelaatikko > .peruuta {
    background-color: gray;
    color: white;
    width: 50%;
    height: 80px;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    line-height: 80px;
}