@black: #000000;
@gray25: #191919;
@gray50: #323232;
@gray75: #4B4B4B;
@gray100: #646464;
@gray125: #7D7D7D;
@gray150: #969696;
@gray175: #AFAFAF;
@gray200: #C8C8C8;
@gray210: #D2D2D2;
@gray220: #DCDCDC;
@gray225: #E1E1E1;
@gray230: #E6E6E6;
@gray235: #EBEBEB;
@gray240: #F0F0F0;
@gray245: #F5F5F5;
@gray250: #FAFAFA;
@white: #FFFFFF;
@white-hack: #FFFFFE;

@blue: #0065AF;
@blue-dark: #00538F;
@blue-darker: #003E6B;

@green: #008A00;
@green-dark: #006E00;
@green-darker: #005300;

@red: #DD0000;
@red-dark: #B10000;
@red-darker: #850000;

@focus-color: #0068B3;