@import "colors.less";
@import "typography.less";
@import "../styles.less";

#vayla {
  display: flex;
  flex-direction: column;

  .body-text();

  > * {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: inherit;
    }
  }

  div, span {
    word-break: normal;
  }

  // Väylän typography hommat. Nämä voi ottaa pois sitten, kun väylän tyylit on otettu kaikkialla käyttöön.
  h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.25;
    color: @gray25;
  }

  h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    color: @gray25;
  }

  h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 1.25;
    color: @gray25;
  }

  h4 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
    color: @gray25;
  }

  h5 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25;
    color: @gray25;
    margin-bottom:23px;
  }

  label {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;

    /* gray25 */

    color: @gray25;
  }
}
