@import "colors.less";

.input-yhteiset-arvot() {
  font-size: 0.875rem;
  background-color: @white;
  height: 40px;
  outline-style: solid;
}
.select-button-yhteiset-arvot() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: none;
}
.select-ul-yhteiset-arvot() {
  list-style: none;
  padding-left: 0px;
  background-color: @white;
}
.select-li-yhteiset-arvot () {
  height: 40px;
}
.font-yhteiset-arvot() {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: @gray25;
}

label {
  &.input, &.select {
    .font-yhteiset-arvot();

    &:focus {
      color: @focus-color;
    }
    &:disabled {
      color: @gray100;
    }
    &-error {
      color: @red;
    }
  }
}
.error-message {
  .font-yhteiset-arvot();
  color: @red;
}

.input- {
  &default {
    .font-yhteiset-arvot();
    .input-yhteiset-arvot();
    outline-color: @gray200;
    outline-width: 1px;
    outline-offset: -1px;

    &-nakoinen {
      .font-yhteiset-arvot();
      .input-yhteiset-arvot();
      outline-color: @gray200;
      outline-width: 1px;
      outline-offset: -1px;

      display: flex;
      > * {
        align-self: center;
        padding-left: 5px;
      }
    }

    &:hover {
      outline-color: @gray200;
      outline-width: 2px;
      outline-offset: -2px;
    }

    &:focus {
      outline-color: @focus-color;
      outline-width: 3px;
      outline-offset: -3px;
    }

    &:disabled {
      background-color: @gray225;
      outline-color: @gray200;
      outline-width: 1px;
      outline-offset: -1px;
    }
  }

  &error- {
    &default {
      .font-yhteiset-arvot();
      .input-yhteiset-arvot();
      outline-color: @red;
      outline-width: 1px;
      outline-offset: -1px;

      &:hover {
        outline-width: 2px;
        outline-offset: -2px;
      }
      &:focus {
        outline-width: 3px;
        outline-offset: -3px;
      }
    }
  }
}

.select {
  &-default {
    .font-yhteiset-arvot();
    .input-yhteiset-arvot();
    > button {
      .select-button-yhteiset-arvot();
    }
    > ul {
      .select-ul-yhteiset-arvot();

      > li {
        .select-li-yhteiset-arvot();
        display: flex;
        > * {
          align-self: center;
          padding-left: 10px;
          flex: 1;
          line-height: 40px;
        }
        a {
          color: inherit;
          &:hover {
            color:inherit;
            text-decoration: none;
          }
        }
        &:hover {
          background-color: @gray245;
        }

        &:focus {
          background-color: @gray235;
        }
      }
    }
    position: relative;
    z-index: 100;
    outline-color: @gray200;
    outline-width: 1px;
    outline-offset: -1px;

    &:hover {
      outline-color: @gray200;
      outline-width: 2px;
      outline-offset: -2px;
    }

    &:focus {
      outline-color: @focus-color;
      outline-width: 3px;
      outline-offset: -3px;
    }

    &:disabled {
      background-color: @gray225;
      outline-color: @gray200;
    }
  }

  &-error- {
    &default {
      .font-yhteiset-arvot();
      .input-yhteiset-arvot();
      > button {
        .select-button-yhteiset-arvot();
      }
      > ul {
        .select-ul-yhteiset-arvot();

        > li {
          .select-li-yhteiset-arvot();
          display: flex;
          > * {
            align-self: center;
            padding-left: 10px;
            flex: 1;
            line-height: 40px;
          }
          a {
            color: inherit;
            &:hover {
              color:inherit;
              text-decoration: none;
            }
          }
          &:hover {
            background-color: @gray245;
          }

          &:focus {
            background-color: @gray235;
          }
        }
      }
      position: relative;
      z-index: 100;
      outline-color: @red;
      outline-width: 1px;
      outline-offset: -1px;
      &:hover {
        outline-width: 2px;
        outline-offset: -2px;
      }
      &:focus {
        outline-width: 3px;
        outline-offset: -3px;
      }
    }
  }
}

.select-date- {
  &default {
    .font-yhteiset-arvot();
    .input-yhteiset-arvot();
    outline-color: @gray200;
    outline-width: 1px;
    outline-offset: -1px;

    &:hover {
      outline-color: @gray200;
      outline-width: 2px;
      outline-offset: -2px;
    }

    &:focus {
      outline-color: @focus-color;
      outline-width: 3px;
      outline-offset: -3px;
    }

    &:disabled {
      background-color: @gray225;
      outline-color: @gray200;
    }
  }

  &error- {
    &default {
      .font-yhteiset-arvot();
      .input-yhteiset-arvot();
      outline-color: @red;
      outline-width: 1px;
      outline-offset: -1px;
      &:hover {
        outline-width: 2px;
        outline-offset: -2px;
      }
      &:focus {
        outline-width: 3px;
        outline-offset: -3px;
      }
    }
  }
}

.select-time- {
  &default {
    .font-yhteiset-arvot();
    .input-yhteiset-arvot();
    outline-color: @gray200;
    outline-width: 1px;
    outline-offset: -1px;

    &:hover {
      outline-color: @gray200;
      outline-width: 2px;
      outline-offset: -2px;
    }

    &:focus {
      outline-color: @focus-color;
      outline-width: 3px;
      outline-offset: -3px;
    }

    &:disabled {
      background-color: @gray225;
      outline-color: @gray200;
    }
  }

  &error- {
    &default {
      .font-yhteiset-arvot();
      .input-yhteiset-arvot();
      outline-color: @red;
      outline-width: 1px;
      outline-offset: -1px;

      &:hover {
        outline-width: 2px;
        outline-offset: -2px;
      }
      &:focus {
        outline-width: 3px;
        outline-offset: -3px;
      }
    }
  }
}