@import "colors.less";

.lihavoitu {
  font-weight: 700;
}
.teksti {
  color: @gray25;
}
.small-text {
  font-family:  "Open Sans", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: @gray25;
}
.body-text {
  font-family:  "Open Sans", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: @gray25;
}

.caption {
  font-family:  "Open Sans", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: @black-light;
}

// Design libraryn mukaiset headingit (katso figma)

// Title

.header-yhteiset(@koko: 28px, @korkeus: 32px) {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0; // Ylikirjoittaa selaimen lisäämän marginin.
  font-size: @koko;
  line-height: @korkeus;
}

h1 {
  .header-yhteiset(28px, 32px);
}

// Heading
h2 {
  .header-yhteiset(20px, 24px);
}

// Heading small
h3 {
  .header-yhteiset(16px, 20px);
}

// Subheading
h4 {
  .header-yhteiset(12px, 20px);
  text-transform: uppercase;
}

// Allaolevat on vayla/common.less - tiedostosta.
h5 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
  color: @gray25;
  margin-bottom:23px;
}

label {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;

  /* gray25 */

  color: @gray25;
  margin-bottom: 0px;
  margin-top: 1rem;
}
