{
 :kehitysmoodi false

 :testikayttajat [{:kayttajanimi "tero" :kuvaus "Tero Toripolliisi, POP ely"}
                  {:kayttajanimi "yit_pk" :kuvaus "YIT:n pääkäyttäjä"}
                  {:kayttajanimi "yit_uuvh" :kuvaus "YIT:n urakan vastuuhenkilö"}]

 :http-palvelin {:threads 32}

 :tietokanta {:palvelin "localhost"
              :tietokanta "harja"
              :portti 5432
              :yhteyspoolin-koko 32
              :kayttaja "harja"
              :salasana "harja123"}
 :tietokanta-replica {:palvelin "localhost"
                      :tietokanta "harja"
                      :portti 5432
                      :yhteyspoolin-koko 32
                      :kayttaja "harja"
                      :salasana "harja123"}
 :fim {:url "https://testisonja.vayla.fi/FIM/Person.svc/"}
 :log {:gelf {:taso :debug
              :palvelin "localhost"}
       :hipchat {:taso :warn
                 :huone-id 1396730
                 :token "h4egJmxnIjE1EiApo70VQZlJOl29g6Hzo5dcFGnD"}

       :email {:taso :error
               :palvelin "solita-service-1.solita.fi"

               ;; Lisää nimesi vektoriin, jos haluat spämmiä
               :vastaanottaja [;;"tatu.tarvainen@solita.fi"
                               ;;"jarno.vayrynen@solita.fi"
                               ;;"mikko.ronkkomaki@solita.fi"
                               ]}
       }

 ;; Jos haluat käyttää Sonjaa, ota se pois kommenteista
 ;; tarvii SSH-tunnelin testi-Sonjaan!!
 :sonja
 {:url "tcp://localhost:61616"
  :kayttaja "harja"
  :salasana "harjaxx"
  :tyyppi :activemq}

 :sampo {:lahetysjono-sisaan "Harja13-16.SampoToHarja.Msg"
         :kuittausjono-sisaan "Harja13-16.HarjaToSampo.Ack"
         :lahetysjono-ulos "Harja17.HarjaToSampo.Msg"
         :kuittausjono-ulos "Harja17.SampoToHarja.Ack"
         :paivittainen-lahetysaika nil
         }
 :tloik {:ilmoitusviestijono "tloik-ilmoitukset"
         :ilmoituskuittausjono "tloik-ilmoituskuittaukset"
         :toimenpideviestijono "Harja.HarjaToT-LOIK.Msg"
         :toimenpidekuittausjono "Harja.HarjaToT-LOIK.Ack"}
 :tierekisteri {:url "http://harja-test.solitaservices.fi/harja/integraatiotesti/tierekisteri"}
 :integraatiot {:paivittainen-lokin-puhdistusaika nil}

 :ilmatieteenlaitos {:lampotilat-url "http://weather.weatherproof.fi/tieindeksi2/tulokset.php"}

 :geometriapaivitykset {:tuontivali 60

                        :tieosoiteverkon-shapefile "file://shp/Tieosoiteverkko/PTK_tieosoiteverkko.shp"
                        :tieosoiteverkon-osoite "http://185.26.50.104/PTK_tieosoiteverkko.shz"
                        :tieosoiteverkon-tuontikohde "./shp/Tieosoiteverkko/PTK_tieosoiteverkko.shz"

                        :pohjavesialueen-shapefile "file://shp/Pohjavesialueet/PTV_TIIRA_KP_POHJAVESIALUE.shp"
                        :pohjavesialueen-osoite "http://185.26.50.104/PTV_TIIRA_KP_POHJAVESIALUE.shz"
                        :pohjavesialueen-tuontikohde "./shp/Pohjavesialueet/PTV_TIIRA_KP_POHJAVESIALUE.shz"

                        :talvihoidon-hoitoluokkien-shapefile "file://shp/Talvihoitoluokat/PTV_tl132.shp"
                        :talvihoidon-hoitoluokkien-osoite "http://185.26.50.104/PTV_tl132.shz"
                        :talvihoidon-hoitoluokkien-tuontikohde "./shp/Talvihoitoluokat/PTV_tl132.shz"


                        :soratien-hoitoluokkien-shapefile "file://shp/Soratieluokat/PTV_TIIRA_KP_SORATIELUOKKA.shp"
                        :soratien-hoitoluokkien-osoite "http://185.26.50.104/PTV_TIIRA_KP_SORATIELUOKKA.shz"
                        :soratien-hoitoluokkien-tuontikohde "./shp/Soratieluokat/PTV_TIIRA_KP_SORATIELUOKKA.shz"

                        :siltojen-shapefile "file://shp/Sillat/PTV_silta.shp"
                        :siltojen-osoite "http://185.26.50.104/PTV_silta.shz"
                        :siltojen-tuontikohde "./shp/Sillat/PTV_silta.shz"

                        :turvalaitteiden-shapefile "file://shp/Vesivaylien_turvalaitteet/Turvalaitteet.shp"
                        :turvalaitteiden-osoite "https://ava.vayla.fi/harja/Turvalaitteet.shz"
                        :turvalaitteiden-tuontikohde "./shp/Vesivaylien_turvalaitteet/Turvalaitteet.shz"

                        :kanavien-shapefile "file://shp/Vesivaylien_kanavat/Kanavat.shp"
                        :kanavien-osoite "https://ava.vayla.fi/harja/Kanavat.shz"
                        :kanavien-tuontikohde "./shp/Vesivaylien_kanavat/Kanavat.shz"

                        }

 :kanavasillat {:geometria-url "http://modoc.demo.solita.fi/paakayttaja/rajapinta/tierekisteri/1.2/rakenteet?sivu=%1&tuloksia-per-sivu=1000"
                :paivittainen-tarkistusaika [13 17 00]
                :paivitysvali-paivissa 60}