;; Tämän tiedoston sisältö ylikirjoittaa harjan suoritushakemistosta lataaman asetukset.edn tiedoston asetuksia
;; Käytä meta-dataa määrittelemään miten asetukset mergetään asetukset.edn asetuksiin:
;;  ^:prepend, ^:displace, ^:replace (https://github.com/weavejester/meta-merge/tree/master#usage)

{:geometriapaivitykset ^:replace {}}
