#%RAML 1.0
traits:
  secured:
    description: Vaatii Basic HTTP autentikaation
title: Harja API
description: |
  Harja -järjestelmän julkinen API

  API on jaettu kuuteen pääosioon:
  <ol>
    <li>urakat:
      <ul>
        <li>Urakoiden perustietojen haku joko urakoitsijan id:llä tai yksittäisen urakan id:llä</li>
        <li>Urakan seurantatietojen kirjaus: toteumat, tarkastukset, turvallisuuspoikkeamat, päivystäjätiedot, laatupoikkeamat sekä tietyöilmoitukset</li>
        <li>Urakan Tieliikennekeskuksen tekemien ilmoitusten haku</li>
      </ul>
    </li>
    <li>seuranta:
        <ul>
          <li>Reaaliaikaisten seurantatietojen, kuten esim. aura-auton liikkeiden kirjaus</li>
        </ul>
      </li>
    <li>ilmoitukset: 
      <ul>
        <li>Tieliikennekeskuksen urakalle tekemien ilmoitusten haku</li>
        <li>Kuittausten eli toimenpiteiden tekeminen ilmoituksille</li>
      </ul>   
    </li>
    <li>tieluvat:
        <ul>
          <li>Tielupien haku</li>
        </ul>
    </li>
    <li>päivystäjätiedot:
          <ul>
            <li>Päivystäjätietojen haku</li>
          </ul>
      </li>
  </ol>
version: 1.0.64
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://testiapi.vayla.fi/harja/api (testi) & https://api.vayla.fi/harja/api (tuotanto)'
documentation:
  - title: Kuvaus
    content: |
      Harja -järjestelmän julkinen API

      API on jaettu kuuteen pääosioon:
      <ol>
        <li>urakat:
          <ul>
            <li>Urakoiden perustietojen haku joko urakoitsijan id:llä tai yksittäisen urakan id:llä</li>
            <li>Urakan seurantatietojen kirjaus: toteumat, tarkastukset, turvallisuuspoikkeamat, päivystäjätiedot, laatupoikkeamat sekä tietyöilmoitukset</li>
            <li>Urakan Tieliikennekeskuksen tekemien ilmoitusten haku</li>
          </ul>
        </li>
        <li>seuranta:
            <ul>
              <li>Reaaliaikaisten seurantatietojen, kuten esim. aura-auton liikkeiden kirjaus</li>
            </ul>
          </li>
        <li>ilmoitukset: 
          <ul>
            <li>Tieliikennekeskuksen urakalle tekemien ilmoitusten haku</li>
            <li>Kuittausten eli toimenpiteiden tekeminen ilmoituksille</li>
          </ul>   
        </li>
        <li>tieluvat:
            <ul>
              <li>Tielupien haku</li>
            </ul>
        </li>
        <li>päivystäjätiedot:
              <ul>
                <li>Päivystäjätietojen haku</li>
              </ul>
          </li>
      </ol>
  - title: Tekninen kuvaus
    content: |-
      Harja -järjestelmän rajapinta on toteutettu REST-API:na, jossa tieto liikkuu JSON-formaatissa. 

      Tietoliikenne Harjan palvelimille kulkee Väylän keskitetyn gatewayn kautta (Oracle Enterprice Gateway). Siirtoprotokollana käytetään HTTPS. Käyttäjän tunnistaminen tehdään käyttäen HTTP Basic autentikaatiota tunnus-salasana -parina. Väylä hallinnoi järjestelmä-/urakoitsijakohtaisia tunnuksia.

      Kutsut voi lähettää gzipillä pakattuina merkitsemällä content encodingin gzipiksi.

      Huomioitavaa:
      <ul>
        <li>Kaikki ajat raportoidaan Suomen aikavyöhykkeessä GMT+2/3. Aikaleimat täytyy siis raportoida formaatissa: "2016-11-03T03:43:14+02:00"</li>
        <li>Kaikki toteumien tehtävien ja materiaalien määrät raportoidaan Harjan urakkahaun palauttamassa yksikössä. Harja ei tee muunnoksia raportoiduille yksiköille.</li>
      </ul>
  - title: Sijaintitiedot
    content: |
      Kaikki koordinaattisijainnit ilmoitetaan Harjaan EUREF-FIN koordinaatistossa. Koordinaattipisteiden lisäksi vastaanotetaan suunta joka on aseteluku väliltä: 0-360.
  - title: Tierekisteriurakkakoodit selitteineen
    content: |-
      Tierekisteriurakkakoodit:

      - urakka 100 yrittäjä Paikallinen yrittäjä hoitaa
      - urakka 400 Kunta Paikallinen kunta hoitaa
      - urakka 2062 Ke-Suomi Keski-Suomen valaistus- urakka
      - urakka 3001 betonitie Betonitie
      - urakka 3002 HTU PPS HTU-piirien pääteiden päällysteiden palvelusopimus
      - urakka 3003 Opäälpa1 Oulun päälllystepalvelu 1
      - urakka 3004 Opäälpa2 Oulun päälllystepalvelu 2
      - urakka 3005 KaS PS Kaakkois-Suomen päällystepalvelusopimus
      - urakka 3006 P_Kimppa Pirkanmaan Kimppa 2013-17
      - urakka 4001 U-tm Uudenmaan tiemerkinnät
      - urakka 4002 T-tm Turun tiemerkinnät
      - urakka 4003 KaS-tm Kaakkois-Suomen tiemerkinnät
      - urakka 4004 H-tm Hämeen tiemerkinnät
      - urakka 4005 SK-tm Savo-Karjalan tiemerkinnät
      - urakka 4006 KeS-tm Keski-Suomen tiemerkinnät
      - urakka 4007 V-tm Vaasan tiemerkinnät
      - urakka 4008 O-tm Oulun tiemerkinnät
      - urakka 4009 L-tm Lapin tiemerkinnät
      - urakka 5001 OSiltopa1 Oulun siltojen palvelusopimus 1
      - urakka 5002 OSiltopa2 Oulun siltojen palvelusopimus 2
      - urakka 5003 KaSSiltopa Kaakkois-Suomen siltojen palvelusopimus
      - urakka 6001 U-telemat Uudenmaan tiepiirin telematiikan hoito 2009-2012
      - urakka 6002 Nevia Valtakunnallinen matka-ajan seurantasopimus
      - urakka 9001 JCDeaux JCDeauxin mainossoppari
  - title: Versiohistoria
    content: |
      <b>Nykyinen versio: 1.0.63</b>
      <b>Julkaistu: 22.08.2023</b>

      <b>Versiohistoria:</b>
      - Versionumero 1.0.63 Julkaistu 22.08.2023
          - Lisätty tieturvallisuustarkastus rajapinta.
      - Versionumero 1.0.62 Julkaistu 14.08.2023
          - Lisätty massamäärä paikkaus-rajapintaan.
      - Versionumero 1.0.61 Julkaistu 04.08.2023
          - Korjattu dokumentaatio materiaaliraportin hakurajapinnasta vastaamaan toteutusta.
      - Versionumero 1.0.60 Julkaistu 27.06.2023
          - Päivitty viimeisin versio työmaapaivakirja rajapinnoista. Toteutus testattavissa mutta voi muuttua palautteen perusteella.
      - Versionumero 1.0.59 Julkaistu 01.05.2023
          - Lisätty vedos työmaapaivakirja rajapinnoista. Ei vielä toteutettu.
      - Versionumero 1.0.58 Julkaistu 12.04.2023
          - Päivitetty yhteystietorajapinnan kuvaus vastaamaan todellisuutta. Sahkoposti-elementin nimi on email.
      - Versionumero 1.0.57 Julkaistu 27.10.2022
          - Lisätty uusi rajapinta urakan materiaaliraporttien hakua varten: GET "/api/urakat/:id/raportit/materiaali/:alkupvm/:loppupvm
      - Versionumero 1.0.56 Julkaistu 14.4.2022
          - Ilmoitus-skeemaa laajennettu ei-pakollisilla tiedoilla (alueurakka, kuittaukset). Näitä hyödynnetään ilmoitukset/ytunnus-rajapinnassa, joka palauttaa ilmoitukset ja kuittaukset, jotka annettuna aikavälinä ovat urakoitsijan urakoissa päivittyneet.
          - Versio sisältää myös analytiikkaportaalin käyttämän rajapinnan.
          - Poistettu varusterajapinta käytöstä.
      - Versionumero 1.0.55 Julkaistu 24.2.2022
          - Toteuma-skeemaa laajennettu ei-pakollisilla tiedoilla (tiesijainti, muokkaustiedot)
      - Versionumero 1.0.54 Julkaistu 26.1.2022
          - Toteuman skeemaan (koskee piste- ja reittitoteumia) lisätty tekstikenttä: lisatieto. Kentässä voi välittää toteumaan liittyvää taustatietoa.
      - Versionumero 1.0.53 Julkaistu 24.2.2021
          - Yhteystietorajapinnan roolienumeraatioon uusia rooleja: Vastuunalainen työnjohtaja, Päätoiminen apulainen, Apulainen/Työnjohtaja/Vipa-tehtävät, Viherhoidosta vastaava henkilö.
      - Versionumero 1.0.52 Paikkausten työmenetelmä muutettu enumeraatioksi. 3.11.2020
      - Versionumero 1.0.51 Julkaistu 11.9.2020
          - Työkoneseurannan viivageometria erotettu erilliseen skeematiedostoon koodigeneroinnin helpottamiseksi. Skeemamääritys ei muutu. Päivitetty versiohistoria raml-tiedoston tasolle.
      - Versionumero 1.0.50 Julkaistu 11.9.2020
          - Paikkausrajapinnan enumeraatioon lisätty arvoja.
      - Versionumero 1.0.48 Julkaistu 9.6.2020
          - Ilmoitusrajapinta palauttaa uusia arvoja. Ilmoituksen tila palautetaan aina. Ilmoituksesta palautetaan relevantit aikaleimat: ilmoitettu, valitetty-harjaan, vastaanotettu-harjaan ja mikäli kyseessä on päivitetty ilmoitus paivitetty-harjaaan. Aiheutti-toimenpiteita palautuu vain, jos ilmoitus aiheutti toimenpiteitä.
      - Versionumero 1.0.47 Julkaistu 1.4.2020
          - Yhteystietorajapinnan roolienumeraatioon kolme uutta roolia: Viranomais- ja vahingonkorvausasiat, Työmaavalvoja ja Työmaavalvojan sijainen.
      - Versionumero 1.0.46 Julkaistu 22.11.2019
          - Työkoneseurantarajapintaan alfanumeerinen tieto: tunnus. Tunnus yksilöi käytetyn työkoneen.
      - Versionumero 1.0.45 Julkaistu 4.6.2019
          - Uusi urakkatyyppi: teiden-hoito. Palautetaan Harjasta kuitenkin edelleen tyyppinä hoito.
      - Versionumero 1.0.44 Julkaistu 26.2.2019
          - Pistetoteuman kirjauksen ja työkoneseurannan kirjauksen sisällössä pitää antaa jotain sijaintikentälle.
      - Versionumero 1.0.43 Julkaistu 14.2.2019
          - Paikkauskohteita voi poistaa uuden rajapinnan kautta.
      - Versionumero 1.0.42 Julkaistu 12.2.2019
          - Piste- ja reittitoteumakirjausten mukana voi nyt ilmoittaa työkonetyypin.
      - Versionumero 1.0.41 Julkaistu 8.2.2019
          - Työkoneseurannassa voi antaa sijaintitiedon viivageometriana pisteen sijasta.
      - Versionumero 1.0.40 Julkaistu 21.12.2018
          - Organisaatio päivitetty esimerkeissä Väyläksi. Päivitys ei sisällä toiminnallista rajapintamuutosta. 
      - Versionumero 1.0.39 Julkaistu 11.12.2018
          - Päällystysilmoituksen kirjaus rajapinta on muuttunut. Pääkohteelle ei ilmoiteta kaistaa eikä ajorataa, mutta nämä tiedot on annettava alikohteille sekä alustalle tehdyille toimenpiteille.
      - Versionumero 1.0.38 Julkaistu 22.11.2018
          - Urakoiden haku palauttaa Liikenneviraston järjestelmille kaikki urkat.
          - Mahdollisuus hakea urakat tyypeittäin.
          - Mahdollisuus hakea ylläpitokohdeosien geometriat.
      - Versionumero 1.0.37 Julkaistu 27.07.2018
          - Tielupa hyväksyy kaapeliasennustyypiksi "Muuntamo":n
      - Versionumero 1.0.36 Julkaistu 9.7.2018
          - Tieluvan kirjaus ottaa alueurakat arrayna.
      - Versionumero 1.0.35 Julkaistu 27.4.2018
          - Päällystysilmoituksen kirjauksessa voi nyt kirjata alustatoimenpiteillä tienumeron. Jos tienumeroa ei anna, käytetään pääkohteen tienumeroa.
      - Versionumero: 1.0.34 Julkaistu: 29.3.2018: 
          - Kuulamyllyarvojen etuliitteet oikaistu.  
              - N10 -> AN10
              - N14 -> AN14
              - N19 -> AN19 
              - N30 -> AN30 
              - N2 -> AN2 
      - Versionumero: 1.0.33 Julkaistu: 20.3.2018: 
          - Päällystyskohteilta poistettu hypyt. Jatkossa hypyt voi antaa yksinkertaisesti jättämällä alikohteiden väliin tyhjää. 
      - Versionumero: 1.0.32 Julkaistu: 28.2.2018:
          - Ylläpitokohteiden ja päällystysilmoituksen päivitys ottaa nyt vastaan uuden, vapaaehtoisen hyppy-kentän alikohteelle. Jos sen arvo on true, merkitään alikohde hypyksi. Urakan kohteiden haku palauttaa tiedon, onko kyseessä hyppy-alikohde.
      - Versionumero: 1.0.31 Julkaistu: 1.2.2018:
          - Lisätty uudet rajapinnat paikkauksille sekä niiden hinnoitteluille.
      - Versionumero: 1.0.30 Julkaistu: 27.11.2017:
          - Lisätty uusi rajapinta tielupien kirjaamiselle Harjaan.
      - Versionumero: 1.0.29 Julkaistu: 3.11.2017:
          - Tilaajan laadunvalvontakonsulteille lisätty oma tehtävä API:n työkoneseurantaan: tilaajan laadunvalvonta. Nämä havainnot näytetään vain tilaajan käyttäjille. 
      - Versionumero: 1.0.28 Julkaistu: 21.9.2017:
          - Ilmoituskuittausten kautta voidaan ilmoittaa lopetuksen yhteydessä aiheuttiko ilmoitus toimenpiteitä vai ei.
      - Versionumero: 1.0.27 Julkaistu: 11.9.2017:
          - Mahdollisuus merkitä näytetäänkö tarkastuksia urakoitsijoille vai ei.
      - Versionumero: 1.0.26 Julkaistu: 26.5.2017:
          - Ylläpitokohteiden päivityksessä ja päällystysilmoituksen kirjauksessa voi antaa karttapäivämäärän, jonka mukaan osoite muunnetaan uusimmalle verkolle. Samoin ylläpitokohteiden mukana välitetään tieto, minkä päivän verkolla ylläpitokohteet ovat Harjassa.
      - Versionumero: 1.0.25 Julkaistu: 15.5.2017:
          - Mahdollisuus raportoida urakan työtunnit vuosikolmanneksittain.
      - Versionumero: 1.0.24 Julkaistu: 5.5.2017:
          - Siltatarkastuksille on mahdollista tallentaa tarkastuskohtaisesti liitteitä.
      - Versionumero: 1.0.23 Julkaistu: 19.4.2017:
          - Ylläpidon urakoiden aikataulun kirjauksesta poistettu kenttä tiemerkinta-takaraja. Vain tilaaja voi muuttaa kyseistä arvoa, joten tätä ei ole tarkoitus muokata urakoitsijan rajapinnasta.
      - Versionumero: 1.0.22 Julkaistu: 18.4.2017:
          - Päällystyksen aikataulun kirjaus ei enää huomioi kellonaikaa päällystyksen aloitus- ja lopetuskentälle. Aika on syytä antaa jatkossa pelkästään päivämääränä.
      - Versionumero: 1.0.21 Julkaistu: 13.4.2017:
          - Viheralueiden ja -kuvioiden tietolajitunnisteet korvattu uusilla.
      - Versionumero: 1.0.20 Julkaistu: 4.4.2017:
          - Ylläpitokohteelle on jatkossa mahdollista raportoida tieto, sisältääkö se poikkeamaraportin.
      - Versionumero: 1.0.19 Julkaistu: 22.3.2017:
          - Urakan ylläpitokohteen päivityksessä alikohteen kokonaismassa-kenttä on nyt nimeltään massamaara.
      - Versionumero: 1.0.18 Julkaistu: 20.3.2017:
          - Päällystysilmoituksen kirjauksesta poistettu kenttä edellinen-paallyste.
      - Versionumero: 1.0.17 Julkaistu: 16.3.2017:
          - Tiemerkinnän yks. hint. toteuman kirjauksessa käytetty muutospvm on nyt nimeltään paivamaara.
      - Versionumero: 1.0.16 Julkaistu: 9.3.2017:
          - Lisätty ylläpitokohteen päivitykseen uudet alikohteen kentät: paallystetyyppi, raekoko, tyomenetelma & kokonaismassamaara.
      - Versionumero: 1.0.15 Julkaistu: 7.3.2017:
          - Uudet rajapinnat tiemerkinnän toteumien kirjaamiselle ja poistamiselle
      - Versionumero: 1.0.14 Julkaistu: 7.3.2017:
          - Uusi rajapinta ylläpitokohteiden tarkastusten kirjaamiselle ja poistamiselle
      - Versionumero: 1.0.13 Julkaistu: 23.2.2017:
          - Päivystäjätietojen haun rajapinnat palauttavat ainoastaan voimassa olevat ja tulevat päivystykset, mikäli kutsuja ei rajaa hakua aikavälillä.
      - Versionumero: 1.0.12 Julkaistu: 9.2.2017:
          - Tietolajien haulla voidaan hakea kaikki tietolajin kuvaukset kerralla. Muutospäivämäärää ei enää voi antaa parametrinä.
      - Versionumero: 1.0.11 Julkaistu: 7.2.2017:
          - Ylläpitokohteen päivityksessä ei voi enää päivittää tienumeroa kohteelle tai alikohteelle
      - Versionumero: 1.0.10 Julkaistu: 30.1.2017:
          - Lisää rajapinta ylläpitokohteen määrämuutosten hallintaan
      - Versionumero: 1.0.9 Julkaistu: 24.1.2017:
          - Salli tarkastuksille suppeammat tiedot tarkastajasta.
      - Versionumero: 1.0.8 Julkaistu: 13.1.2017:
          - Päällystysilmoituksen kirjauksesta poistettu mahdollisuus kirjata taloudellinen osa (tyot-avaimen sisältö). Päällystysilmoituksella ei ole enää taloudellista osaa, vaan nämä tiedot käsitellään jatkossa omalla tietomallilla, jolle tulee myöhemmin oma API.
      - Versionumero: 1.0.7 Julkaistu: 2.1.2017:
          - Lisätty toteumien ja tarkastusten poisto
      - Versionumero: 1.0.6 Julkaistu: 29.12.2016:
          - Työkoneiden reaaliaikaseurannan rajapintaan lisätty jyrät uutena työkonetyyppinä.
          - Lisätty uusi rajapinta ylläpitokohteen tietojen päivittämiselle
      - Versionumero: 1.0.5 Julkaistu: 21.12.2016:
          - Urakan yhteystietorajapintaan lisätty tieto urakan vastuu- ja varahenkilöistä 
      - Versionumero: 1.0.4 Julkaistu: 16.11.2016:
          - Poistettu päällystysilmoitukselta omat aikataulutiedot. Jatkossa päällystysilmoituksen aloituspvm, kohteen valmistumispvm ja päällystyksen valmistumispvm ovat sama asia kuin ilmoitukseen kuuluvan ylläpitokohteen vastaavat tiedot.
          - Lisätty päällystysilmoituksen kirjaukseen uusi kenttä "valmis-kasiteltavaksi" (true/false/null). Jos tässä kentässä on arvona true, asetetaan päällystysilmoitus valmiiksi tilaajan käsiteltäväksi (ellei jo ole käsiteltävänä tai käsitelty).
      - Versionumero: 1.0.3 Julkaistu: 2.11.2016:
          - Päällystys-/tiemerkintäurakan aikataulun kirjaus jaettu kahteen eri urakkatyypin mukaiseen endpointtiin (ks. API-dokumentaatio).
      - Versionumero: 1.0.2 Julkaistu: 11.10.2016:
          - Päällystys-/tiemerkintäurakan aikataulun kirjaukseen lisätty uusi kenttä: tiemerkinta-takaraja. Aiemmin tämä laskettin automaattisesti kahden viikon päähän siitä hetkestä kun tiemerkinnän saa aloittaa, nyt syötetään käsin.
      - Versionumero: 1.0.1 Julkaistu: 5.10.2016:
          - Turvallisuuspoikkeaman kirjauksessa kentistä "aiheutuneet_vammat" ja "vahingoittuneet_ruumiinosat" tallennetaan vain ensimmäinen arvo. TURI vastaanottaa näistä vain yhden arvon, joten myös Harjaan kirjataan jatkossa vain yksi arvo (EU-standardin mukaisesti). Itse rajapinta pysyy samana kuin ennenkin, muutos on pelkästään sisäinen.
          - Estetty turvallisuuspoikkeaman tapahtumapäivämäärän kirjaaminen tulevaisuuteen API:n kautta.
      - Versionumero: 1.0.0 Julkaistu: 1.10.2016:
          - Ensimmäinen virallinen versio
      - Versionumero: 0.3.1. Julkaistu: 28.9.2016:
          - Lisätty ping-palvelu, jolla voidaan tarkistaa yhteys
      - Versionumero: 0.3.0. Julkaistu: 14.9.2016:
          - Päivietty aikataulun skeemaan uudet termit: alku -> aloitettu, loppu -> valmis.
      - Versionumero: 0.2.9. Julkaistu: 9.9.2016:
          - Lisätty uusi palvelu ylläpidon päällystys-/tiemerkintäurakoiden aikataulutietojen päivittämiselle. Päällystyksen ja kohteen valmistumisen aikataulutiedot voidaan kirjata vain siihen urakkaan, johon ylläpitokohde kuuluu. Tiemerkinnän aikataulu voidaan päivittää siihen urakkaan, joka on merkitty kohteelle suorittajaksi. Kirjattaessa aikataulutiedot päällystysilmoitukselle kyseisen ilmoituksen tulee olla lisätty Harjaan, muuten tietoja ei päivitetä.
          - Lisätty päällystysilmoituksen kirjaukseen aikataulutietojen vastaanotto.
          - Lisätty laskenta päällystysilmoituksen muutoshinnalle.
      - Versionumero: 0.2.8. Julkaistu: 7.9.2016:
          - Urakan ylläpitokohteiden haku palauttaa jatkossa myös aikataulutiedot.
      - Versionumero: 0.2.7. Julkaistu: 1.9.2016:
          - Haettaessa tietolajin kuvaus Harjasta ei enää palauteta sellaisia ominaisuuksia, joilla ei ole järjestysnumeroa.
      - Versionumero: 0.2.6. Julkaistu: 11.8.2016:
          - Työkoneiden reaaliaikaseurantaan on lisätty uudet tehtävät ylläpidon ajoneuvoja varten: asfaltointi (pääasfaltointilaite), tiemerkintä, kuumennus (kuumennus-/remix-laitteet), sekoitus tai stabilointi (sekoitus- ja stabilointijyrsimet), turvalaite (TMA-laitteet)
      - Versionumero: 0.2.5. Julkaistu 8.8.2016:
          - Sopimusnumero on muutettu vaihtoehtoiseksi toteumille. Jos sopimusnumeroa ei ole annettu, tehdään kirjaus automaattisesti urakan pääsopimukselle. 
      - Versionumero: 0.2.4. Julkaistu 27.7.2016:
          - Varusterajapinnat päivitetty. Jatkossa varusteiden ja laitteiden teknisten arvojen parsinta tehdään Harjan puolella. Samalla mahdollistettu usean varustetoteuman sekä yksittäisen varustetoteuman sisällä usean toimenpiteen kirjaaminen kerralla.
      - Versionumero: 0.2.3. Julkaistu 15.7.2016:
          - Yhtenäistetty työkoneiden tehtävien enum-arvot kannan omien enumien kanssa, mistä johtuen tehtävien nimiin tehty pieniä muutoksia.
          - Ylläpito-urakoissa seuraavat kirjattavat työkone-tyypit näytetään Tilannekuvassa Ylläpito-osiossa: paaasfalttilevitin, remix-laite, sekoitus-ja-stabilointijyrsin, tma-laite
      - Versionumero: 0.2.2. Julkaistu 13.7.2016:
          - Lisätty rajapinnat suljettujen tieosien kirjaamiselle ja poistolle. 
      - Versionumero: 0.2.1. Julkaistu 6.7.2016:
          - Turvallisuuspoikkeama yhtenäistetty TURI:n kanssa, mistä johtuen tehty seuraavat muutokset:
          - Poistettu kenttä: paattynyt
          - Poistettu kenttä: tyotehtava
          - Poistettu kenttä: laatija (jatkossa tallennetaan suoraan API-käyttäjän id:nä)
          - Uusi pakollinen kenttä: otsikko (string, max. 1024 merkkiä)
          - Uusi vapaaehtoinen kenttä: paikan_kuvaus (string, max. 2048 merkkiä)
          - Uusi vapaaehtoinen kenttä: vaarallisten_aineiden_kuljetus (boolean)
          - Uusi vapaaehtoinen kenttä: vaarallisten_aineiden_vuoto (boolean, true vain jos sisälsi kuljetuksen)
          - Myös korjaaviin toimenpiteisiin on tehty muutoksia:
          - Uusi vapaaehtoinen kenttä: otsikko (string, max 2048 merkkiä)
          - Uusi vapaaehtoinen kenttä: toteuttaja (string, max 1024 merkkiä)
      - Versionumero: 0.2.0. Julkaistu 4.7.2016:
          - Teiden ylläpidon rajapintojen työstäminen aloitettu. Ensimmäinen toteutettava on rajapinta ylläpitourakan kohteiden haku.
      - Versionumero: 0.1.8. Julkaistu 1.7.2016:
          - Urakkahaku palauttaa kokonaishintaiset ja yksikköhintaiset tehtävät omassa elementissään. Tehtävät ovat jatkossa vakiojoukko, jonka Harjan pääkäyttäjä määrittää ja näin ollen eivät enää ole riippuvaisia urakkakohtaisista suunnitelmatiedoista. Samalla päivitetty lista työkoneiden reaaliaikaseurannan tehtävistä.
      - Versionumero: 0.1.7. Julkaistu 16.5.2016:
          - Siltatarkastuksen kirjaamisessa mahdollisuus antaa tarkastuskohteelle arvo "eiPade", joka tarkoittaa, ettei kyseistä ominaisuutta voida arvioida tässä sillassa. Arvo voi olla myös tyhjä string, joka tulkitaan arvoksi eiPade.
      - Versionumero: 0.1.6. Julkaistu 20.5.2016:
          - Päivystyksille lisätty id kenttä. Yksittäinen päivystys voidaan nyt poistaa käyttäen samaa id:tä. Samoin päivitys onnistuu tätä kautta.
          - Varusteiden lisäykseen, päivitykseen ja hakuihin lisätty pakollisena kenttänä tilannepäivämäärä, jolla kerrotaan lähdejärjestelmän käyttävän tieverkon julkaisupäivämäärä, jotta sijainti voidaan kohdistaa oikealle verkolle. Haut palauttavat myös osoitteet tälle verkolle muunnettuna.
      - Versionumero: 0.1.5. Julkaistu 13.5.2016:
          - Tarkastuksessa on optionaalinen "laadunalitus" kenttä, jolla voidaan sanoa onko kyseessä
            laadun alitus vai ei. Jos kenttää ei ole, toimitaan vanhan päättelyn mukaan, jossa
            havainnot tekstin mukaan päätellään tieto.
      - Versionumero: 0.1.4. Julkaistu 4.5.2016:
          - Mahdollisuus poistaa urakan haluttujen päivystäjien päivystykset.
      - Versionumero: 0.1.3. Julkaistu 18.4.2016
          - Tuki gzipatuille payloadeille.
      - Versionumero: 0.1.2. Julkaistu 29.3.2016
          - Turvallisuuspoikkeaman muotoa on korjattu.
      - Versionumero: 0.1.1. Julkaistu 24.3.2016
          - Turvallisuuspoikkeaman ammatin kirjaaminen tietystä enum-joukosta. Jos annetaan vaihtoehto muu_tyontekija, voidaan antaa tarkempi kuvaus ammatista. Muussa tapauksessa selitettä ei tallenneta.
          - Turvallisuuspoikkeaman aiheutuneiden vammojen kirjaaminen tietystä enum-joukosta entisen vapaatekstin sijaan
          - Turvallisuuspoikkeaman uusi kirjattava tieto: aiheutuneet seuraukset (vapaateksti)
          - Turvallisuuspoikkeaman uusi kirjattava tieto: vahingoittuneet ruumiinosat (enum-joukko)
          - Turvallisuuspoikkeaman uusi kirjattava tieto: jatkuuko sairauspoissaolo (true tai false)
      - Versionumero: 0.1.0. Julkaistu 17.3.2016
          - Uusi turvallisuuspoikkeamatyyppi: muu
      - Versionumero: 0.0.9. Julkaistu 11.2.2016
          - Varustetoteumilta poistettu tarkastuspäivämäärä
          - Turvallisuuspoikkeamalle vaihdettu uudet tyyppi-arvot, yksi tai useampi: tyotapaturma, vaaratilanne, turvallisuushavainto
          - Turvallisuuspoikkeama vastaanottaa vahinkoluokittelun, yksi tai useampi: henkilovahinko, omaisuusvahinko, ymparistovahinko
          - Turvallisuuspoikkeama vastaanottaa vakavuusastee: vakava tai lieva
      - Versionumero: 0.0.8. Julkaistu: 9.2.2016
          - Pistetoteumia on mahdollista kirjata useampi kerralla sisällyttämällä kirjattavat toteumat JSONissa "pistetoteumat" avaimen alle
          - Reittitoteumia on mahdollista kirjata useampi kerralla sisällyttämällä kirjattavat toteumat JSONissa "reittitoteumat" avaimen alle
          - Muutokset ovat taaksepäinyhteensopivia, eli toteumia on edelleen mahdollista kirjata myös yksi samalla tavalla kuin aiemmin.
      - Versionumero: 0.0.7. Julkaistu: 27.1.2016
          - Siltatunnus lisätty siltatarkastuksiin
      - Versionumero: 0.0.6. Julkaistu: 11.12.2015 . Muutokset:
          - Soratie-, talvihoito- ja tiestötarkastus rajapinnat on refaktoroitu vastaamaan uutta tietomallia
          - Vanha havainto rajapinta on muutettu laatupoikkeama rajapinnaksi
      - Versionumero: 0.0.5. Julkaistu: 30.11.2015 . Muutokset:
          - Ilmoitusten haut siirretty urakoiden alle. Kaksi erillistä operaatiota ilmoitusten reaaliaikaiselle haulle ja massahaulle viimeisen id:n jälkeen.
          - Päivystäjätietojen haku toteutettu kolmena eri GET-palveluna: haku urakka id:llä, sijainnilla tai puhelinnumerolla
          - Toteumalle merkitty pakolliseksi alkamis- ja päättymisaika
          - Reittipisteelle merkitty pakolliseksi antaa aika
          - Totemien kirjaamisesta muutettu materiaalien ja tehtävien yksiköt enumin sijasta tekstiksi. Käytettävät arvot yksiköille & materiaaleille otetaan jatkossa urakan tietojen hausta.
          - Lisätty urakoiden haun vastaukseen kirjausyksiköt tehtäville & kaikki materiaalit
          - Lisätty uusi toteumatyyppi vahingonkorvaus reitti, piste & varustetoteumille
          - Tyokoneseurannasta poistettu sopimus id.
          - Varusterajapinta päivitetty vastaamaan tierekisterin rajapintaa
          - Urakoiden hakuun lisätty alueurakkanumero
          - Tarkennettu urakan haun vastausta. Kertoo nyt urakan sopimusten yksikkö- ja kokonaishintaiset tehtävät listassa, joita voidaan käyttää kirjaaman toteumia.
          - Kirjattu tarkennuksia API:n operaatioiden kuvauksiin.
          - Suunta lisätty työkone seurantaan. Suunta annetaan astelukuna.
          - Tietolajien haku varusteille päivitetty. Tietolajit haetaan yksi kerrallaan Tierekisteristä.
          - Poikkeamat poistetu rajapinnasta
          - Muutoksia varusterajapintaan
          - Haetaan vain yksi tietolaji kerrallaan
      - Versionumero: 0.0.4. Julkaistu: 14.7.2015. Muutokset:
          - Toteumien materiaalien ja tehtävien määrää muutettu vastaamaan nykyistä tietomallia
      - Versionumero: 0.0.3. Julkaistu: 8.7.2015. Muutokset:
          - Tiestö-, soratie- ja talvihoitotarkastusten payloadit yksinkertaistettu
      - Versionumero: 0.0.2. Julkaistu: 10.6.2015. Muutokset:
          - Poistettu päivystäjätietojen haku
          - Lisätty tielupien haku
          - Lisätty tietyö ilmoituksen kirjaus
      - Versionumero: 0.0.1. Julkaistu: 9.6.2015. Muutokset:
          - Ensimmäinen versio julkaistu
securitySchemes:
  basic:
    type: Basic Authentication
annotationTypes:
  oas-format:
    type: string
    allowedTargets: TypeDeclaration
types:
  kirjaus-response:
    type: object
    properties:
      id:
        type: string
        required: false
      virheet:
        type: string
        required: false
      varoitukset:
        type: string
        required: false
      ilmoitukset:
        type: string
        required: false
      huomiot:
        maxItems: 100
        type: array
        items:
          type: object
          properties:
            tunniste:
              type: file_resources_api_schemas_entities_tunniste.schema.json
              additionalProperties: false
              required: false
            varoitukset:
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  varoitus:
                    type: string
                    required: false
                additionalProperties: false
              required: false
            virheet:
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  virhe:
                    type: string
                    required: false
                additionalProperties: false
              required: false
            ilmoitukset:
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  tiedotus:
                    type: string
                    required: false
              required: false
          additionalProperties: false
        required: false
  urakoiden-haku-response:
    type: object
    properties:
      urakat:
        maxItems: 700
        type: array
        items:
          type: object
          properties:
            urakka:
              type: object
              properties:
                tiedot:
                  type: file_resources_api_schemas_entities_urakka-otsikko.schema.json
                  additionalProperties: false
              additionalProperties: false
          additionalProperties: false
        required: false
    additionalProperties: false
  urakan-haku-response:
    type: file_resources_api_schemas_entities_urakka.schema.json
    additionalProperties: false
  reittitoteuman-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      reittitoteuma:
        type: file_resources_api_schemas_entities_reittitoteuma.schema.json
        additionalProperties: false
        required: false
      reittitoteumat:
        type: file_resources_api_schemas_entities_reittitoteumat.schema.json
        additionalProperties: false
        required: false
    additionalProperties: false
  pistetoteuman-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      pistetoteuma:
        type: file_resources_api_schemas_entities_pistetoteuma.schema.json
        additionalProperties: false
        required: false
      pistetoteumat:
        type: file_resources_api_schemas_entities_pistetoteumat.schema.json
        additionalProperties: false
        required: false
    additionalProperties: false
  turvallisuuspoikkeamien-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      viimeksipaivitetty:
        type: string
        required: false
      turvallisuuspoikkeamat:
        maxItems: 100
        type: array
        items:
          type: object
          properties:
            tunniste:
              type: file_resources_api_schemas_entities_tunniste.schema.json
              additionalProperties: false
            kohde:
              type: file_resources_api_schemas_entities_kohde.schema.json
              additionalProperties: false
            sijainti:
              type: file_resources_api_schemas_entities_sijainti.schema.json
            vaylamuoto:
              type: string
              enum:
                - tie
                - vesi
                - rautatie
              required: false
            luokittelu:
              type: array
              items:
                type: string
                enum:
                  - tyotapaturma
                  - vaaratilanne
                  - turvallisuushavainto
              required: false
            ilmoittaja:
              type: file_resources_api_schemas_entities_henkilo.schema.json
              additionalProperties: false
              required: false
            otsikko:
              type: string
            tapahtumapaivamaara:
              type: string
              (oas-format): date-time
            kasitelty:
              type: string
              (oas-format): date-time
              required: false
            toteuttaja:
              type: string
              required: false
            tilaaja:
              type: string
              required: false
            turvallisuuskoordinaattori:
              type: file_resources_api_schemas_entities_henkilo.schema.json
              additionalProperties: false
              required: false
            kuvaus:
              type: string
              required: false
            paikan_kuvaus:
              type: string
              required: false
            vaarallisten_aineiden_kuljetus:
              type: boolean
              required: false
            vaarallisten_aineiden_vuoto:
              type: boolean
              required: false
            henkilovahinko:
              type: file_resources_api_schemas_entities_henkilovahinko.schema.json
              additionalProperties: false
              required: false
            vahinkoluokittelu:
              type: array
              items:
                type: string
                enum:
                  - henkilovahinko
                  - omaisuusvahinko
                  - ymparistovahinko
              required: false
            vakavuusaste:
              type: string
              enum:
                - vakava
                - lieva
            seuraukset:
              type: string
              required: false
            korjaavatToimenpiteet:
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  otsikko:
                    type: string
                    required: false
                  toteuttaja:
                    type: string
                    required: false
                  kuvaus:
                    type: string
                    required: false
                  suoritettu:
                    type: string
                    (oas-format): date-time
                    required: false
                  vastaavahenkilo:
                    type: file_resources_api_schemas_entities_henkilo.schema.json
                    additionalProperties: false
                    required: false
                additionalProperties: false
              required: false
            liitteet:
              type: file_resources_api_schemas_entities_liitteet.schema.json
              additionalProperties: false
              required: false
            kommentit:
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  kommentti:
                    type: string
                    required: false
                additionalProperties: false
              required: false
            juurisyy1:
              type: file_resources_api_schemas_entities_turvallisuuspoikkeama-juurisyy.schema.json
              required: false
            juurisyy2:
              type: file_resources_api_schemas_entities_turvallisuuspoikkeama-juurisyy.schema.json
              required: false
            juurisyy3:
              type: file_resources_api_schemas_entities_turvallisuuspoikkeama-juurisyy.schema.json
              required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  tiestotarkastuksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tarkastukset:
        maxItems: 2000
        type: array
        items:
          type: object
          properties:
            tarkastus:
              type: file_resources_api_schemas_entities_tarkastus.schema.json
              additionalProperties: false
          additionalProperties: false
        required: false
    additionalProperties: false
  talvihoitotarkastuksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tarkastukset:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            tarkastus:
              type: file_resources_api_schemas_entities_tarkastus.schema.json
              additionalProperties: false
            mittaus:
              type: object
              properties:
                hoitoluokka:
                  type: integer
                  required: false
                lumimaara:
                  type: number
                  required: false
                tasaisuus:
                  type: number
                  required: false
                kitka:
                  type: number
                  required: false
                lampotilaIlma:
                  type: number
                  required: false
                lampotilaTie:
                  type: number
                  required: false
              additionalProperties: false
              required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  soratietarkastuksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tarkastukset:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            tarkastus:
              type: file_resources_api_schemas_entities_tarkastus.schema.json
              additionalProperties: false
            mittaus:
              type: object
              properties:
                hoitoluokka:
                  minimum: 1
                  maximum: 2
                  type: integer
                  required: false
                tasaisuus:
                  minimum: 1
                  maximum: 5
                  type: integer
                  required: false
                kiinteys:
                  minimum: 1
                  maximum: 5
                  type: integer
                  required: false
                polyavyys:
                  minimum: 1
                  maximum: 5
                  type: integer
                  required: false
                sivukaltevuus:
                  type: number
                  required: false
              additionalProperties: false
          additionalProperties: false
        required: false
    additionalProperties: false
  siltatarkastuksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
      siltatarkastus:
        type: object
        properties:
          tunniste:
            type: file_resources_api_schemas_entities_tunniste.schema.json
          siltatunnus:
            type: string
          tarkastusaika:
            type: string
            (oas-format): date-time
          tarkastaja:
            type: file_resources_api_schemas_entities_henkilo.schema.json
          sillantarkastuskohteet:
            type: object
            properties:
              alusrakenne:
                type: object
                properties:
                  maatukienSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  valitukienSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  laakeritasojenSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
              paallysrakenne:
                type: object
                properties:
                  kansilaatta:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  paallysteenKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  reunapalkinSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  reunapalkinLiikuntasauma:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  reunapalkinJaPaallysteenValisenSaumanSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  sillanpaidenSaumat:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  sillanJaPenkereenRaja:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
              varusteetJaLaitteet:
                type: object
                properties:
                  kaiteidenJaSuojaverkkojenVauriot:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  liikuntasaumalaitteidenSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  laakerit:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  syoksytorvet:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  tippuputket:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  kosketussuojatJaNiidenKiinnitykset:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  valaistuslaitteet:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  johdotJaKaapelit:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  liikennemerkit:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
              siltapaikanRakenteet:
                type: object
                properties:
                  kuivatuslaitteidenSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  etuluiskienSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  keilojenSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  tieluiskienSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
                  portaidenSiisteysJaKunto:
                    type: file_resources_api_schemas_entities_siltatarkastuskohde.schema.json
                    additionalProperties: false
          liitteet:
            type: file_resources_api_schemas_entities_liitteet.schema.json
            required: false
  laatupoikkeaman-kirjaus:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tunniste:
        type: file_resources_api_schemas_entities_tunniste.schema.json
        additionalProperties: false
      alkusijainti:
        type: file_resources_api_schemas_entities_koordinaattisijainti.schema.json
        additionalProperties: false
      loppusijainti:
        type: file_resources_api_schemas_entities_koordinaattisijainti.schema.json
        additionalProperties: false
        required: false
      kohde:
        type: string
      kuvaus:
        maxLength: 4096
        type: string
      kirjaaja:
        type: file_resources_api_schemas_entities_henkilo.schema.json
        additionalProperties: false
      aika:
        type: string
        (oas-format): date-time
      sisaltaa-poikkeamaraportin:
        type: boolean
        required: false
      liitteet:
        type: file_resources_api_schemas_entities_liitteet.schema.json
        additionalProperties: false
        required: false
      kommentit:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            kommentti:
              type: string
              required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  tyokoneenseurannan-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      havainnot:
        maxItems: 4096
        type: array
        items:
          type: object
          properties:
            havainto:
              type: object
              properties:
                tyokone:
                  type: object
                  properties:
                    id:
                      type: integer
                    tunnus:
                      type: string
                      required: false
                    tyokonetyyppi:
                      type: string
                  additionalProperties: false
                sijainti:
                  type: file_resources_api_schemas_entities_geometria-sijainti.schema.json
                suunta:
                  type: string
                  required: false
                urakkaid:
                  type: integer
                  required: false
                havaintoaika:
                  type: string
                  (oas-format): date-time
                suoritettavatTehtavat:
                  type: file_resources_api_schemas_entities_suoritettavat-tehtavat.schema.json
                  additionalProperties: false
                  required: false
          additionalProperties: false
    additionalProperties: false
  tyokoneenseurannan-viivakirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      havainnot:
        maxItems: 4096
        type: array
        items:
          type: object
          properties:
            havainto:
              type: object
              properties:
                tyokone:
                  type: object
                  properties:
                    id:
                      type: integer
                    tunnus:
                      type: string
                      required: false
                    tyokonetyyppi:
                      type: string
                  additionalProperties: false
                sijainti:
                  type: file_resources_api_schemas_entities_geometria-viivasijainti.schema.json
                suunta:
                  type: string
                  required: false
                urakkaid:
                  type: integer
                  required: false
                havaintoaika:
                  type: string
                  (oas-format): date-time
                suoritettavatTehtavat:
                  maxItems: 10
                  type: file_resources_api_schemas_entities_suoritettavat-tehtavat.schema.json
                  additionalProperties: false
                  required: false
          additionalProperties: false
    additionalProperties: false
  ilmoitusten-haku-response:
    type: object
    properties:
      ilmoitukset:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            ilmoitus:
              type: object
              properties:
                ilmoitusid:
                  type: integer
                tunniste:
                  type: string
                  required: false
                tila:
                  type: string
                  enum:
                    - kuittaamaton
                    - vastaanotettu
                    - aloitettu
                    - lopetettu
                    - ei-valitetty
                alueurakkanumero:
                  type:
                    - string
                    - integer
                  required: false
                ilmoitettu:
                  type: string
                  (oas-format): date-time
                valitetty-harjaan:
                  type: string
                  (oas-format): date-time
                valitetty-urakkaan:
                  type: string
                  (oas-format): date-time
                vastaanotettu-harjaan:
                  type: string
                  (oas-format): date-time
                paivitetty-harjaan:
                  type: string
                  (oas-format): date-time
                  required: false
                ilmoitustyyppi:
                  type: string
                  enum:
                    - tiedoitus
                    - toimenpidepyynto
                    - kysely
                yhteydenottopyynto:
                  type: boolean
                ilmoittaja:
                  type: file_resources_api_schemas_entities_henkilo-opt.schema.json
                  additionalProperties: false
                lahettaja:
                  type: file_resources_api_schemas_entities_henkilo-opt.schema.json
                  additionalProperties: false
                emon-ilmoitusid:
                  type: integer
                  required: false
                kuvat:
                  maxItems: 5
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        required: false
                    additionalProperties: false
                  additionalProperties: false
                  required: false
                selitteet:
                  maxItems: 100
                  type: array
                  items:
                    type: object
                    properties:
                      selite:
                        type: string
                        required: false
                    additionalProperties: false
                  additionalProperties: false
                  required: false
                aihe:
                  type: object
                  properties:
                    id:
                      type: integer
                      required: false
                    nimi:
                      type: string
                      required: false
                  additionalProperties: false
                  required: false
                tarkenne:
                  type: object
                  properties:
                    id:
                      type: integer
                      required: false
                    nimi:
                      type: string
                      required: false
                  additionalProperties: false
                  required: false
                sijainti:
                  type: file_resources_api_schemas_entities_sijainti-myos-vanhat-kaistat.schema.json
                tienumero:
                  minimum: 0
                  type: integer
                  required: false
                otsikko:
                  type: string
                  required: false
                paikankuvaus:
                  type: string
                  required: false
                lisatieto:
                  type: string
                  required: false
                aiheutti-toimenpiteita:
                  type: boolean
                  required: false
                kuittaukset:
                  maxItems: 100
                  type: array
                  items:
                    type: object
                    properties:
                      kuittaus:
                        type: file_resources_api_schemas_entities_toimenpidekuittaus.schema.json
                        additionalProperties: false
                    additionalProperties: false
                  required: false
              additionalProperties: false
              required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  ilmoitustoimenpiteen-kirjaaminen-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      ilmoitustoimenpide:
        type: object
        properties:
          aika:
            type: string
            (oas-format): date-time
          tyyppi:
            type: string
            enum:
              - vastaanotto
              - aloitus
              - muutos
              - lopetus
              - vastaus
          aiheutti-toimenpiteita:
            type: boolean
            required: false
          ilmoittaja:
            type: object
            properties:
              henkilo:
                type: file_resources_api_schemas_entities_henkilo.schema.json
                additionalProperties: false
              organisaatio:
                type: file_resources_api_schemas_entities_organisaatio.schema.json
                additionalProperties: false
            additionalProperties: false
          kasittelija:
            type: object
            properties:
              henkilo:
                type: file_resources_api_schemas_entities_henkilo.schema.json
                additionalProperties: false
              organisaatio:
                type: file_resources_api_schemas_entities_organisaatio.schema.json
                additionalProperties: false
            additionalProperties: false
          vapaateksti:
            type: string
            required: false
        additionalProperties: false
        required: false
    additionalProperties: false
  paivystajatietojen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      paivystykset:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            paivystys:
              type: file_resources_api_schemas_entities_paivystys.schema.json
              additionalProperties: false
          additionalProperties: false
    additionalProperties: false
  paivystajatietojen-haku-response:
    type: object
    properties:
      paivystajatiedot:
        maxItems: 100
        type: array
        items:
          type: object
          properties:
            urakka:
              type: object
              properties:
                tiedot:
                  type: file_resources_api_schemas_entities_urakka-otsikko.schema.json
                  additionalProperties: false
                paivystykset:
                  maxItems: 1000
                  type: array
                  items:
                    type: object
                    properties:
                      paivystys:
                        type: file_resources_api_schemas_entities_paivystys.schema.json
                    additionalProperties: false
                  required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  paivystyksen-poisto-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      paivystysidt:
        minItems: 1
        maxItems: 1000
        type: array
        items:
          type: integer
    additionalProperties: false
  virhe-response:
    type: object
    properties:
      virheet:
        maxItems: 100
        type: array
        items:
          type: object
          properties:
            virhe:
              type: object
              properties:
                koodi:
                  type: string
                  required: false
                viesti:
                  type: string
                  required: false
              additionalProperties: false
              required: false
          additionalProperties: false
        required: false
  tieluvan-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tielupa:
        type: file_resources_api_schemas_entities_tielupa.schema.json
        additionalProperties: false
    additionalProperties: false
  tielupien-haku-request:
    type: object
    properties:
      sijainti:
        type: file_resources_api_schemas_entities_sijainti-myos-vanhat-kaistat.schema.json
      alueurakkanumero:
        type:
          - string
          - integer
        required: false
    additionalProperties: false
  tielupien-haku-response:
    type: object
    properties:
      tieluvat:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            tielupa:
              type: object
              properties:
                diaarinumero:
                  type: integer
                tielupatyyppi:
                  type: string
                  enum:
                    - kaapelien-johtojen-ja-putkien-sijoituslupa
                    - opasteet-ja-mainoslupa
                    - liittymalupa
                    - tiealueella-tyoskentely-lupa
                    - ajoneuvosiirtolupa
                    - vahingonkorvaukset
                otsikko:
                  type: string
                  required: false
                myonnetty:
                  type: string
                  (oas-format): date-time
                  required: false
                voimassa:
                  type: object
                  properties:
                    alkaen:
                      type: string
                      (oas-format): date-time
                      required: false
                    paattyen:
                      type: string
                      (oas-format): date-time
                      required: false
                  additionalProperties: false
                sijainti:
                  type: file_resources_api_schemas_entities_sijainti-myos-vanhat-kaistat.schema.json
              additionalProperties: false
              required: false
          additionalProperties: false
        required: false
    additionalProperties: false
  tietyoilmoituksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tietyoilmoitus:
        type: object
        properties:
          tunniste:
            type: file_resources_api_schemas_entities_tunniste.schema.json
            additionalProperties: false
          tyyppi:
            type: object
            properties:
              ensimmainenIlmoitus:
                type: boolean
                required: false
              tyovaiheIlmoitus:
                type: boolean
                required: false
              korjausTaiMuutosIlmoitus:
                type: boolean
                required: false
              paattymisIlmoitus:
                type: boolean
                required: false
            additionalProperties: false
          lupanumero:
            type: string
          tieliikenneKeskus:
            type: string
            enum:
              - helsinki
              - tampere
              - turku
              - oulu
          urakoitsija:
            type: object
            properties:
              nimi:
                type: string
                required: false
              yhteyshenkilo:
                type: object
                properties:
                  nimi:
                    type: string
                  puhelinnumero:
                    type: string
                  sahkoposti:
                    type: string
                additionalProperties: false
            additionalProperties: false
          tilaaja:
            type: object
            properties:
              nimi:
                type: string
              yhteyshenkilo:
                type: object
                properties:
                  nimi:
                    type: string
                  puhelinnumero:
                    type: string
                  sahkoposti:
                    type: string
                additionalProperties: false
            additionalProperties: false
          tyo:
            type: object
            properties:
              sijainti:
                type: file_resources_api_schemas_entities_sijainti.schema.json
              alkaa:
                type: string
                (oas-format): date-time
              paattyy:
                type: string
                (oas-format): date-time
              tehtavatTyot:
                maxItems: 10
                type: array
                items:
                  - type: string
                  - type: string
                required: false
              selite:
                type: string
                required: false
              lisatietoja:
                type: string
                required: false
              paivittainenTyoaika:
                type: string
                required: false
              vaikutuksetLiikenteelle:
                type: object
                properties:
                  yksiAjokaistaSuljettu:
                    type: boolean
                    required: false
                  yksiAjorataSuljettu:
                    type: boolean
                    required: false
                  tieSuljettuLiikenteelta:
                    type: boolean
                    required: false
                  nopeusrajoitus:
                    type: string
                    enum:
                      - '30'
                      - '40'
                      - '50'
                      - '60'
                      - '70'
                      - '80'
                      - '100'
                    required: false
                  liikennevalot:
                    type: boolean
                    required: false
                  liikenteenOhjaaja:
                    type: string
                    enum:
                      - liikenne-ohjataan-vuorotellen-tapahtumapaikan-ohi
                      - liikenne-ohjataan-kaksisuuntaisena-toiselle-ajoradalle
                    required: false
                  tyokoneitaLiikenteenSeassa:
                    type: boolean
                    required: false
                  satunnaisia:
                    type: string
                    enum:
                      - liikenne-pysaytetaan-ajoittain
                      - tie-on-ajoittain-suljettu-liikenteelta
                    required: false
                  arvioituViivastys:
                    type: integer
                    required: false
                  ajoneuvonMaxKorkeus:
                    type: number
                    required: false
                  ajoneuvonMaxLeveys:
                    type: number
                    required: false
                  ajoneuvonMaxPituus:
                    type: number
                    required: false
                  painorajoitus:
                    type: integer
                    required: false
                  suunta:
                    type: string
                    enum:
                      - haittaa-molemmissa-ajosuunnissa
                      - tienumeron-kasvusuuntaan
                      - vasten-tienumeron-kasvusuuntaa
                    required: false
                additionalProperties: false
                required: false
              ilmoittaja:
                type: object
                properties:
                  urakoitsija:
                    type: string
                  yhteyshenkilo:
                    type: object
                    properties:
                      nimi:
                        type: string
                      puhelinnumero:
                        type: string
                      sahkoposti:
                        type: string
                additionalProperties: false
            additionalProperties: false
        additionalProperties: false
        required: false
    additionalProperties: false
  yllapitokohteiden-haku-response:
    type: object
    properties:
      yllapitokohteet:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            yllapitokohde:
              type: file_resources_api_schemas_entities_yllapitokohde.schema.json
              additionalProperties: false
          additionalProperties: false
        required: false
  paallystyksen-aikataulun-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      aikataulu:
        type: file_resources_api_schemas_entities_tiemerkinnan-aikataulu.schema.json
        additionalProperties: false
        required: false
    additionalProperties: false
  tiemerkinnan-aikataulun-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      aikataulu:
        type: file_resources_api_schemas_entities_paallystyksen-aikataulu.schema.json
        additionalProperties: false
        required: false
    additionalProperties: false
  tietyomaan-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tietyomaa:
        type: object
        properties:
          id:
            type: integer
          alkuaidan-sijainti:
            type: file_resources_api_schemas_entities_sijainti.schema.json
          loppuaidan-sijainti:
            type: file_resources_api_schemas_entities_sijainti.schema.json
          aika:
            type: string
            (oas-format): date-time
          ajoradat:
            maxItems: 10
            type: array
            items:
              minimum: 0
              type: integer
            required: false
          kaistat:
            maxItems: 10
            type: array
            items:
              type: string
              enum:
                - '11'
                - '12'
                - '13'
                - '14'
                - '15'
                - '16'
                - '17'
                - '18'
                - '19'
                - '21'
                - '22'
                - '23'
                - '24'
                - '25'
                - '26'
                - '27'
                - '28'
                - '29'
                - '31'
            required: false
          nopeusrajoitus:
            type: integer
            required: false
        additionalProperties: false
        required: false
    additionalProperties: false
  tietyomaan-poisto-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tietyomaa:
        type: object
        properties:
          id:
            type: integer
          aika:
            type: string
            (oas-format): date-time
        additionalProperties: false
        required: false
    additionalProperties: false
  urakan-yhteystietojen-haku-response:
    type: object
    properties:
      urakka:
        type: object
        properties:
          alkupvm:
            type: string
            required: false
          alueurakkanro:
            type: string
            required: false
          elynro:
            type: number
            required: false
          elynimi:
            type: string
            required: false
          loppupvm:
            type: string
            required: false
          nimi:
            type: string
            required: false
          sampoid:
            type: string
            required: false
          urakoitsija:
            type: object
            properties:
              katuosoite:
                type: string
                required: false
              nimi:
                type: string
                required: false
              postinumero:
                type: string
                required: false
              ytunnus:
                type: string
                required: false
            required: false
          yhteyshenkilot:
            type: array
            items:
              type: object
              properties:
                yhteyshenkilo:
                  type: object
                  properties:
                    email:
                      type: string
                      required: false
                    nimi:
                      type: string
                      required: false
                    puhelinnumero:
                      type: string
                      required: false
                    rooli:
                      type: string
                      enum:
                        - Urakan vastuuhenkilö
                        - ELY urakanvalvoja
                        - ELY laadunvalvoja
                        - ELY turvallisuusvastaava
                        - Tilaajan asiantuntija
                        - Tilaajan urakanvalvoja
                        - Tilaajan laadunvalvoja
                        - Tilaajan turvallisuusvastaava
                        - Paivystaja
                        - Laatupaallikko
                        - Kelikeskus
                        - Laadunvalvoja
                        - Sampo yhteyshenkilö
                        - Kunnossapitopäällikkö
                        - Sillanvalvoja
                        - Tieliikennekeskus
                        - Viranomais- ja vahingonkorvausasiat
                        - Työmaavalvoja
                        - Työmaavalvojan sijainen
                        - Vastuunalainen työnjohtaja
                        - Päätoiminen apulainen
                        - Apulainen/Työnjohtaja/Vipa-tehtävät
                        - Viherhoidosta vastaava henkilö
                    vastuuhenkilo:
                      type: boolean
                      required: false
                    varahenkilo:
                      type: boolean
                      required: false
                    organisaatio:
                      type: string
                      required: false
                  required: false
            required: false
        required: false
  urakan-yllapitokohteen-paivitys-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      yllapitokohde:
        type: object
        properties:
          sijainti:
            type: file_resources_api_schemas_entities_tieosoitevali.schema.json
            additionalProperties: false
            required: false
          alikohteet:
            maxItems: 500
            type: array
            items:
              type: object
              properties:
                alikohde:
                  type: object
                  properties:
                    tunniste:
                      type: file_resources_api_schemas_entities_tunniste.schema.json
                      additionalProperties: false
                    nimi:
                      maxLength: 128
                      type: string
                      required: false
                    sijainti:
                      type: file_resources_api_schemas_entities_tieosoitevali-kaistalla-ja-ajoradalla.schema.json
                      additionalProperties: false
                      required: false
                    toimenpide:
                      maxLength: 128
                      type: string
                      required: false
                    paallystetyyppi:
                      type: file_resources_api_schemas_entities_paallyste.schema.json
                      additionalProperties: false
                      required: false
                    raekoko:
                      type: file_resources_api_schemas_entities_paallystys_raekoko.schema.json
                      required: false
                    tyomenetelma:
                      type: file_resources_api_schemas_entities_paallystys_tyomenetelma.schema.json
                      additionalProperties: false
                      required: false
                    massamaara:
                      type: number
                      required: false
                  additionalProperties: false
              additionalProperties: false
            required: false
        additionalProperties: false
  urakan-yllapitokohteen-maaramuutosten-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      maaramuutokset:
        maxItems: 500
        type: array
        items:
          type: object
          properties:
            maaramuutos:
              type: object
              properties:
                tunniste:
                  type: file_resources_api_schemas_entities_tunniste.schema.json
                  additionalProperties: false
                tyyppi:
                  type: string
                  enum:
                    - ajoradan_paallyste
                    - pienaluetyot
                    - tasaukset
                    - jyrsinnat
                    - muut
                tyo:
                  maxLength: 256
                  type: string
                yksikko:
                  maxLength: 32
                  type: string
                tilattu-maara:
                  type: number
                ennustettu-maara:
                  type: number
                toteutunut-maara:
                  type: number
                yksikkohinta:
                  type: number
              additionalProperties: false
          additionalProperties: false
        required: false
  yllapitokohteen-tarkastuksen-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tarkastukset:
        maxItems: 1000
        type: array
        items:
          type: object
          properties:
            tarkastus:
              type: file_resources_api_schemas_entities_tarkastus.schema.json
              additionalProperties: false
            tarkastustyyppi:
              type: string
              enum:
                - katselmus
                - pistokoe
                - vastaanottotarkastus
                - takuutarkastus
          additionalProperties: false
        required: false
    additionalProperties: false
  urakan-tiemerkintatoteuman-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tiemerkintatoteumat:
        maxItems: 4096
        type: array
        items:
          type: object
          properties:
            tiemerkintatoteuma:
              type: object
              properties:
                tunniste:
                  type: file_resources_api_schemas_entities_tunniste.schema.json
                  additionalProperties: false
                hinta:
                  minimum: 0
                  type: number
                paivamaara:
                  type: string
                  (oas-format): date-time
                selite:
                  type: string
                tienumero:
                  minimum: 0
                  type: integer
                pituus:
                  minimum: 0
                  type: integer
                yllapitoluokka:
                  minimum: 0
                  type: integer
                hintatyyppi:
                  type: string
                  enum:
                    - toteuma
                    - suunnitelma
          additionalProperties: false
    additionalProperties: false
  urakan-yllapitokohteen-tiemerkintatoteuman-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tiemerkintatoteumat:
        maxItems: 4096
        type: array
        items:
          type: object
          properties:
            tiemerkintatoteuma:
              type: object
              properties:
                tunniste:
                  type: file_resources_api_schemas_entities_tunniste.schema.json
                  additionalProperties: false
                hinta:
                  minimum: 0
                  type: number
                paivamaara:
                  type: string
                  (oas-format): date-time
                selite:
                  type: string
                hintatyyppi:
                  type: string
                  enum:
                    - toteuma
                    - suunnitelma
          additionalProperties: false
    additionalProperties: false
  urakan-tyotuntien-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tyotunnit:
        maxItems: 4096
        type: array
        items:
          type: object
          properties:
            vuosikolmannes:
              type: object
              properties:
                vuosi:
                  type: number
                kolmannes:
                  minimum: 1
                  maximum: 3
                  type: number
                tunnit:
                  type: number
          additionalProperties: false
    additionalProperties: false
  toteuman-poisto-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      toteumien-tunnisteet:
        minItems: 1
        maxItems: 1000
        type: array
        items:
          type: integer
    additionalProperties: false
  tarkastuksen-poisto-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tarkastusten-tunnisteet:
        minItems: 1
        maxItems: 1000
        type: array
        items:
          type: integer
    additionalProperties: false
  paikkausten-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      paikkaukset:
        maxItems: 200
        type: array
        items:
          type: object
          properties:
            paikkaus:
              type: file_resources_api_schemas_entities_paikkaus.schema.json
          additionalProperties: false
    additionalProperties: false
  paikkauskustannusten-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      paikkauskustannukset:
        maxItems: 200
        type: array
        items:
          type: object
          properties:
            paikkauskustannus:
              type: file_resources_api_schemas_entities_paikkauskustannus.schema.json
          additionalProperties: false
    additionalProperties: false
  paikkausten-poisto-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      poistettavat-paikkauskohteet:
        maxItems: 200
        type: array
        items:
          type: integer
        required: false
      poistettavat-paikkaukset:
        maxItems: 200
        type: array
        items:
          type: integer
        required: false
      poistettavat-paikkauskustannukset:
        maxItems: 200
        type: array
        items:
          type: integer
        required: false
    additionalProperties: false
  raportti-materiaaliraportti-response:
    type: object
    properties:
      raportti:
        type: object
        properties:
          nimi:
            type: string
          aikavali:
            type: file_resources_api_schemas_entities_paivamaaravali.schema.json
          alueurakkanumero:
            type:
              - string
              - integer
          materiaaliraportti:
            type: file_resources_api_schemas_entities_materiaalit.schema.json
            required: false
        additionalProperties: false
        required: false
    additionalProperties: false
  tyomaapaivakirja-kirjaus-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tyomaapaivakirja:
        type: file_resources_api_schemas_entities_tyomaapaivakirja-kirjaus.schema.json
        additionalProperties: false
    additionalProperties: false
  tyomaapaivakirja-paivitys-request:
    type: object
    properties:
      otsikko:
        type: file_resources_api_schemas_entities_otsikko.schema.json
        additionalProperties: false
      tyomaapaivakirja:
        type: object
        additionalProperties: false
        required: false
    additionalProperties: false
  tyomaapaivakirja-kirjaus-ok-response:
    type: object
    properties:
      status:
        type: string
        enum:
          - OK
          - VIRHE
      tyomaapaivakirja-id:
        type: integer
        required: false
      virheet:
        type: array
        items:
          type: string
        required: false
    additionalProperties: false
  tyomaapaivakirja-kirjaus-nok-response:
    type: object
    properties:
      status:
        type: string
        enum:
          - OK
          - VIRHE
      tyomaapaivakirja-id:
        type: integer
        required: false
      virheet:
        type: array
        items:
          type: string
        required: false
    additionalProperties: false
/urakat:
  description: Urakoiden tietojen hallinta.
  is:
    - secured
  /haku:
    description: Urakoiden massahaku.
    is:
      - secured
    get:
      is:
        - secured
      description: 'Hakee kaikki urakat, joihin järjestelmätunnuksella on oikeudet. Väylän järjestelmille palauttaa kaikki urakat.'
      responses:
        '200':
          body:
            application/json:
              example:
                urakat:
                  - urakka:
                      tiedot:
                        id: 123456789
                        nimi: Oulun alueurakka
                        urakoitsija:
                          ytunnus: 123456-8
                          nimi: Asfaltia
                        vaylamuoto: tie
                        tyyppi: hoito
                        alkupvm: '2016-01-30T12:00:00+02:00'
                        loppupvm: '2016-01-30T12:00:00+02:00'
                  - urakka:
                      tiedot:
                        id: 123456789
                        nimi: Oulun päällyysteurakka
                        urakoitsija:
                          ytunnus: 123456-8
                          nimi: Asfaltia
                        vaylamuoto: tie
                        tyyppi: paallystys
                        alkupvm: '2016-01-30T12:00:00+02:00'
                        loppupvm: '2016-01-30T12:00:00+02:00'
              type: urakoiden-haku-response
              required: false
        '400':
          body:
            application/json:
              example:
                virheet:
                  - virhe:
                      koodi: Tuntematon urakka
                      viesti: 'Annetulle id:lle ei löydy urakkaa.'
              type: virhe-response
              required: false
        '500':
          body:
            application/json:
              example:
                virheet:
                  - virhe:
                      koodi: Tuntematon urakka
                      viesti: 'Annetulle id:lle ei löydy urakkaa.'
              type: virhe-response
              required: false
      queryParameters:
        urakkatyyppi:
          description: 'Rajaa urakoiden haun annettuun tyyppiin. Sallitut tyypit hoito, teiden-hoito, paallystys, paikkaus, tiemerkinta, valaistus, siltakorjaus, tekniset-laitteet, vesivayla-hoito, vesivayla-ruoppaus, vesivayla-turvalaitteiden-korjaus, vesivayla-kanavien-hoito, vesivayla-kanavien-korjaus.'
          example: hoito
          type: string
    '/{ytunnus}':
      get:
        is:
          - secured
        description: 'Palauttaa kaikki urakoitsijan Y-tunnuksen mukaisen urakoitsijan urakoiden otsikkotason tiedot. Urakan täydet tiedot haetaan erikseen urakan id:n avulla (/urakka/id).'
        responses:
          '200':
            body:
              application/json:
                example:
                  urakat:
                    - urakka:
                        tiedot:
                          id: 123456789
                          nimi: Oulun alueurakka
                          urakoitsija:
                            ytunnus: 123456-8
                            nimi: Asfaltia
                          vaylamuoto: tie
                          tyyppi: hoito
                          alkupvm: '2016-01-30T12:00:00+02:00'
                          loppupvm: '2016-01-30T12:00:00+02:00'
                    - urakka:
                        tiedot:
                          id: 123456789
                          nimi: Oulun päällyysteurakka
                          urakoitsija:
                            ytunnus: 123456-8
                            nimi: Asfaltia
                          vaylamuoto: tie
                          tyyppi: paallystys
                          alkupvm: '2016-01-30T12:00:00+02:00'
                          loppupvm: '2016-01-30T12:00:00+02:00'
                type: urakoiden-haku-response
                required: false
          '400':
            body:
              application/json:
                example:
                  virheet:
                    - virhe:
                        koodi: Tuntematon urakka
                        viesti: 'Annetulle id:lle ei löydy urakkaa.'
                type: virhe-response
                required: false
          '500':
            body:
              application/json:
                example:
                  virheet:
                    - virhe:
                        koodi: Tuntematon urakka
                        viesti: 'Annetulle id:lle ei löydy urakkaa.'
                type: virhe-response
                required: false
      uriParameters:
        ytunnus: {}
    /sijainnilla:
      get:
        is:
          - secured
        description: Urakan haku sijainnilla (ja urakkatyyppillä).
        responses:
          '200':
            body:
              application/json:
                example:
                  urakat:
                    - urakka:
                        tiedot:
                          id: 123456789
                          nimi: Oulun alueurakka
                          urakoitsija:
                            ytunnus: 123456-8
                            nimi: Asfaltia
                          vaylamuoto: tie
                          tyyppi: hoito
                          alkupvm: '2016-01-30T12:00:00+02:00'
                          loppupvm: '2016-01-30T12:00:00+02:00'
                    - urakka:
                        tiedot:
                          id: 123456789
                          nimi: Oulun päällyysteurakka
                          urakoitsija:
                            ytunnus: 123456-8
                            nimi: Asfaltia
                          vaylamuoto: tie
                          tyyppi: paallystys
                          alkupvm: '2016-01-30T12:00:00+02:00'
                          loppupvm: '2016-01-30T12:00:00+02:00'
                type: urakoiden-haku-response
                required: false
          '400':
            body:
              application/json:
                example:
                  virheet:
                    - virhe:
                        koodi: Tuntematon urakka
                        viesti: 'Annetulle id:lle ei löydy urakkaa.'
                type: virhe-response
                required: false
          '500':
            body:
              application/json:
                example:
                  virheet:
                    - virhe:
                        koodi: Tuntematon urakka
                        viesti: 'Annetulle id:lle ei löydy urakkaa.'
                type: virhe-response
                required: false
        queryParameters:
          urakkatyyppi:
            required: false
            description: 'Urakkatyyppi (hoito, teiden-hoito, paallystys, paikkaus, valaistus, tekniset-laitteet, siltakorjaus)'
            example: hoito
            type: string
          x:
            description: Sijainnin X-koordinaatti
            example: 428699
            type: number
          'y':
            description: Sijainnin Y-koordinaatti
            example: 7210782
            type: number
  '/{id}':
    get:
      is:
        - secured
      description: 'Palauttaa id:n mukaisen urakan tiedot sopimuksineen ja tehtävineen. Vastaus kertoo tehtävät, joille voidaan kirjata toteumia. Toteumat kirjataan aina tietyn urakan sopimuksen yksikkö- tai kokonaishintaiselle tehtävälle. Toteumat pitää myös kirjata aina tehtävälle palautuvassa yksikössä.'
      responses:
        '200':
          body:
            application/json:
              example:
                urakka:
                  tiedot:
                    id: 123456789
                    nimi: Oulun päällyysteurakka
                    urakoitsija:
                      ytunnus: 123456-8
                      nimi: Asfaltia
                    vaylamuoto: tie
                    tyyppi: paallystys
                    alkupvm: '2016-01-30T12:00:00+02:00'
                    loppupvm: '2016-01-30T12:00:00+02:00'
                    alueurakkanumero: '1240'
                  sopimukset:
                    - sopimus:
                        id: 456789132
                        nimi: Kiviharjunlenkin asfaltointi
                        alkupvm: '2015-01-30T12:00:00+02:00'
                        loppupvm: '2016-01-30T12:00:00+02:00'
                  materiaalit:
                    - materiaali:
                        nimi: Talvisuolaliuos NaCl
                        yksikko: t
                  tehtavat:
                    kokonaishintaiset:
                      - tehtava:
                          id: 1400
                          selite: Suolaus
                          yksikko: km
                    yksikkohintaiset:
                      - tehtava:
                          id: 1371
                          selite: Vesakonraivaus
                          yksikko: m2
              type: urakan-haku-response
              required: false
        '400':
          body:
            application/json:
              example:
                virheet:
                  - virhe:
                      koodi: Tuntematon urakka
                      viesti: 'Annetulle id:lle ei löydy urakkaa.'
              type: virhe-response
              required: false
        '500':
          body:
            application/json:
              example:
                virheet:
                  - virhe:
                      koodi: Tuntematon urakka
                      viesti: 'Annetulle id:lle ei löydy urakkaa.'
              type: virhe-response
              required: false
    uriParameters:
      id: {}
    /toteumat:
      /reitti:
        post:
          is:
            - secured
          description: 'Reittimuotoisten toteumien kirjaaminen urakalle. Yksittäinen reittipiste toteumalle tulisi kirjata aina, kun 1. ajettava tie muuttuu, 2. ajettava tieosa muuttuu, 3. ajettava suunta muuttuu, 4. suoritettava tehtävä muuttuu tai 5. materiaaliannostelijan (esim. suolasirottimen) asetukset muuttuuvat. Toteumien tehtävät raportoidaan aina Harjan urakkahaun palauttamassa yksikössä. Harja ei tee yksikkömuunnoksia vaan olettaa, että määrät on annettu halutussa yksikössä. Sama koskee myös raportoituja materiaalien käyttöjä.'
          responses:
            '200':
              body:
                application/json:
                  example:
                    ilmoitukset: Kaikki toteumat kirjattu onnistuneesti
                    kohteet:
                      - tunniste:
                          id: 123
                        tiedotukset:
                          - tiedotus: ''
                  type: kirjaus-response
                  required: false
            '400':
              body:
                application/json:
                  example:
                    virheet: 'Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja'
                    varoitukset: ''
                    ilmoitukset: ''
                    huomiot:
                      - tunniste:
                          id: 123
                        varoitukset:
                          - varoitus: Tieto x puuttuu.
                        virheet:
                          - virhe: ''
                        tiedotukset:
                          - tiedotus: ''
                  type: virhe-response
                  required: false
            '500':
              body:
                application/json:
                  example:
                    virheet: 'Kaikkia tietoja ei voitu tallentaa, koska niistä puuttuu pakollisia tietoja'
                    varoitukset: ''
                    ilmoitukset: ''
                    huomiot:
                      - tunniste:
                          id: 123
                        varoitukset:
                          - varoitus: Tieto x puuttuu.
                        virheet:
                          - virhe: ''
                        tiedotukset:
                          - tiedotus: ''
                  type: virhe-response
                  required: false
          body:
            application/json:
              example:
                otsikko:
                  lahettaja:
                    jarjestelma: Urakoitsijan järjestelmä
                    organisaatio:
                      nimi: Urakoitsija
                      ytunnus: 1234567-8
                  viestintunniste:
                    id: 123
                  lahetysaika: '2016-01-30T12:00:00+02:00'
                reittitoteuma:
                  toteuma:
                    tunniste:
                      id: 64554546
                    suorittaja:
                      nimi: Tehotekijät Oy
                      ytunnus: 8765432-1
                    sopimusId: 1
                    alkanut: '2016-01-30T12:00:00+02:00'
                    paattynyt: '2016-02-01T12:00:00+02:00'
                    toteumatyyppi: kokonaishintainen
                    tehtavat:
                      - tehtava:
                          id: 1359
                          maara:
                            yksikko: km
                            maara: 123
                      - tehtava:
                          id: 1360
                          maara:
                            yksikko: km
                            maara: 123
                    materiaalit:
                      - materiaali: Talvisuolaliuos NaCl
                        maara:
                          yksikko: kg
                          maara: 4.62
                  reitti:
                    - reittipiste:
                        aika: '2016-01-30T12:00:00+02:00'
                        koordinaatit:
                          x: 448353
                          'y': 7225182
                        tehtavat:
                          - tehtava:
                              id: 1359
                          - tehtava:
                              id: 1360
                        materiaalit:
                          - materiaali: Talvisuolaliuos NaCl
                            maara:
                              yksikko: kg
                              maara: 1.32
                    - reittipiste:
                        aika: '2016-01-30T13:00:00+02:00'
                        koordinaatit:
                          x: 455574
                          'y': 7227716
                        tehtavat:
                          - tehtava:
                              id: 1359
                          - tehtava:
                              id: 1360
                        materiaalit:
                          - materiaali: Talvisuolaliuos NaCl
                            maara:
                              yksikko: kg
                              maara: 0.9
                    - reittipiste:
                        aika: '2016-01-30T13:00:00+02:00'
                        koordinaatit:
                          x: 459628
                          'y': 7223852
                        tehtavat:
                          - tehtava:
                              id: 1359
                          - tehtava:
                              id: 1360
                        materiaalit:
                          - materiaali: Talvisuolaliuos NaCl
                            maara:
                              yksikko: kg
                              maara: 2.4
                  tyokone:
                    id: TKT001
                    tunnus: 'Alihankkija Oy, KA 2'
                    tyokonetyyppi: kuorma-auto
                reittitoteumat:
                  - reittitoteuma:
                      toteuma:
                        tunniste:
                          id: 64554456
                        suorittaja:
                          nimi: Tehotekijät Oy
                          ytunnus: 8765432-1
                        sopimusId: 1
                        alkanut: '2016-01-30T12:00:00+02:00'
                        paattynyt: '2016-02-01T12:00:00+02:00'
                        toteumatyyppi: kokonaishintainen
                        lisatieto: Lisätiedoksi toteumaan liittyen.
                        tehtavat:
                          - tehtava:
                              id: 1359
                              maara:
                                yksikko: km
                                maara: 123
                          - tehtava:
                              id: 1360
                              maara:
                                yksikko: km
                                maara: 123
                        materiaalit:
                          - materiaali: Talvisuolaliuos NaCl
                            maara:
                              yksikko: kg
                              maara: 4.62
                      reitti:
                        - reittipiste:
[...]
