// common variables

@brand-color: @color-blue;
@color-blue: #330099;
@color-dark-gray: #383838;
@margin-one: 5px;
@margin-double: 10px;
@margin-triple: 10px;

@alasvetovalikon-leveys-max: 350px;
@alasvetovalikon-leveys-min: 210px;

// common style classes
.border-style-thin {
	border: thin ridge @color-dark-gray;
}
.livi-alasveto.open {
	.nappi-alasveto {
		border: 1px solid @sininen4;
	}
}
.livi-alasveto (@leveys: 200px, @min-leveys: 160px) {
	min-width: @min-leveys; // 160px on bs:n dropdown-menun minimiarvo
	width: @leveys;
	.nappi-alasveto {
		height: 32px;
		.valittu {
			display: inline-block;
			overflow-x: hidden;
			padding-right: 30px;
			text-align: left;
			vertical-align: middle;
			width: 100%;
		}
		.caret {
			float: right;
			position: relative;
			top: -10px;
		}
	}
	.livi-alasvetolista {
		border: 1px solid @sininen4;
		width: @leveys;
	}
}
.dropdown-menu .harja-alasvetolistaitemi > a {
	background-color: @valkoinen;
	border-color: @harmaa7;
	&:hover,
	&:focus,
	&.focus,
	&:active {
		background-color: @harmaa9;
		color:            @harmaa1;
	}

}

.rounded(@radius: 4px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}