@import "livi_tyylit";
/* Geneerinen editoitava gridi */

.virhe-tai-varoitus-grid (@taustavari, @vari) {
  background-color: @taustavari;
  bottom: 5px;
  color: @vari;
  padding: 5px;
  position: absolute;
  width: 100%;
}

@livitaulukon-input-korkeus: @input-korkeus;
@taulukon-vertical-padding: 8px;
@taulukon-vertical-padding-muokattava-kentta: 4px;
@livi-taulukon-padding: @taulukon-vertical-padding 16px;
@livi-taulukon-padding-tiivis: @taulukon-vertical-padding 4px;
@livi-taulukon-padding-melko-tiivis: @taulukon-vertical-padding 12px;
@kalenterin-pvm-padding: 0 10px;
@kalenterin-pvm-korkeus: 36px;
@infolaatikko-leveys: 300px;
@hento-korostusvari: @blue-lighter;

.vihje-hento-korostus {
  background-color: @hento-korostusvari;
}

.livi-grid {
  color: @harmaa1;
  &.panel {
    margin-bottom: 34px;
  }
  // pienen napin sisässä on pientä tekstiä, tämä estää esim. panel headerin kasvattamasta ikoneita
  // tämähän on vähän nastya, vaihtoehtona poistaa bs:n panel-heading luokka gridistä.
  .panel-heading {
    h6 {
      display: inline;
    }
    // anna padding top ja bottom tulla BS:stä
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 16px;
    button {
      padding: 4px 8px;
    }
    .nappi-ensisijainen span,
    .nappi-toissijainen span,
    .nappi-myonteinen span,
    .nappi-kielteinen span {
      font-size: @fontin-koko-leipateksti;
    }
  }
  div.panel-body {
    padding: 0;
  }
  table {
    font-size: @fontin-koko-taulukko;
    word-break: break-all;
    td {
      vertical-align: top;
      input:not([type="checkbox"]), select {
        width: 100%;
        z-index: 10;
      }
      input[type="radio"] {
        width: auto;
      }
      .kombo {
        width: 75%; // jotta caret näkyisi samalla rivillä (flexbox tähän?)
      }
      .dropdown-menu {
        z-index: 1000;
        margin-top: 0;
      }

      .varoitukset,
      .virheet,
      .huomautukset {
        display: none;
        position: relative;
        word-break: break-word;
      }
      .varoitus {
        .virhe-tai-varoitus-grid(@varoitus, @valkoinen);
      }
      .virhe {
        .virhe-tai-varoitus-grid(@vaara, @valkoinen);
      }
      .huomautus {
        .virhe-tai-varoitus-grid(@huomautus, @valkoinen);
      }
    }
    .gridin-collapsoitava-valiotsikko > td {
      padding: @kalenterin-pvm-padding;
    }

    thead {
      background-color: @harmaa13;
      word-break: normal;
    }
    tbody {
      > tr {
        border-bottom: 1px solid @harmaa-vaalea;
      }
    }

    td:hover {
      > .varoitukset,
      > .virheet,
      > .huomautukset {
          display: block;
	  
	  > .varoitus,
	  > .virhe,
	  > .huomautus {
	      text-align: left;
	      width: max-content;
	  }
      }
    }

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    .radio, .checkbox {
      margin-bottom: 0;
      margin-top: 0;

      label {
        padding-left: 30px;
      }
    }
  }

  table.grid tr.vetolaatikko-auki {
    display: table-row;
    > td {
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 15px;
    }
  }

  // tablen rivien korkeutta ei oikein voi animoida, tarvittaisiin pure div pohjainen grid
  tr.vetolaatikko-kiinni {
    display: none;
  }
  td.vetolaatikon-tila {
    text-align: center;
  }
  tr, td, th {
    padding: @livi-taulukon-padding;
    &.tiivis {
      padding: @livi-taulukon-padding-tiivis;
    }
    &.melko-tiivis {
      padding: @livi-taulukon-padding-melko-tiivis;
    }
    .pvm-aika-kentta td {
      padding: 0;
    }
  }
  tr#paikkauksien-yhteenveto  {
      border: none;
      td, th {
       border: none;
     }
  }

  th.muokataan {
    width: 20px;
  }

  .sisaltaa-virheen {
    .sisaltaa-virheen-tai-varoituksen(@vaara);
  }
  .sisaltaa-varoituksen {
    .sisaltaa-virheen-tai-varoituksen(@varoitus);
  }
  .sisaltaa-huomautuksen {
    .sisaltaa-virheen-tai-varoituksen(@huomautus)
  }
  .grid-muokkaa {
    margin-bottom: 1px;
  }
  .muokkaustoiminnot {
    margin-bottom: 9px;
    button {
      margin-right: 1em;
    }
    button:last-child {
      margin-right: 0;
    }
    .raporttiviennit {
      padding: 0;
    }
    button.margin-rightia:last-child {
      margin-right: 5px;
    }
    .ikoni {
      position: relative;
      top: 5px;
    }
  }

  table th {
    overflow: hidden;
  }

  .panel-title {
    color: @harmaa1;
    font-size: @fontin-koko-leipateksti;
  }

  button.grid-lisaa {
    margin-right: 3em;
  }

  td.toiminnot span {
    display: inline-block;
    .livicon-trash {
      margin-left: 2px;
    }
  }

  td.rivinumero {
    text-align: center;
  }

  div.pvm {
    position: relative;
  }
  tr.rivi-valittu {
    color: @valkoinen;
    background-color: @harmaa7;
  }
  tr.yhteenveto {
    background-color: @harmaa15;
    border-bottom: 2px solid @harmaa7;
    border-top: 2px solid @harmaa7;
    font-weight: bold;
  }
  tr.korostettu-rivi {
    background-color: @varoitus;
  }
  tr.hennosti-korostettu-rivi {
    background-color: @hento-korostusvari;
  }
  tr.klikattava:hover:not(.gridin-collapsoitava-valiotsikko) {
    cursor: pointer;
    background-color: @blue-lighter;
  }
  .ei-arvoa {
    color: @varoitus;
  }

  tr.muokataan {
    padding: @livi-taulukon-padding-tiivis;
    &.klikattava:hover td.ei-muokattava {
      background-color: @blue-lighter;
    }
    > td.muokattava {
      padding-top: @taulukon-vertical-padding-muokattava-kentta;
      padding-bottom: @taulukon-vertical-padding-muokattava-kentta;
    }
    &:focus-within {
      background-color: @blue-lighter;
      > td.ei-muokattava {
        background-color: @blue-lighter;
      }
      > td.rivinumero {
        background-color: @blue-lighter;
      }
      > td.muokattava {
        background-color: transparent;
      }
    }
    &.parillinen {
      input[disabled].disabled {
        background-color: @harmaa10;
      }
      .livi-alasveto {
        .disabled {
          background-color: @harmaa10;
          span {
            background-color: inherit;
          }
        }
      }
    }
    &.pariton {
      input[disabled].disabled {
        background-color: @harmaa13;
      }
      .livi-alasveto {
        .disabled {
          background-color: @harmaa13;
          span {
            background-color: inherit;
          }
        }
      }
    }
    td {
      background-color: @valkoinen;
      &.ei-muokattava {
        background-color: @harmaa15;
        padding: @livi-taulukon-padding;
        &.tiivis {
          padding: @livi-taulukon-padding-tiivis;
        }
        &.melko-tiivis {
          padding: @livi-taulukon-padding-melko-tiivis;
        }
      }
      &.ei-muokattava.tasaa-oikealle {
        padding: @livi-taulukon-padding;
        &.tiivis {
          padding: @livi-taulukon-padding-tiivis;
        }
        &.melko-tiivis {
          padding: @livi-taulukon-padding-melko-tiivis;
        }
      }
      &.muokattava > input {
        padding: 0 0 0 3px;
      }
      &.muokattava.tasaa-oikealle > input {
        padding: 0 3px 0 0;
      }
      &.muokattava.tasaa-oikealle > span.grid-kentta-wrapper > input {
        padding: 0;
      }
      .alasveto-gridin-kentta.tasaa-oikealle {
        .nappi-alasveto {
          padding: 0;
          text-align: right;
          .valittu {
            padding-right: 30px;
            text-align: right;
          }
          .livicon-chevron-down, .livicon-chevron-up {
            right: 2px;
          }
        }
      }
      > input {
        border: none;
      }
      > span.grid-kentta-wrapper input {
        border-top: 4px solid @valkoinen;
        border-bottom: 5px solid @valkoinen;
        border-left: none;
        border-right: none;
      }
      .nappi-alasveto {
        border: none;
      }
      .pvm-aika-kentta td {
        padding: 0;
      }
      &.toiminnot {
        padding: @livi-taulukon-padding-tiivis;
      }
    }
    .checkbox-rivina {
      margin-left: 0px;
    }
  }

  tr.disabloitu-rivi {
    background-color: @harmaa6 !important;
    color: @harmaa6;

    input {
      color: initial;
    }
  }

  .livi-grid-pagination {
    display: flex;
    justify-content: flex-end;

    .pagination {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
  // Tämä on sitä varten, että grid laitetaan toisen gridin sisälle
  tr:not(.vetolaatikko) .livi-grid {
    margin-bottom: 0px;
  }

  .grid-otsikkokomponentti {
    background-color: @harmaa9;
    border: none;
    tr, td, th {
      border: none;
    }
  }
}

.livi-grid-infolaatikolla {
  width: calc(~'100% - ' @infolaatikko-leveys);
}

.livi-grid.livi-grid-infolaatikolla {
  @livi-grid-infolaatikko-sisennys: 10px;

  tr td:last-child {
    position: relative;

    .livi-grid-infolaatikko {
      text-align: left;
      color: @fontin-vari-leipateksti;
      position: absolute;
      top: 0;
      right: -@infolaatikko-leveys;
      width: @infolaatikko-leveys;
      z-index: 100;

      > .livi-grid-infolaatikko-yhdistysviiva {
        height: 42px; // TODO Pitäisi olla rivin korkeus, mutta hankala määrittää?
        background-color: @harmaa8;
      }

      > .livi-grid-infolaatikko-sisalto {
        background-color: @harmaa8;
        padding: @livi-grid-infolaatikko-sisennys;
        width: 90%;
        position: absolute;
        top: 0;
        right: 0;

        .tietorivi {
          border: none;
        }

        .livi-grid-infolaatikko-footer {
          background-color: @harmaa10;
          margin-top: @livi-grid-infolaatikko-sisennys;
          margin-left: -@livi-grid-infolaatikko-sisennys;
          margin-right: -@livi-grid-infolaatikko-sisennys;
          margin-bottom: -@livi-grid-infolaatikko-sisennys;
          padding: @livi-grid-infolaatikko-sisennys;
          padding-top: @livi-grid-infolaatikko-sisennys / 2;

          > h5 {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.gridin-napit-alhaalla {
  .panel-heading {
    padding: 2px 0px;
    height: 35px
  }
}

.nappi-toissijainen.nappi-tayta {
  height: 24px;
  top: 16px;
  margin: 0;
  padding: 1px 4px;
  z-index: 1;
}

.arvo-ja-nappi-container {
  .arvo-ja-nappi-arvo {
    float: left;
    position: relative;
    top: 5px;
  }

  .arvo-ja-nappi-nappi {
    float: right;
  }
}

// Oikeasti tämän pitäisi toimia niin, että vaihdetaan inline-blockiksi kun sarakkeesta
// alkaa loppua tila. Tämä on kuitenkin vaikeaa toteuttaa CSS:llä, joten tehdään yleispätevä
// ratkaisu: tehdään vasen-oikea jaottelu silloin kun tilaa on varmuudela
// riittävästi, ja epävarmassa tapauksessa mennään inline-blockilla.
@media (max-width: @screen-lg) {
  .arvo-ja-nappi-container {
    .arvo-ja-nappi-arvo {
      display: inline-block;
      float: none;
      position: static;
      top: auto;
    }

    .arvo-ja-nappi-nappi {
      display: inline-block;
      margin-left: 5px;
      float: none;
    }
  }
}

.nappi-grid {
  width: 100%;
  max-width: 250px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.livi-grid .pvm-aika-kentta {
  > table > tbody > tr > td:first-child {
    width: 66.6%;
  }

  > table > tbody > tr > td:nth-child(2) {
    width: 33.3%;
  }
}

// Gridin väliotsikkotyyli
tr.otsikko {
  background-color: @harmaa5;
  color: @valkoinen;

  &.gridin-collapsoitava-valiotsikko {
    background-color: @gray200;
    color: @gray25;
  }
  td {
    position: relative;

    span[class^="livicon-chevron"] {
      position: absolute;
      left: 5px;
      top: 12px;
    }

    .grid-valiotsikko-custom-komponentti {
      position: absolute;
    }
  }
}

.gridin-collapsoitava-valiotsikko {
  > td {
    > .navigation-ympyrassa {
      position: relative;
      top: 27px;
      right: 4px;
      text-align: center;
    }
    h5 {
      margin-left: 30px;
    }

    span[class^="livicon-chevron"] {
      position: absolute;
      left: 5px;
      top: 12px;
    }
  }
}

> * {
  display: inline-block;
}

.kelluta-tayta-nappi {
  height: 31px; //sama korkeus kuin alasvedolla ympärillä
  z-index: 1000;
}

// Apuluokkia gridin hallintaan

.grid-header-keskita {
  text-align: center;
}

.grid-header-oikea {
  text-align: right;
}

.grid-kk-sarake {
  word-spacing: -3px; // Välilyönnit hoitavat rivinvaihdot luomatta tavutusmerkkiä, mutta niitä ei haluta nähdä
}

.grid-pakota-rivitys {
  word-break: break-word;
}

.valinta-ja-linkki-container {
  display: flex;
  justify-content: flex-start;
  .valinnan-vierusnappi {
    height: 100%;
    padding: 0 4px;
    width: 20px;
  }
  .materiaalin-valinta-alasveto {
    flex-grow: 100;
  }
}

.alasveto-gridin-kentta {
  .livi-alasveto(100%, auto, @livitaulukon-input-korkeus);
  .valittu {
    max-height: 100%; //vähän häkki
  }
  &.linkin-vieressa > button.nappi-alasveto {
    padding-left: 0;
  }
}

.grid-reunus-ei {
  border-left: none !important;
  border-right: none !important;
}

.grid-reunus-vasen {
  border-right: none !important;
}

.grid-reunus-oikea {
  border-left: none !important;
}

// Tyylejä yksittäisille soluille

.grid-solu-varoitus {
  color: @vaara;
}

.grid-solu-ei-padding {
  padding: 0px!important;
}

.grid-solu-ennustettu { // Kuvaa numerollista kenttää, jonka määrä on ennustettu
  color: @huomautus;
}

// Tyylejä tilallisille riveille

.tila-odottaa-vastausta {
  color: @varoitus;
}

.tila-lahetetty {
  color: @onnistuminen;
}

.tila-virhe {
  color: @vaara;
}

span.ajax-loader-pisteet {
  padding-left: 10px;
}

// Tyylejä solujen huomio-osalle

.grid-huomio-varoitus {
  color: @varoitus;
}

.gridin-fonttikoko {
  font-size: @fontin-koko-leipateksti;
}