.hairioilmoitin {
  position: relative;
  width: 100%;
  padding: @valistys-8;
  text-align: center;

  button.close {
    position: absolute;
    float: none;
    right: @valistys-8;
    top: 0;
    bottom: 0;
  }
}

.hairioilmoitin-tyyppi-hairio {
  background-color: @red-lighter;
  border: 1px solid @red-light;
  color: @black-default;
}

.hairioilmoitin-tyyppi-tiedote {
  background-color: @blue-lighter;
  border: 1px solid @blue-light;
  color: @black-default;
}
