.indeksit {
	.dropdown-menu {
		max-height: 150px;
		overflow-y: scroll;
	}
}
.ilmatieteenlaitos-linkki {
	display: block;
	margin-top: 30px;
}

// Tehtävälistan tyyli passivoidulle tehtävälle
.tehtava-poistettu {
  color: red;
}

.urakkanimet-uloin {
  display: flex;
  padding: 48px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;;
}

.urakkanimet-otsake-ja-hakuehdot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.urakkanimet-checkbox {
  //margin-left: @valistys-48;
  margin-left: 0.25rem;
  padding-top: 15px;
  margin-bottom: 0;
}

.api-tunnus-alasveto-valinnat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

> .jarjestelmatunnukset-grid {
  .livi-alasvetolista {
      min-width: 100%;
  }
}
