span.ikoni {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

span.ikoni-peru {
    background-image: url('../images/undo.svg');
}
span.ikoni-tee-sittenkin {
    background-image: url('../images/redo.svg');
}
