.ikoni-kartta-ctrl {
	background-color: #FFF;
	display: inline-block;
	height: 40px;
	margin-right: 5px;
	opacity: 0.7;
	width: 40px;
	&:hover {
		background-color: #F4F4F4;
		cursor: pointer;
	}
}
.ikoni-pienenna {
	.ikoni-kartta-ctrl;
	background-image: url("../images/pienenna.svg");
	margin-right: 5px;
}
.ikoni-suurenna {
	.ikoni-kartta-ctrl;
	background-image: url("../images/suurenna.svg");
}
.kartan-koko-kontrollit {
	padding-right: 15px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1; //kartan päällä > 0
	button {
		height: 39px;
		width: 44px;
	}
	.otsikko {
		bottom: 5px;
		height: 39px;
		position: relative;
	}
	.gi-2x {
		font-size: 2em;
		margin-top: 3px;
	}
}