
#kartta {
  // tämä tarvitaan ettei leaflet sekoa kartan kokovaihteluissa
  position: absolute;
  .leaflet-top.leaflet-left {
    z-index: 1; //ettei zoominapit peitä urakoitsija-pudotusvalikkoa
  }
}

.ikoni-kartta-ctrl {
  background-color: #FFF;
  display: inline-block;
  height: 40px;
  margin-right: 5px;
  opacity: 0.7;
  width: 40px;
  &:hover {
    background-color: #F4F4F4;
    cursor: pointer;
  }
}

.kartan-kontrollit {
  position: absolute;
  z-index: 1; //kartan päällä > 0
}

.kartan-koko-kontrollit {
  padding-right: 15px;
  right: 0;
  top: 0;

  button {
    height: 39px;
    width: 44px;
  }
  .otsikko {
    bottom: 5px;
    height: 39px;
    position: relative;
  }
  .gi-2x {
    font-size: 2em;
    margin-top: 3px;
  }

  .kartta-kontrolli {
    font-size: 32px;
  }
}

.kartan-yleiset-kontrollit {
  left: 0;
  top: 60px;
}

.kulma-kartta {
  .nappi-avaa-kartta {
    position: absolute;
    right: 0;
    top: 150px;
  }
}

.piilota-kartta {
  position: relative;
  right: 0;
  top: 0;
  #kartta {
    display: none;
  }
}

.kartta-tyokone-popup {
  width: 300px;
  cursor: default;
}

.kartta-tooltip {
  z-index: 10;
  display: block;
  position: absolute;

  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  border: 1px solid #bbb;
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .pohjavesialue {
    padding-left: 37px;
    margin-right: 5px;
    background-size: 32px 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../images/pohjavesialue.png");
  }
}

