// Figman mukaisia tyylejä kenttä-komponenteille. Toistaiseksi levitettynä useampaan paikkaan, mutta
// pyritään jatkossa keräämään tähän paikkaan.

.pilleri {
  margin: auto;
  padding: 4px 12px;
  border-radius: 4px;
  background: @red-lighter;

  text-align: center;
  white-space: nowrap;
  display: inline-block;
  
  font-weight: 700;
}

input.veda-oikealle {
  text-align: right;
}

.piilotettu-checkbox {
  position: absolute;
  left: -9999px;
}

.autofill-teksti {
  font-size: 14px;
  margin: 0;
}

.piilotettu-elementti {
  display: none !important;
}

.ei-hakutuloksia {
  padding-left: @valistys-4;
}

.boolean 
{
  input.vayla-checkbox.lukutila {
    + label:before {
      border: 1px solid @harmaa-vaalea;
    }
    &:checked + label:before {
      color: @harmaa-tumma;
      background: #fff;
    }
  }
}
