// Figman mukaisia tyylejä kenttä-komponenteille. Toistaiseksi levitettynä useampaan paikkaan, mutta
// pyritään jatkossa keräämään tähän paikkaan.

input.veda-oikealle {
  text-align: right;
}
.boolean {
  input.vayla-checkbox.lukutila {
    + label:before {
      border: 1px solid @harmaa-vaalea;
    }
    &:checked + label:before {
      color: @harmaa-tumma;
      background: #fff;
    }
  }
}
