.virhe-tai-varoitus (@taustavari, @vari) {
    background-color: @taustavari;
    color: @vari;
    padding: 5px;
    width: 100%;
    z-index: 1000;
}

.lomake {
    .sisaltaa-virheen {
        .sisaltaa-virheen-tai-varoituksen(@vaara);
    }
    .sisaltaa-varoituksen {
        .sisaltaa-virheen-tai-varoituksen(@varoitus);
    }
    .varoitukset,
    .virheet {
        position: relative;
        top: -30px;
    }
    .varoitus {
        .virhe-tai-varoitus(@varoitus, @valkoinen);
    }
    .virhe {
        .virhe-tai-varoitus(@vaara, @valkoinen);
    }
    textarea {
        padding: 2px 6px;
    }

  .viesti {
    display: inline-block;
    margin-left: 0.5em;
  }

  .form-group.required label.control-label:after {
    content: " \25A0";
    color: red;
    font-size: 0.8em;
    position: relative;
    top: -0.15em;
  }
}

.lomake-footer{
    button + button {
        margin-left: @harja-nappien-valinen-etaisyys;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group button + button {
        margin-left: -1px;
    }
    .nappi-kielteinen {
        float: right;
        margin-right: @harja-nappien-valinen-etaisyys}
}

.radiovalinta {
  margin-right: 1em;
}

.radiovalinta-label {
  margin-left: 0.25em;
}


.inline-block {
 display: inline-block;
}
.lomake-yksikko {
    height: 34px;
    line-height: 34px;
}
.lomake-vihje {
    .vihjeen-sisalto {
        margin: 5px 0;
        .glyphicon {
            color: @sininen5;
        }
    }
}

.sijainti-pohjoinen, .sijainti-itainen {
  margin-left: 1.5em;
}

