.lomake {
    .has-error {
        border-bottom: solid 2px @vaara !important;
    }

    .virheet {
       top: -30px;
    }
    .virhe {
        background-color: @vaara;
        color: @valkoinen;
        padding: 5px;
        width: 100%;
        z-index: 1000;
    }
    textarea {
        padding: 2px 6px;
    }
}
.lomake-footer{
    button + button {
        margin-left: @harja-nappien-valinen-etaisyys;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group button + button {
        margin-left: -1px;
    }
    .nappi-kielteinen {
        float: right;
        margin-right: @harja-nappien-valinen-etaisyys}
}

.radiovalinta {
  margin-right: 1em;
}

.radiovalinta-label {
  margin-left: 0.25em;
}

