.harja-modal {
  display: block;
  &-keskitetty {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    max-height: 90%;
    overflow-y: scroll;
  }
}

.modal-body {
    .kuvaus {
        margin-bottom: 30px;
    }
}

.kuva-modal .modal-body {
    /* Kun näytetään kuva, halutaan, että modal täyttää suurin piirtein koko ruudun.
       Tämä myös varmistaa, että kuva näyttää hyvältä vaikka sen leveys tai korkeus olisi
       huomattavasti pidempi. */
    height: 100%;
    max-height: 80%;
}

.modal-dialog {
    width: 90%;
    max-width: 600px;
    height: 100%; /* modal-content max-height vaatii */

    &-keskitetty {
      height: fit-content;
    }
}
.modal-dialog.materiaalikirjasto-modal {
    width: 90%;
    max-width: 90%;
    height: 100%; /* modal-content max-height vaatii */
}

.modal-dialog.yhteystieto {
    max-width: 500px;
}

.modal-dialog.yha-tuonti {
    max-width: 800px;
}

.modal-dialog.merkitse-valmiiksi-tiemerkintaan > .modal-content {
    min-height: 380px;
}

.modal-dialog.palaute-dialog {
  > .modal-content {
    min-height: 320px;
  }

  & .palauteohje {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.modal-content {
    width: 100%;
}

.kuva-modalissa {
    /* Varmistaa, että kuva näyttää hyvältä kuvasuhteesta riippumatta. */
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-otsikko-virhe {
  color: @vaara;
}

.peitto-modal {
  position:fixed;
  background-color:rgba(200,200,200,.5);
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  z-index:300;
  display:flex;
  align-items: center;
  justify-content: center;

  .peitto-kontentti {
    padding: 0px;
    background-color:#ffffff;
    width:600px;
    height:493px;
    display: flex;
    flex-direction:column;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 36px;
      /* identical to box height */
      color: #000000;

      padding:0px 32px;
      margin:0px 0px 30px;
      height:72px;
      border-bottom: 1px solid lightgrey;
      display:flex;
      flex-direction:row;
      align-items: center;

      button {
        margin-left: auto;
        min-height: 27px;
        min-width: 27px;
        background: none;
        border: none;
      }
    }
    .kulukentta {
      margin: 14px 32px;
    }
    .napit {
      margin:auto 32px 42px;
      button {
        box-sizing: border-box;
        width:160px;
        height:40px;
        font-size:14px;
        margin: 0px 32px 0px 0px;
        .glyphicon {
          margin-right:11px;
        }
      }
      .tallenna {
        background-color:#008A00;
        color: white;
      }

      .sulje {
        border: 1px solid #0065AF;
        color: #0065AF;

      }

    }
    label {
      display: block;
    }
  }
}

.modal-ilmoita-virheesta-tiedot {
  margin: 1.5em 0;
}
