
.harja-modal {
  display: block;

  --tblr-modal-padding: 0;
  --tblr-modal-header-padding: 0;
  --tblr-modal-footer-padding: 0;
  --tblr-modal-border-width: 0;
  --tblr-modal-inner-padding: 0;

  &-keskitetty {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    width: 90%;
    max-width: 800px;
    height: 100%;
    margin: 1.75rem auto;

    &-keskitetty {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 400px;
    }

    &.materiaalikirjasto-modal {
      width: 90%;
      max-width: 90%;
      height: 100%;
    }
    &.yhteystieto {
      max-width: 500px;
    }
    &.yha-tuonti {
      max-width: 800px;
    }
    &.merkitse-valmiiksi-tiemerkintaan > .modal-content {
      min-height: 380px;
    }
    &.palaute-dialog {
      > .modal-content {
        min-height: 420px;
      }
      & .palauteohje {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .modal-content {
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    padding: @valistys-32;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
  }

  .modal-header {
    padding: 0;
    border-bottom: 0;
    
    h2.modal-title {
      margin: 0 0 @valistys-16;
    }
  }

  .modal-body {
    padding: 0;
    margin-bottom: 40px;
    .kuvaus {
      margin-bottom: 30px;
    }
  }

  .modal-footer {
    border: 0;
    padding: 0;
  }

  &.kuva-modal .modal-body {
    height: 100%;
    max-height: 80%;
  }
}

.kuva-modalissa {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-otsikko-virhe {
  color: @vaara;
}

.modal-ilmoita-virheesta-tiedot {
  margin: 1.5em 0;
}

.peitto-modal {
  position:fixed;
  background-color:rgba(200,200,200,.5);
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  z-index:300;
  display:flex;
  align-items: center;
  justify-content: center;

  .peitto-kontentti {
    padding: 0px;
    background-color:#ffffff;
    width:600px;
    height:493px;
    display: flex;
    flex-direction:column;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 36px;
      color: #000000;

      padding:0px 32px;
      margin:0px 0px 30px;
      height:72px;
      border-bottom: 1px solid lightgrey;
      display:flex;
      flex-direction:row;
      align-items: center;

      button {
        margin-left: auto;
        min-height: 27px;
        min-width: 27px;
        background: none;
        border: none;
      }
    }
    .kulukentta {
      margin: 14px 32px;
    }
    .napit {
      margin:auto 32px 42px;
      button {
        box-sizing: border-box;
        width:160px;
        height:40px;
        font-size:14px;
        margin: 0px 32px 0px 0px;
        .glyphicon {
          margin-right:11px;
        }
      }
      .tallenna {
        background-color:#008A00;
        color: white;
      }

      .sulje {
        border: 1px solid #0065AF;
        color: #0065AF;

      }

    }
    label {
      display: block;
    }
  }
}

.modal-ilmoita-virheesta-tiedot {
  margin: 1.5em 0;
}

.liite 
{
    /* "Virustarkastus käynnissä" .. */
    .virustarkistus {
        padding: @valistys-16 0;
    }

    .liite-rivi {
        display: flex;
        padding: @valistys-12 0;
        width: 270px;
    }

    .liite-rivi .liite-nimi, .liite-linkki {
        margin-right: auto;
        display: block;
        width: @valistys-128;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
