.nappi(@vari, @tausta, @reunus: @tausta,
       @vari-osoitettaessa: @vari, @tausta-osoitettaessa: @tausta,
       @reunus-osoitettaessa: @reunus, @fontin-paino: normal,
       @vari-disabled: @harmaa7, @tausta-disabled: @harmaa10, @reunus-disabled: @harmaa7) {
    .btn();

    &.keskitettava {
        display: block;
        margin: 0 auto;
    }
    &.pull-right {
        margin-right: 0;
    }
    /* Erilaiset koko-variantit */
    &.btn-xs { .btn-xs(); }
    &.btn-sm { .btn-sm(); }
    &.btn-lg { .btn-lg(); }

    .button-variant(@vari; @tausta; @reunus);

    font-weight: @fontin-paino;

    &:hover,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        color: @vari-osoitettaessa;
        background-color: @tausta-osoitettaessa;
        border-color: @reunus-osoitettaessa;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:active,
        &.active {
            background-color: @tausta-disabled;
            border-color: @reunus-disabled;
            color: @vari-disabled;
        }
    }
    &.input-group-addon {
        display: table-cell;
    }
    border-radius: 3px;
    margin-right: 5px;
}

/* Ensisijaista toimintoa indikoiva nappi. */
.nappi-ensisijainen {
    .nappi(@vari:          @white-default;
    @tausta:               @blue-default;
    @tausta-osoitettaessa: @primaari-sininen-valittuna;
    @fontin-paino:         600;);
}

/* Toissijaista toiminnallisuutta esittävä väritys. */
.nappi-toissijainen {
    .nappi(
    @vari:                 @blue-default;
    @vari-osoitettaessa:   @white-default;
    @tausta:               @white-default;
    @tausta-osoitettaessa: @primaari-sininen-valittuna;
    @reunus:               @blue-default;
    @fontin-paino:         600;
    );
}

/* Design Libraryn reunaton nappi (ghost). */
.nappi-reunaton {
    .nappi(
        @vari:                 @blue-dark;
        @vari-osoitettaessa:   @blue-dark;
        @tausta:               rgba(0,0,0,0);
        @tausta-osoitettaessa: @blue-lighter;
        @reunus:               rgba(0,0,0,0);
        @fontin-paino:         600;
        @vari-disabled:        #858585;
        @tausta-disabled:      rgba(0,0,0,0);
        @reunus-disabled:      rgba(0,0,0,0);
    );
}

/* Myönteinen toiminto */
.nappi-myonteinen {
    .nappi(
    @vari:                 @white-default;
    @vari-osoitettaessa:   @onnistuminen;
    @tausta:               @onnistuminen;
    @tausta-osoitettaessa: @white-default;
    @reunus:               @onnistuminen;
    );
}

/* Kielteinen toiminto */
.nappi-kielteinen {
    .nappi(
    @vari:                 @white-default;
    @vari-osoitettaessa:   @vaara;
    @tausta:               @vaara;
    @tausta-osoitettaessa: @white-default;
    @reunus:               @vaara;
    );
}

/* Varoitus-toiminto */
.nappi-varoitus {
    .nappi(
    @vari:                 @white-default;
    @vari-osoitettaessa:   @brand-warning;
    @tausta:               @brand-warning;
    @tausta-osoitettaessa: @white-default;
    @reunus:               @brand-warning;
    );
}

// Harja spesifinen
.nappi-alasveto {
    color:                 @harmaa1;
    background-color:      @white-default;
    border:                1px solid @harmaa7;
    font-weight:           normal;
    padding-bottom:        2px;
    width:                 100%;
    &:active,
    &:focus {
        border: 1px solid @blue-default;
        outline: none;
    }
    &[disabled] {
        color: @harmaa7;
    }
}
.nappi-murupolkualasveto {
    .nappi-alasveto;
    height: @murupolun-elementtikorkeus;
    padding: 1px;
    vertical-align: top;
    width: 32px;
    .livicon-chevron-down {
        color: @blue-default;
        position: relative;
        top: 2px;
    }
}

.nappi-hakualasveto {
  .nappi-alasveto;
  .pull-right;
  width: 26px;
  height: @input-korkeus + 3;
  position: relative;
  top: -@input-korkeus - 3;
  left: -1px;
}

/* Gridin alla lomakekentät ovat pienempi, pienennetään myös alasvedon hakunappia */
.livi-grid .nappi-hakualasveto {
  width: 22px;
  height: 22px;
  top: -22px;
}

.livi-grid .leijuke .nappi-hakualasveto {
    width: 26px;
    height: @input-korkeus + 3;
    top: -@input-korkeus - 3;
}

.inlinenappi:active {
    color: @harmaa6;
}
.napin-vinkki {
    margin-left: @harja-nappien-valinen-etaisyys;
}

.nappi-naulattu {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nappi-ikoni {
    width: 36px;
}
.napiton-nappi {
    background-color: inherit;
    border: none;
    color: #0066cc;
    &.punainen {
        color: #B40A14;
        font-weight: 600;
    }
    &.tumma {
        color: @blue-dark;
    }
}

.nappi-korkeus-36 {
    height: 36px;
}
