/* Tässä tiedostossa on navigointiin liittyvien komponenttien tyylejä.
   Huom. osa hyvin yleiskäyttöisistä navigointielementeistä löytyy yleiset-namespacesta. */

.tabs-taso1 {
  a {
    background-color: @sininen4;
    text-transform: uppercase;
    color: @valkoinen;
  }

  > li:not(.active) > a:hover {
    background-color: @sininen5;
    color: @valkoinen;
  }
}

.tabs-taso2 {
  > li.active a {
    border-bottom: none !important;
  }

  > li:not(.active) > a {
    font-weight: bold;
    border-left: 1px solid @sininen4;
    border-top: 1px solid @sininen4;
    border-right: 1px solid @sininen4;
    border-bottom: 1px solid @harmaa7;
    background-color: @harmaa11;
    color: @sininen4;
  }

  > li:not(.active) a:hover {
    color: @sininen5;
    border-left: 1px solid @sininen5 !important;
    border-top: 1px solid @sininen5 !important;
    border-right: 1px solid @sininen5 !important;
    background-color: @harmaa11;
  }
}