.otsikkopaneeli {
  .otsikkopaneeli-otsikko {
    height: 32px;
    color: @valkoinen;
    padding: 5px;
    background-color: @primaari-sininen;
    position: relative;

    .otsikkopaneeli-custom-paneelikomponentti {
      position: absolute;
    }
  }

  // Sisällön halutaan olevan tiivis
  .otsikkopaneeli-sisalto {

    .panel, .panel-heading, .panel-body {
      padding: 0;
      margin: 0;
    }
  }
}