#palautelinkki {
  color: @sininen4;

  &:hover {
    color: @sininen1;
    text-decoration: underline;
  }

  &:visited {
    color: @sininen4;
  }
}

#info {
    color: @sininen5;

    &-active {
        color: @sininen5;
        font-size: 14px;
        font-weight: 900;
        text-decoration: none;
    }
}

.info-video {
    height: 500px;
    transition: 0.4s;
    margin-bottom: 130px;
    margin-top: 10px;
}

.info-title.main {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 0.5em solid #0088ce;
    border-top: 0.2em solid #c8c8c8;
}

.info-heading.main {
    padding-bottom: 30px;
}

.info-title {
    /* Title */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    list-style: none;
    padding-top: 30px;
}

.info-heading {
    /* Heaing */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.info-iframe {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-click:hover {
    color: hwb(204 51% 28%);
    transition: 0.1s;
}

.info-click {
    transition: 0.5s;
    height: 60px;
    cursor: pointer;
    color: hwb(203 10% 23%);
    width: 100%;
    transition: 0.1s;
}

.embed-title {
    position: relative;
    float: top;
    width: 100%;
    padding: 15px;
    text-align: center;
    transition: 0.4s;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    border-radius: 2px;
    border-style: dotted;
    border-color: red;
}

.crash-component {
  background: @oranssi-kevyt;
  border: 1px dashed @punainen1;
  padding: 5px;
  a{
    color: @punainen1;
  }
  span {
    font-weight: bold;
  }
  .crash-details {
    display: none;
    color: black;
    font-size: 10px;
  }
  .details-open {
    display: block;
  }
}
