.pvm-valinta {
  position: absolute;
  z-index: 2000;
  text-align: center;
  min-width: 200px;
  max-width: 200px;

  background-color: #ffffff;

  .pvm-controllit {
    background-color: #fafafa;
  }

  .pvm-valittu {
    font-weight: bold;
  }

  .pvm-tanaan-text {
    cursor: pointer;
  }

  .pvm-paiva {
    &:hover {
      background-color: wheat;
    }
  }

  .pvm-muu-kk-paiva {
    background-color: @harmaa10;
  }

  .pvm-viikonpaivat {
    font-size: 85%;
    background-color: @sininen6;
  }

  .pvm-disabloitu {
    background-color: @harmaa6;
  }

  border: solid 1px black;
  border-top: none;
}

.pvm-tanaan {
  background-color: yellow;
}

.kalenteri-kontti {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height:29px;
  color: @gray100;

  &.auki {
    z-index: 2000;
  }

  .calendar-default {
    background-color:white;
    min-height: 300px;
    width:100%;
    border: 1px solid @gray200;
    position: absolute;
    z-index:1;
  }

  .calendar-header-row {
    background: @gray230;
    padding: 16px;
  }

  .calendar-cell {
    background: white;
    &:hover {
      background-color: @gray245;
    }

    &.pvm-disabloitu {
      background-color: @gray200;
    }
  }
}