.haku-container {
	margin-top: @margin-double;
}
.haku-lista{
	.border-style-thin;
	.rounded;
	max-height: 300px;
	overflow-y: scroll;
	padding: 0;
}
.haku-lista-item {
	list-style: none;
	:hover, :focus {
		background-color: @color-dark-gray;
		color: white;
	}
}
.haku-lista-item-nimi {
	padding: @margin-one;
}