@import "livi_tyylit";

.alasveto-gridin-kentta {
	.livi-alasveto(100%, auto);
	.valittu {
		max-height: 100%; //vähän häkki
	}
}
.alasveto-sopimustyyppi {
	margin: 1px 0;
	.livi-alasveto(150px);
}
.alasveto-urakkatyyppi,
.alasveto-urakoitsija {
	.livi-alasveto(200px);
}
.label-ja-alasveto.alasveto-sillan-tarkastaja {
	@leveys: 330px;
	width: @leveys;
	.livi-alasveto(@leveys);
}
#footer {
	background-color: @harjan-taustavari;
	clear: both;
	text-align: center;
	position: absolute;
}
#footer-content {
	height: 60px;
	margin: 0 auto;
	padding: 20px 0 10px;
	width: 90%;
	a {
		color: @harmaa2;
	}
}

ul#sivut {
  margin-top: 5px;
}

div.valilehti {
  margin-top: 1em;
}

.haku-container {
	> input {
		color: @harmaa1;
		padding: 3px 6px;
	}
	margin-top: 10px;
	max-width: 450px;
}
.haku-lista{
	border: 1px solid @sininen5;
	overflow-y: auto;
	padding: 0;
}

.haku-lista-item-nimi {
	background-color: @valkoinen;
	border-color: @harmaa7;
	color: @sininen4;
	padding: 3px 6px;
	&:hover,
	&:focus,
		&.focus,
	&:active {
		background-color: @sininen5;
		color:            @valkoinen;
	}
}

#harja-brand-icon {
	height: 15px;
	position: absolute;
	top: 17px;
	width: 68px;
}
.selected {
	color: blue;
}

.korostettu {
   background-color: wheat;
}
.muokkaustoiminnot {
	> span {
		padding: 5px;
	}
}
.murupolku {
	height: 65px;
	.urakoitsija-otsikko {
		display: inline-block;
	}
	> li {
		height: 65px;
		margin-top: 15px;
	}
}
.murupolku-suotimet {
	position: relative;
	top: -6px;
	> * {
		display: inline-block;
		margin-left: 10px;
	}
}
.murupolku-radiovalinta {
	margin: 0 5px;
	> label {
		padding: 5px;
	}
}
.nayta-kayttajat-valinta {
	input {
		margin: 5px 5px 5px 30px;
	}
}
div.toimenpidekoodit select {
  min-width: 480px;
  max-width: 700px;
  font-size: 200%;
  margin-bottom: 5px;
}

div.toimenpidekoodit select#taso2 {
  margin-left: 20px;
  min-width: 460px;
}
div.toimenpidekoodit select#taso3 {
  margin-left: 40px;
  min-width: 440px;
}

tr.uusitehtavakoodi td {
  padding-top: 10px;
}

.label-ja-alasveto {
	display: inline-block;
	margin: 10px 5px 20px;
	.alasvedon-otsikko {
		display: inline-block;
		font-weight: bold;
	}
	.livi-alasveto(300px);
}

.label-ja-aikavali {
  display: inline-block;
  margin: 10px 5px 20px;
}

.flash-viesti {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 60%;
}
.hoitokauden-kustannukset {
	> div.summa {
		font-weight: bold;
		margin: 6px;
		text-align: right;
	}
	div.piirakka {
	  text-align: center;
	}
}
.siltatarkastus-kontrollit {
	> * {
		margin-right: 10px;
	}
}
.tasaa-oikealle {
  text-align: right;
  > input {
	text-align: right;
  }
}

// FIXME: tilapäinen hack, koska kartta meni "muokkaa" napin päälle
div.valitavoitteet { margin-top: 100px; }