
/* on-click eventit saadaan hoitumaan missä tahansa elementissä , kun laitetaan "cursor: pointer"  */

.harja-tabs-tyyli-tabs .harja-tabs-valilehti {
    cursor: pointer;
}

.klikattava {
    cursor: pointer;

    &.alleviivaa {
        text-decoration: underline;
    }
}
