.urakkavalinnat {
  background-color: @harmaa13;
  margin-bottom: 2em;
}

.urakkatoiminnot {
  background-color: @harmaa9;
  padding: 7px;
}

.urakkatoiminnot-naulattu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.urakkavalinnat-tyyliton {
  margin-bottom: 0;
  display: inline-block;
  background-color: unset;
}

.urakkatoiminnot-tyyliton {
  padding: 0;
  display: inline-block;
  background-color: unset;
}

.checkbox-pudotusvalikko {
  .checkbox-label-valikko {
    width: 100%;
    padding: 0px 8px 2px 8px;

    input {
      display: inline-block;
      float: right;
    }
  }
  .pudotusvalikko {
    display: inline-block;
    margin-right: 8px;
    width: calc(5 * @valintakontrollin-leveys / 8 - 8px);
  }
  .valinta-nappi {
    width: 3 * @valintakontrollin-leveys / 8;
    margin: 0px;
  }
}