@import "livi_tyylit";

/* harja.ui.yleiset namespacessa olevien yleisten komponenttien tyylejä */
#app {
  background-color: @harmaa15;
}

.alasveto-ei-loydoksia {
  padding: 3px 8px;
}

div.tietorivi {
  border-bottom: solid 1px lightGray;

  & .nappi-ensisijainen {
    height: @input-korkeus-matalampi;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  & .nappi-alasveto {
    height: @input-korkeus-matalampi;

    > .livicon-chevron-down {
      height: 4px;
    }
  }

  .pvm-kentta {
    width: auto;
  }
}

div.tietorivi-ilman-alaviivaa {
  border-bottom: none;
}

div.tietokentta {
  font-weight: bold;
  min-width: 150px;
}

span.tietokentta {
  font-weight: bold;
  min-width: 150px;
  display: inline-block;
}

span.tietoarvo {
  div.dropdown {
    display: inline-block;
  }
}

.taulukko-tietonakyma {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.taulukko-tietonakyma > table {
  font-size: 0.8rem;
}

.taulukko-tietonakyma-tietokentta {
  padding-right: 30px;
  font-weight: bold;
  text-align: right;
}

button > .ajax-loader {
  display: inline-block;
  > img {
    height: 14px;
    width: 14px;
  }
}

.ladataan-harjaa {
  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  > .viesti {
    display: inline;
  }
}

.ajax-loader-pisteet {
  width: 25px;
}

// yleisluokka, jonka voi lisätä mihin vain klikattavaan
// tämä tarvitaan usein mobiiliselaimia varten, että ne tajuavat muiden
// kuin linkkien ja buttonien olevan klikattavia.
.klikattava {
  cursor: pointer;
}

.keskita {
  text-align: center;
}

.korosta {
  -webkit-animation-name: rivin-korostusanimaatio; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 12s; /* Chrome, Safari, Opera */
  animation-name: rivin-korostusanimaatio;
  animation-duration: 12s;
}

.korostettu div.haku-lista-item-nimi {
  background-color: wheat;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rivin-korostusanimaatio {
  from {
    background-color: @onnistuminen;
  }
  to {
    background-color: @harjan-taustavari;
  }
}

/* Standard syntax */
@keyframes rivin-korostusanimaatio {
  from {
    background-color: @onnistuminen;
  }
  to {
    background-color: @harjan-taustavari;
  }
}

.label-ja-kentta {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  .kentan-otsikko {
    font-weight: bold;
  }
  .livi-alasveto(@valintakontrollin-leveys);
  input:not([type="checkbox"]) {
    // Vaaditaan, että label-ja-kenttä elementissä input-itemit ovat aina 100% leveyisiä ja standardikorkeita.
    // Rajataan pois checkboksit, koska nämä säädöt eivät toimi checkboksien kanssa kovin hyvin.
    height: @valintakontrollin-korkeus;
    width: 100%;
  }
}

.label-ja-vali-tpl (@leveys: @valintakontrollin-leveys, @margin: 5px) {
  display: inline-block;
  vertical-align: top;
  margin: @margin;
  max-width: 100%;
  width: @leveys;

  .pvm-kentta {
    width: 46%;
  }

  .numerovali-kentta {
    display: inline-block;
    width: 33%;

    input {
      height: @valintakontrollin-korkeus;
      width: 100%;
    }
  }

  .pvm-valiviiva-wrap {
    display: inline-block;
    height: @input-korkeus;
    text-align: center;
    width: 7%;

  }

  .pvm {
    height: @valintakontrollin-korkeus;
    max-width: 100%;
    position: relative;
    top: 1px;
  }
}

.label-ja-aikavali {
  .label-ja-vali-tpl(@valintakontrollin-leveys);
}
.label-ja-aikavali-lyhyt {
  .label-ja-vali-tpl(85px);
}

.label-ja-aikavali-lomake {
  .label-ja-vali-tpl(100%, 0px);
  .pvm { width: 100%; }
}

.label-ja-kentta-puolikas {
  .label-ja-kentta();
  width: @valintakontrollin-leveys / 2;
  min-width: initial;
  max-width: initial;
}

.label-ja-numerovali {
  .label-ja-vali-tpl(@valintakontrollin-leveys);
}

.testikaytto-alasveto {
  .livi-alasveto(215px);
}

//vain "demo-koodia"
.harjan-ikonit {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  > div {
    margin: 5px 0;
  }
}

.harja-haitari.leijuva {
  position: absolute;
  z-index: 10;
}

//Koko haitari
.harja-haitari {
  max-width: 400px;

  .haitari-otsikko {
    margin-left: 8px;
    font-size: @fontin-koko-h2;
  }

  .haitari {
    border: 1px solid @harmaa7;
    background-color: @harmaa15;
  }

  //Yksittäinen haitarin rivi
  .haitari-rivi {

  }

  //Haitarin otsikko - "klikattava alue"
  .haitari-heading {
    border-style: solid;
    border-color: @harmaa7;
    border-width: 0 0 1px 0;
  }

  // Caret
  .haitarin-tila {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
  }

  // Tekstimuotoinen otsikko
  .haitari-title {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: @fontin-koko-h2;
    line-height: 29px;
  }

  .haitari-title.haitari-piilossa {
    display: none;
  }

  .haitari-sisalto {

  }

  .haitari-kiinni {
    display: none;
  }
}
.haitari-levea { max-width: 100%; }

.liitekomponentti {
  > div.file-upload {
    position: relative;
    overflow: hidden;
    margin: 0px;

    input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  > .liite-virheviesti {
    color: @vaara;
  }
}

.bold {
  font-weight: bold;
}

.karttasijaintivalitsin-teksti {
  background-color: @harjan-taustavari;
  border: none;
  padding: 6px 4px;
}

.karttavalitsin-virhe {
  color: @vaara;
}

.tr-valitsin-peruuta-esc {
  font-size: 0.8em;
}

.pitka-teksti {
  white-space: pre-wrap;
  .nayta-tai-piilota { margin-left: 1em; }
}

.border-bottom {
   border-bottom: solid 1px @primaari-sininen;
}
@nayta-kartta-napin-margin-bottom: 5px;
.pystyvali-karttanapille {
  height: @nayta-kartta-napin-margin-bottom;
  width: 100%;
}

// Vihje-elementti

.yleinen-pikkuvihje {
  .vihjeen-sisalto {
    margin: 5px 0;
    .livicon-info-circle {
      color: @sininen5;
    }
  }
  margin-right: 1em;

  .vihjeen-lisarivi {
    margin-left: 15px;
  }
}

.checkboxin-vihje {
  // Tulee checkboxin leveydestä (23px) + marginista (12px)
  margin-top: 4px;
  margin-left: 35px;
}

.vastuuhenkilo {
  .vastuuhenkilo-ensisijainen {
    font-weight: bold;
  }
}

.sisalto-container {
  padding: @fontin-koko-leipateksti;
  border: solid 1px @harmaa7;
  margin-bottom: @fontin-koko-leipateksti;

  > h1 {
    font-size: @font-size-h3;
  }
}

/* Yleinen kentän puuttuva arvo -luokka, joko gridissä tai lomakkeessa */
.puuttuva-arvo {
   border-bottom: solid 1px @vaara !important;
}

.sisallon-leveys {
  display: inline-block;
  clear: both;
  float: left;
}

.haitari-laatikko {
  flex: 1;

  > *:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex-row {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  width:100%;
  &.alkuun {
    justify-content: flex-start;
    & > * {
      &:first-child:not(:last-child) {
        margin-right:20px;
      }
      &:last-child:not(:first-child) {
        margin-left:20px;
      }
      &:first-child:last-child {
        margin:0;
      }
    }
    &.venyta {
      align-items: stretch;
    }
  }
  &.tasaa-alas {
    align-items: flex-end;
  }
  &.venyta {
    align-items: stretch;
  }

  .col-mimic {
// it's a mimic! laittaa samat paddingit mitä col-elementeillä, mutta ei ota kantaa leveyksiin
    padding: 0 15px;
  }
}
.map-lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
  &:last-child {
    padding-bottom: 10px;
  }
  > * {
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      flex: 1;
    }
  }
}
.placeholder {
  color: @harmaa5;
}


/*
  Design libraryn välistykset remeinä
  Designissa välistykset merkataan pikseleinä, mutta devauksessa halutaan käyttää mieluummin remejä,
  mobiililaitteiden skaalauksen ja yleisten käytäntöjen ylläpitämisen vuoksi.

  Remit laskettu oletuspikselikoon 16px perusteella.
 */

@valistys-4: 0.25rem;
@valistys-8: 0.5rem;
@valistys-12: 0.75rem;
@valistys-16: 1rem;
@valistys-32: 2rem;
@valistys-48: 3rem;
@valistys-64: 4rem;
@valistys-128: 8rem;
