/bower_components/
/node_modules/
npm-debug.log
.DS_Store
.idea/
.lein-failures
.lein-repl-history
build.xml
dev-resources/
doc/
figwheel_server.log
harja.iml
resources/
shp/
target/
test2junit/
tietokanta/
vagrant/
