*.DS_Store
asetukset.edn
resources/public/css
resources/public/js
resources/~$roolit.xlsx
target
.lein-repl-history
.nrepl-port
.repl/
dev-resources/js/harja.js
dev-resources/js/out/
logs/
doc/
harja-stg-dump.sql
harja-stg-dump
harja-test-dump.sql
harja-test-dump
tietokanta.tgz
/resources/gitlog.edn
.lein-failures
figwheel_server.log
karma-test-results.xml
node_modules
.idea/
harja.iml
*~
.vagrant
build.xml
test2junit
\#*\#
shp
tl132
Pohjavesialue
tuotanto/harja.jar
tuotanto_test.sh
