*.DS_Store
asetukset.edn
resources/public/css
target
.lein-repl-history
.nrepl-port
.repl/
dev-resources/js/harja.js
dev-resources/js/out/
logs/
/resources/gitlog.edn
.lein-failures
figwheel_server.log
karma-test-results.xml
node_modules
.idea/
harja.iml
