# Supply chain -suojaus: Estetään npm:n lifecycle-skriptien automaattinen ajo (pre/postinstall ym.)
# Tämä vähentää supply chain -hyökkäysten riskiä, koska haitallinen paketti ei voi ajaa koodia asennuksen yhteydessä.
#
# HUOM: Tämä estää myös Cypressin binäärin automaattisen latauksen.
# Cypressin binääri täytyy asentaa erikseen komennolla: `npx cypress install` ennen cypressin käyttöä.
# Katso: kaynnista_cypress.sh

ignore-scripts=true


# Supply chain -suojaus: Estetään liian uusien pakettien asentaminen
# Huom: Varmista, että Depandabot/Renovate-asetuksissa min-release-age-asetusta vastaava asetus on määritelty
#       samaan arvoon, jotta automaattiset PR:t eivät turhaan epäonnistu liian uusien pakettien vuoksi.
min-release-age=3
