{:kehitysmoodi true

 :testikayttajat [{:kayttajanimi "tero" :kuvaus "Tero Toripolliisi, POP ely"}
                  {:kayttajanimi "yit_pk" :kuvaus "YIT:n pääkäyttäjä"}
                  {:kayttajanimi "yit_uuvh" :kuvaus "YIT:n urakan vastuuhenkilö"}]

 :http-palvelin {:threads 16
                 :anti-csrf-token #=(slurp "../.harja/anti-csrf-token")}
 :tietokanta {:palvelin "localhost"
              :tietokanta "harja"
              :portti 5432
              :yhteyspoolin-koko 16
              :kayttaja "harja"
              :salasana ""}
 :tietokanta-replica {:palvelin "localhost"
                      :tietokanta "harja"
                      :portti 5432
                      :yhteyspoolin-koko 16
                      :kayttaja "harja"
                      :salasana ""}
 :fim {:url
       "https://localhost:6666/FIMDEV/SimpleREST4FIM/1/Group.svc/getGroupUsersFromEntitity"
       :tiedosto "dev-resources/fim.edn"}
 :log {:gelf {:taso :debug
              :palvelin "localhost"}
       ;; :slack {:taso :warn
       ;;         :webhook-url #=(slurp "../.harja/slack-webhook-url")}
       ;; :hipchat {:taso     :warn
       ;;           :huone-id 1396730
       ;;           :token    "h4egJmxnIjE1EiApo70VQZlJOl29g6Hzo5dcFGnD"}

       ;; :email {:taso          :error
       ;;         :palvelin      "solita-service-1.solita.fi"

       ;;         ;; Lisää nimesi vektoriin, jos haluat spämmiä
       ;;         :vastaanottaja [;;"sinunmailisi@example.org"
       ;;                         ]}
       }

 :sonja
 {:url "tcp://localhost:61616"
  :kayttaja "harja"
  :salasana "harjaxx"
  :tyyppi :activemq}

 :sampo {:lahetysjono-sisaan "Harja13-16.SampoToHarja.Msg"
         :kuittausjono-sisaan "Harja13-16.HarjaToSampo.Ack"
         :lahetysjono-ulos "Harja17.HarjaToSampo.Msg"
         :kuittausjono-ulos "Harja17.SampoToHarja.Ack"
         :paivittainen-lahetysaika nil}
 :tloik {:ilmoitusviestijono "Harja.T-LOIKToHarja.Msg"
         :ilmoituskuittausjono "Harja.T-LOIKToHarja.Ack"
         :toimenpideviestijono "Harja.HarjaToT-LOIK.Msg"
         :toimenpidekuittausjono "Harja.HarjaToT-LOIK.Ack"
         :tietyoilmoitusviestijono "Harja.HarjaToT-LOIK-Tietyoilmoitukset.Msg"
         :tietyoilmoituskuittausjono "Harja.HarjaToT-LOIK-Tietyoilmoitukset.Ack"
         :ilmoitukset {:google-static-maps-key #=(slurp "../.harja/google-static-maps-key")}
         :uudelleenlahetysvali-minuuteissa 30}

 :turi {:turvallisuuspoikkeamat-url "https://harja-test.solitaservices.fi/harja/integraatiotesti/turi/poikkeamaTuonti"
        :urakan-tyotunnit-url "https://harja-test.solitaservices.fi/harja/integraatiotesti/turi/tyotuntiTuonti"
        :kayttajatunnus "Harja"
        :salasana #=(slurp "../.harja/turi-salasana")
        :paivittainen-lahetysaika [12 50 00]}

 :sonja-sahkoposti {:vastausosoite "harja-ilmoitukset@example.com"
                    :suora? true
                    ;; :palvelin "solita-service-1.solita.fi"
                    :jonot {:sahkoposti-sisaan-jono "Harja.Incoming.Email.InQ"
                            :sahkoposti-ulos-jono "Harja.Send.Email.InQ"
                            :sahkoposti-ulos-kuittausjono "Harja.Send.Email.Status"}}

 :solita-sahkoposti {:vastausosoite "harja-ala-vastaa@liikennevirasto.fi"
                    ;; :palvelin "solita-service-1.solita.fi"
                     }

 :tierekisteri {:url "https://harja-test.solitaservices.fi/harja/integraatiotesti/tierekisteri"
                :uudelleenlahetys-aikavali-minuutteina 60}

 :integraatiot {:paivittainen-lokin-puhdistusaika nil}

 :ilmatieteenlaitos {:lampotilat-url "http://weather.weatherproof.fi/tieindeksi2/tulokset.php"}

 :geometriapaivitykset {:tuontivali 60
                        :kayttajatunnus "ava-harja"
                        :salasana #=(slurp "../.harja/ava-salasana")

                        :tieosoiteverkon-shapefile "file://shp/Tieosoiteverkko/PTK_tieosoiteverkko.shp"
                        :tieosoiteverkon-osoite "https://ava.liikennevirasto.fi/harja/PTK_tieosoiteverkko.shz"
                        :tieosoiteverkon-tuontikohde "./shp/Tieosoiteverkko/PTK_tieosoiteverkko.shz"

                        :pohjavesialueen-shapefile "file://shp/Pohjavesialueet/PTV_tl141.shp"
                        :pohjavesialueen-osoite "https://ava.liikennevirasto.fi/harja/PTV_tl141.shz"
                        :pohjavesialueen-tuontikohde "./shp/Pohjavesialueet/PTV_tl141.shz"

                        :talvihoidon-hoitoluokkien-shapefile "file://shp/Talvihoitoluokat/PTV_tl132.shp"
                        :talvihoidon-hoitoluokkien-osoite "https://ava.liikennevirasto.fi/harja/PTV_tl132.shz"
                        :talvihoidon-hoitoluokkien-tuontikohde "./shp/Talvihoitoluokat/PTV_tl132.shz"

                        :soratien-hoitoluokkien-shapefile "file://shp/Soratieluokat/PTV_tl149.shp"
                        :soratien-hoitoluokkien-osoite "https://ava.liikennevirasto.fi/harja/PTV_tl149.shz"
                        :soratien-hoitoluokkien-tuontikohde "./shp/Soratieluokat/PTV_tl149.shz"

                        :siltojen-shapefile "file://shp/Sillat/PTV_silta.shp"
                        :siltojen-osoite "https://ava.liikennevirasto.fi/harja/PTV_silta.shz"
                        :siltojen-tuontikohde "./shp/Sillat/PTV_silta.shz"

                        :urakoiden-shapefile "file://shp/Hoitourakat/PTV_Hoitourakat10_2016.shx"
                        :urakoiden-osoite "https://ava.liikennevirasto.fi/harja/PTV_Hoitourakat10_2016.shz"
                        :urakoiden-tuontikohde "./shp/Hoitourakat/PTV_Hoitourakat10_2016.shz"

                        :ely-alueiden-shapefile "file://shp/ELYt/ULKOISET_Elyt_infra.shp"
                        :ely-alueiden-osoite "https://ava.liikennevirasto.fi/harja/ULKOISET_Elyt_infra.shz"
                        :ely-alueiden-tuontikohde "./shp/ELYt/ULKOISET_Elyt_infra.shz"

                        :valaistusurakoiden-shapefile "file://shp/Valaistusurakat/PTV_tl167.shp"
                        :valaistusurakoiden-osoite "https://ava.liikennevirasto.fi/harja/PTV_tl167.shz"
                        :valaistusurakoiden-tuontikohde "./shp/Valaistusurakat/PTV_tl167.shz"

                        :paallystyspalvelusopimusten-shapefile "file://shp/Paallystyspalvelusopimukset/PTV_tl151.shp"
                        :paallystyspalvelusopimusten-osoite "https://ava.liikennevirasto.fi/harja/PTV_tl151.shz"
                        :paallystyspalvelusopimusten-tuontikohde "./shp/Paallystyspalvelusopimukset/PTV_tl151.shz"

                        :tekniset-laitteet-urakat-shapefile "file://shp/Tekniset_laitteet_urakat/tekniset_laitteet_urakat.shp"

                        :siltojenpalvelusopimusten-shapefile "file://shp/Siltapalvelusopimukset/siltapalvelusopimukset.shp"}

 :yha {:url "https://harja-test.solitaservices.fi/harja/integraatiotesti/yha/"
       :kayttajatunnus "restusr"
       :salasana #=(slurp "../.harja/yha-salasana")}

 ;; Labyrintin SMS Gatewayn testaukseen tarvitaan SSH tunneli harja-app1-stg serverille porttiin 28080
 :labyrintti {:url "http://localhost:28080/sendsms"
              :kayttajatunnus "solita-2"
              :salasana #=(slurp "../.harja/labyrintti-salasana")}

 ;; ClamAV REST palvelun osoite
 :virustarkistus {:url "http://localhost:8080/scan"}

 :paivystystarkistus {:paivittainen-aika [12 11 00]}
 :reittitarkistus {:paivittainen-aika [00 30 00]}

 ;; Seuraavat ominaisuudet on mahdollista kytkeä pois päältä eri ympäristöissä lisäämällä avaimen settiin:
 ;; :laatupoikkeaman-selvityspyynnosta-lahtee-viesti  Kun laatupoikkeamasta pyydetään selvitystä urakoitsijalta,
 ;;                                                   lähetetään laatupoikkeaman urakan vastuuhenkilöille
 ;;                                                   tieto tästä SMS/email viestinä. Viesti sisältää linkin
 ;;                                                   tuotantoharjaan.
 ;; :tierekisterin-varusteet
 ;; :vesivayla
 ;; :fileyard
 ;; :varuste-api
 ;; :tietyoilmoitusten-lahetys
 :pois-kytketyt-ominaisuudet #{:fileyard :tietyoilmoitusten-lahetys :ais-data}

 :sahke {:lahetysjono "Harja13-16.HarjaToSahke.Msg"}

 :reimari {:url "https://www.example.com/HarjaWebService"
           :kayttajatunnus "reimaritunnus"
           :salasana "reimarisalasana"
           ;; :toimenpidehakuvali 60
           ;; :komponenttityyppihakuvali 60
           ;; :turvalaitekomponenttihakuvali 60
           ;; :vikahakuvali 60
           }

 :ais-data {:url "https://meri.digitraffic.fi/api/v1/locations/latest"
            :sekunnin-valein 60}

 :turvalaitteet {:geometria-url "https://extranet.liikennevirasto.fi/inspirepalvelu/avoin/wfs?Request=GetFeature&typename=turvalaitteet&OUTPUTFORMAT=application/json"
                 :paivittainen-tarkistusaika [12 22 00]
                 :paivitysvali-paivissa 60}

 :vaylat {:geometria-url "https://extranet.liikennevirasto.fi/inspirepalvelu/avoin/wfs?Request=GetFeature&typename=vaylat&OUTPUTFORMAT=application/json"
          :paivittainen-tarkistusaika [12 22 00]
          :paivitysvali-paivissa 60}

 :tyotunti-muistutukset {:paivittainen-aika nil}

 :vkm  {:url "https://harja-test.solitaservices.fi/harja/integraatiotesti/vkm/muunnos"}

 :liitteet {:fileyard-url "http://localhost:3333/"}

 :yllapitokohteet {:paivittainen-sahkopostin-lahetysaika [12 12 00]}
 }
