{
 :kehitysmoodi true
 :tietokanta   {:palvelin   "localhost"
                :tietokanta "harja"
                :portti     5432
                :kayttaja   "harja"
                :salasana   ""}
 :fim          {:url "https://testisonja.liikennevirasto.fi/FIM/Person.svc/"}
 :log          {:gelf    {:taso     :debug
                          :palvelin "localhost"}
                :hipchat {:taso     :warn
                          :huone-id 1396730
                          :token    "h4egJmxnIjE1EiApo70VQZlJOl29g6Hzo5dcFGnD"}

                :email   {:taso          :error
                          :palvelin      "solita-service-1.solita.fi"

                          ;; Lisää nimesi vektoriin, jos haluat spämmiä
                          :vastaanottaja [;;"tatu.tarvainen@solita.fi"
                                          ;;"jarno.vayrynen@solita.fi"
                                          ;;"mikko.ronkkomaki@solita.fi"
                                          ]}
                }

 ;; Jos haluat käyttää Sonjaa, ota se pois kommenteista
 ;; tarvii SSH-tunnelin testi-Sonjaan.
 :sonja
               {:url      ""                                ;"tcp://localhost:61616"
                :kayttaja "harja"
                :salasana "harjaxx"
                :tyyppi   :activemq}

 :sampo        {:lahetysjono-sisaan       "Harja13-16.SampoToHarja.Msg"
                :kuittausjono-sisaan      "Harja13-16.HarjaToSampo.Ack"
                :lahetysjono-ulos         "Harja17.HarjaToSampo.Msg"
                :kuittausjono-ulos        "Harja17.SampoToHarja.Ack"
                :paivittainen-lahetysaika nil
                }
 :tloik        {:ilmoitusviestijono   "tloik-ilmoitukset"
                :ilmoituskuittausjono "tloik-ilmoituskuittaukset"}
 :integraatiot {:paivittainen-lokin-puhdistusaika nil}

 :ilmatieteenlaitos {:lampotilat-url "https://sonja.tiehallinto.fi/http/AURA/Lampotilat"}
 }
