{:main harja-laadunseuranta.test-main
 :optimizations :none
 ;;:asset-path "laadunseuranta/js/out"
 :output-to "resources/private/laadunseuranta/js/unit-test.js"
 ;;:output-dir "resources/private/laadunseuranta/js/out"
 :source-map-timestamp true
 :source-map true
 :closure-output-charset "US-ASCII"
 :foreign-libs
 [{:file "resources/public/laadunseuranta/js/proj4.js"
   :provides ["proj4"]}
  {:file "resources/public/laadunseuranta/js/epsg3067.js"
   :provides ["epsg3067"]}]}