{"1242141-OULU2" [{:tunniste 1
                   :kayttajatunnus "LXPENTTIER"
                   :etunimi "Erno"
                   :sukunimi "Penttikoski"
                   :sahkoposti "erno.penttikoski@example.com"
                   :puhelin "0123456789"
                   :roolit "1242141-OULU2_ELY_Urakanvalvoja"
                   :organisaatio "foo"
                   :poistettu false}
                  {:tunniste 2
                   :kayttajatunnus "LXSYOTMAX"
                   :etunimi "Max"
                   :sukunimi "Syöttöpaine"
                   :sahkoposti "max@syöttöpaine.org"
                   :puhelin "9876543210"
                   :roolit "1242141-OULU2_ELY_Urakanvalvoja"
                   :organisaatio "bar"
                   :poistettu false}
                  {:tunniste 3
                   :kayttajatunnus "LXVALVA"
                   :etunimi "Valtteri"
                   :sukunimi "Varamies"
                   :sahkoposti "valtteri.varamies@example.com"
                   :puhelin "555666777"
                   :roolit "1242141-OULU2_ELY_Urakanvalvoja"
                   :organisaatio "baz"
                   :poistettu false}
                  {:tunniste 4
                   :kayttajatunnus "LXUUU"
                   :etunimi "Uuno"
                   :sukunimi "Urakoitsija"
                   :sahkoposti "uuno.urakoitsija@esimerkki.fi"
                   :puhelin "1122334455"
                   :roolit "1242141-OULU2_vastuuhenkilo"
                   :organisaatio "urakoitsija"
                   :poistettu false}]}
