.kuittauksen-reuna {
  border: 1px ridge @harmaa7;
}
@kuittauksen-padding: 3px 10px;

.kuittaus-viesti{
  .kuittauksen-reuna();
}

.valitys-viesti{
  margin-left: 2%;
  .kuittauksen-reuna();
}

.uusi-kuittaus-nappi {
  margin-bottom: 10px;
}

.ilmoitukset {
  .boolean > .checkbox {
    padding-top: 0;
  }
}

.kuittauslista {
  .kuittaus {
    width: 29px;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 0.3em;
    border: solid 1px black;
    border-radius: 3px;
    font-size: 0.75 * @fontin-koko-leipateksti;
    text-align: center;
  }
  .vastaanotto {
    background-color: wheat;
  }
  .aloitus {
    background-color: yellow;
  }
  .lopetus {
    color:  #ff2200;
    background-color: white;
  }
  .muutos {
    background-color: white;
  }
  .vastaus {
    background-color: lightgreen;
  }
  .vaara-urakka {
    background-color: orangered;
  }

  /* Jos tyypille EI ole annettu kuittausta,
   * muutetaan väri haaleaksi ja reuna pienemmäksi */
  .ei-kuittausta {
    opacity: 0.4;
    border: dotted 1px black;

    &:hover { border: solid 1px black; opacity: 0.6; }
  }
}
.kuittaa-monta {
  margin: 5px 0;
}
.kuittaa-monta-tallennus {
  margin: 5px 5px 5px 0;
}

.selite-virkaapu {
  color: red;
  font-weight: bold;
  display: inline-block;

  margin-right: 1em;
}

.TPP {
  color: red;
}

.URK{
  color: darkcyan;
}

.TUR {
  color: orange;
}


.ilmoitusrivi-fade {
  opacity: 0.25;
}