.integraatioloki-varoitus {
  color: @varoitus;
}

.integraatioloki-onnistunut {
  color: @onnistuminen;
}

.integraatioloki-virhe {
  color: @vaara;
}
.integraatioloki {
  .label-ja-alasveto {
    width: 200px;
  }

  .label-ja-aikavali {
    width: 420px;
    label {
      margin: @valistys-16 0 0 0;
      line-height: inherit;
      font-weight: 600;
    }
    .pvm-aika-kentta {
      display: inline-block;
      width: unset;
    }

    .pvm {
      width: 120px;
      height: @valistys-32;
    }

    .aika-input {
      height: @valistys-32;
    }
  }
}
