.kalustoresurssit {
  .painikkeet {
    margin-top: 1rem;

    span {
      margin-left: 1rem;
    }
  }

  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
