.avoimet-poikkeamat,
.lupaustiedot {
  > div {
    display: block;
  }
}
.kojelauta-hallinta {
  .tietoja {
    .tietorivi {
      display: flex;
      .tietokentta {
        min-width: 0;
      }
      .tietoarvo {
        margin-left: auto;
      }
    }
  }
}
