.avoimet-poikkeamat,
.lupaustiedot {
  > div {
    display: block;
  }
}
.kojelauta-hallinta {
  .tietoja {
    .tietorivi {
      display: flex;
      .tietoarvo {
        margin-left: auto;
      }
    }
  }
}
