.avoimet-poikkeamat,
.lupaustiedot {
  > div {
    display: block;
  }
}
.kojelauta-hallinta {
  // fixme: tutkitaan, saataisiinko urakkatyypeille yhtenäinen tapa
  // näyttää yhteenvetorivi hienosti ilman tätä min-width säätöä
  .paallystysurakat {
    .tietokentta {
      min-width: 0;
    }
  }
  .tietoja {
    .tietorivi {
      display: flex;
      .tietoarvo {
        margin-left: auto;
      }
    }
  }
}
