div.yhteeveto {
  margin-top: 40px;
  border: 1px solid @harmaa-vaalea;
  box-sizing: border-box;
  padding: 16px;
  .header {
    font-size: 20px;
    line-height: 24px;
  }

  .row {
    font-size: 14px;
    line-height: 20px;
  }
  .negatiivinen-numero {
    color: @red-dark;
  }


}