.kustannussuunnitelma {
  background-color:lightgrey;
}

.hintalaskuri-vuodet {
  display:flex;
}

.hankinnat-header {
  display:flex;
}

.hankinnat-rivi {
  display:block;
}

.hankinnat-kontti {
  display:flex;
  flex-direction:column;
}

.hankinnat-label {
  padding:8px;
  display:flex;
  justify-content: space-between;
  cursor:pointer;
  &:hover {
    background-color:grey;
  }
  &.livicon-chevron-down {
    margin-left:auto;
  }
}