@import "../yleiset";

.laadunseuranta {
  .lajisuodattimet {
    margin-left: @valistys-48;
  }

  .lisaa-nappi {
    margin-left: auto;
    margin-top: 1.375rem; // Hack, jotta saadaan nappi menemään samaan linjaan valintalaatikkojen kanssa
  }

  .sanktioliite {
    .liite {
      padding: @valistys-16 0;
    }
  }
  .otsikko {
    margin-bottom: 8px;
  }
}

.sanktiot {
  .header-rivi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .header-export {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px;
    }
  }
}
