@import "../yleiset";

.laadunseuranta {
  .lajisuodattimet {
    margin-left: @valistys-48;
  }

  .lisaa-nappi {
    margin-left: auto;
    margin-top: 1.375rem; // Hack, jotta saadaan nappi menemään samaan linjaan valintalaatikkojen kanssa
  }

  .sanktioliite {
    .liite {
      padding: @valistys-16 0;
    }
  }
  .otsikko {
    margin-bottom: 8px;
  }
}

.laatupoikkeama {
  padding-bottom: @valistys-24;
  .liite-rivi {
    display: flex;
    padding: 0 0 @valistys-12 0;
    width: 270px;
    align-items: baseline;
  }
  .kommentit {
    .liite-rivi {
      display: flex;
      padding: @valistys-12 0;
      width: 270px;
      align-items: baseline;
    }
  }
}

.turvallisuuspoikkeamat {
  padding: @valistys-16;
  
  .turvallisuuspoikkeama-hoitokausi {
    margin-right: @valistys-16;
  }

  .turvallisuuspoikkeama-taulukko {
    padding-top: @valistys-24;
  }
}

.sanktiot {
  .header-rivi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .header-export {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px;
    }
  }
}
