
// Liikennetapahtumien yhteenveto
.liikenneyhteenveto>*:first-child {
    padding-bottom: 0px;
}

.liikenneyhteenveto>*:last-child {
    padding-top: 0px;
}

.palvelumuodot-rivi {
    display: grid;
    align-items: start;
    text-align: left;
    grid-template-columns: repeat(6, 1fr);
    padding: @valistys-16;
    gap: @valistys-8;
}

// Sarakkeista tulee hieman luettavampia pienemmällä resoluttiolla
.palvelumuodot-rivi>* {
    width: 70%;
}

// Yhteensä-sarake
.palvelumuodot-rivi>*:last-child {
    text-align: right;
}

.toimenpiteet-rivi {
  display: grid;
  align-items: start;
  text-align: left;
  grid-template-columns: repeat(6, 1fr);
  padding: @valistys-16;
  gap: @valistys-8;
}

.toimenpiteet-rivi>* {
  width: 70%;
}

.liikenne-valinnat {
  display: flex;
  flex-direction: column;
}

.liikennetapahtuma-suunta-suodatin {
  width: 300px;
  .kentan-otsikko {
    margin-top: 0px;
  }
}

.liikennetapahtumien-suodattimet {
  .row {
    padding: @valistys-16;
  }
}
