@ympyran-halkaisija: 82px;
@vari-ennuste: @blue-light-new;
@vari-lupaus: @black-light;
.lupaukset-sivu {
    .otsikko-ja-hoitokausi {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }
    > h2 {
        margin-bottom: 20px;
    }
}

.lupausten-yhteenveto {
    display: flex;
    justify-content: space-between;
}

.lupauspisteet {

}
.lupauspisteen-muokkaus-container {
    display: inline-block;
    .otsikko {
        color: @blue-dark;
        text-align: center;
    }
    button.lupauspisteet-valmis {
        display: block;
        margin: 16px auto 0;
    }
}
.lupausympyra-container {
    &:first-child {
        margin-right: 24px;
    }
}

.lupausympyra {
    border-radius: 50%;
    width: @ympyran-halkaisija;
    height: @ympyran-halkaisija;
    padding: 10px;
    background: white;
    color: @vari-lupaus;
    border: 3px solid @vari-lupaus;
    text-align: center;
    &.ennuste {
        border: 3px solid @vari-ennuste;
        color: @vari-ennuste;
        > h3 {
            color: @vari-ennuste;
        }
    }
    &.lupaus  {
        > h3 {
            margin-bottom: 0;
        }
        > img {
            width: 12px;
            height: 12px;
        }
    }

}

.lupausympyran-tyyppi {
    text-align: center;
}
.lupausten-ennuste {
    background-color: @blue-lighter;
    margin-top: 8px;
    padding: 32px;
}
.lupausryhman-yhteenveto {
    border: 1px solid @black;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1rem;
    margin: 4px 0;
    max-width: 800px;
    h3 {
        margin: 0;
    }
    .lupausryhman-otsikko-ja-pisteet {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        .lupausryhman-pisteet {
            display: flex;
            justify-content: space-between;
            .lupausryhman-ennuste {
                > .pisteet {
                 color: @blue;
                }
                margin-right: 64px;
            }
            > div {
                text-align: center;
                > .pisteet {
                    .fontti-20();
                }
                > .teksti {
                    .fontti-12();
                }
            }
        }
    }
}
.kannanotto-ja-nuoli {
    display: flex;
    justify-content: space-between;
    .kannanotto {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }

}

.kk-tilanne {
    display: flex;
}
.kk-nimi {
    font-size: 0.625rem;
    text-transform: uppercase;
}
.pallo-ja-kk {
    text-align: center;
    width: 50px;
}
.circle-8 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @blue-light-new;
    margin: 0 auto;
}

