@ympyran-halkaisija: 82px;
@vari-ennuste: @blue-light-new;
@vari-lupaus: @black-light;
.lupaukset-sivu {
    > h2 {
        margin-bottom: 20px;
    }

}

.lupausten-yhteenveto {
    display: flex;
    justify-content: space-between;
}

.lupauspisteet {

}
.lupauspisteen-muokkaus-container {
    display: inline-block;
    .otsikko {
        color: @blue-dark;
        text-align: center;
    }
    button.lupauspisteet-valmis {
        display: block;
        margin: 16px auto 0;
    }
}
.lupausympyra-container {
    &:first-child {
        margin-right: 24px;
    }
}

.lupausympyra {
    border-radius: 50%;
    width: @ympyran-halkaisija;
    height: @ympyran-halkaisija;
    padding: 10px;
    background: white;
    color: @vari-lupaus
    border: 3px solid @vari-lupaus;;
    text-align: center;
    &.ennuste {
        border: 3px solid @vari-ennuste;
        color: @vari-ennuste;
        > h3 {
            color: @vari-ennuste;
        }
    }
    &.lupaus  {
        > h3 {
            margin-bottom: 0;
        }
        > img {
            width: 12px;
            height: 12px;
        }
    }

}

.lupausympyran-tyyppi {
    text-align: center;
}
.lupausten-ennuste {
    background-color: @blue-lighter;
    margin-top: 8px;
    padding: 32px;
}