@import "../yleiset.less";
@import "../vayla/colors.less";

// Muutokset-sivun tyylit
.muutokset-sivu {
  .harmaa-tumma-teksti {
    color: @harmaa-tumma;
  }
  
  .tehtava-vaikutus-valinta textarea {
    width: revert;
  }
  
  .valinnat-ja-listaus {
    .keltainen-vihjelaatikko {
      display: flex;
      align-items: center;
    }
  }

  .muutosten-vaikutus {
    margin-top: @valistys-24;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;

    .muutosten-vaikutus-container {
      background: @blue-lighter;
      padding: @valistys-8 @valistys-16;
      border: 1px solid @blue-default;
      border-radius: @valistys-4;
      max-width: 504px;
      width: 100%;

      .tietorivi {
        span.tietokentta {
          font-weight: normal;
          width: 100%;
          ul {
            margin-bottom: 0;
          }
        }
        span.tietoarvo {
          font-weight: normal;
          white-space: pre;
        }
        display: flex;
        justify-content: space-between;

        &.keskita-rivin-sisalto {
          justify-content: center;
        }

        &.piilota-rivin-sisalto {
          display: none;
        }
        h3 {
          margin: 0 0 0.5rem 0;
        }

        .vihje-indeksikorjaus {
          border: 1px solid @blue-default;
          margin: @valistys-8;

          .vihjeen-sisalto {
            padding: 0.25rem 0.75rem;
          }
        }
      }

      .viivan-ylla {
        padding: @valistys-8 @valistys-8 @valistys-16 @valistys-8;
      }

      .notifikaatio-viivan-ylla {
        padding: 0 @valistys-8 @valistys-16 @valistys-8;
      }

      .viivan-alla {
        padding: @valistys-16 @valistys-8 @valistys-8 @valistys-8;
      }
    }
  }

  .muutoslistaus {
    margin-top: @valistys-24;

    .toast-viesti {
      padding: 0 @valistys-4;
    }

    .vihjeen-sisalto {
      padding-left: 0;
    }
  }

  .muutoslomake {
    .form-group {
      width: 100%;
    }

    .lomake-footer {
      margin-top: 0;
      
      .muutoslomake-footer-toiminnot {
        display: flex;
        align-items: center;
      }
    }

    .tallenna-ja-peruuta {
      padding-top: @valistys-24;
    }

    .perustiedot {
      max-width: 640px;

      .aputeksti {
        padding-top: 10px;
      }

      &.tyyppi {
        max-width: 320px;
      }

      &.col-xs-6 {
        max-width: 198px;
      }
    }

    .info-laatikko {
      margin-bottom: @valistys-16;
      max-width: 650px;
    }

    .johto-ja-hallintokorvaus-muutokset-info {
      margin-top: @valistys-24;
    }

    .pvm-kentta {
      display: block;
      max-width: 168px;
    }

    .muutostyyppivalinta {
      margin-bottom: @valistys-16;
    }

    .hoitovuosi-valinta {
      width: @hoitovuosi-valinnan-leveys;
    }

    .pysyva-muutos-vihje {
      .vihjeen-sisalto {
        margin: 0;
        padding: 0;
      }
    }

    .pysyva-muutos-vaikutukset-lomake-wrapper {
      // Pakottaa maksimileveyden jotta sisällä oleva grid ym. ei veny liian leveäksi
      max-width: 1200px;
    }

    .pysyvan-muutoksen-grid-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pysyvan-muutoksen-kopiointinappi {
        img {
          width: @valistys-12;
          height: @valistys-12;
        }
      }
    }

    .pysyvan-muutoksen-grid {
      
      .tavoitehinnan-muutos-sarake {
        background: @blue-lighter;
      }
      .tavoitehinta-label {
        display: block;
      }
      .tavoitehinnan-muutos-input {
        width: 200px;
      }
    }
    
    .vaikutus-otsikko h3 {
      margin: 0;
      padding-top: @valistys-16;
    }
  }

    .otsikko-ja-hoitokausi {
        div.select-default {
          width: @hoitovuosi-valinnan-leveys;
        }
        margin-bottom: 12px;
    }

  .collapsoitava-osio {
    border: 1px solid @harmaa-vaalea;
    padding: @valistys-32 @valistys-32;
    margin-top: @valistys-16;
  }

  .otsikkorivi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button.navigation-ympyrassa {
      font-size: @valistys-16;
      height: @valistys-28;
      width: @valistys-28;
    }

    h2 {
      display: inline-block;
      margin: 0 0 0 @valistys-24;
    }

    .summa {
      font-size: @valistys-20;
    }
  }

  .toiminnot {
    margin-top: @valistys-16;
    button {
      margin-top: @valistys-8;
    }
  }

  .laskutusraja-info {
    max-width: 900px;
    font-size: 0.875rem;
    line-height: @valistys-24;
    margin-top: @valistys-24;
    p {
      margin: @valistys-24 0 0 0;
    }
  }

  .debug {
    margin-top: @valistys-48;
  }

  .lasketut-muutokset-grid-haku {
    position: absolute;
  }
  
  // Wanhat urakat 
  .tavoitehinnan-muutokset-valinnat {
    display: flex;
    padding-bottom: @valistys-16;
  }
  
  .johto-ja-hallintokorvaus-muutokset-grid {
    padding-top: @valistys-16;
  }

  .kirjatut-muutokset-grid {
    @media (max-width: 1370px) {
      td:last-child,
      th:last-child {
        padding-left: 2px;
        padding-right: 2px;
      }
      td:last-child button {
        font-size: 0.75rem;
        padding: 2px 6px;
      }
    }
  }
}

.laskutusraja-muutos-modal {
  .modal-content {
    width: 677px;
  }

  .modal-body {
    margin-bottom: @valistys-24;
  }

  .modal-footer {
    text-align: left;
  }

  .ylateksti {
    margin-top: @valistys-24;
    margin-bottom: @valistys-24;
  }

  .alateksti {
    margin-top: @valistys-24;
  }
}

.laskutusraja-infoteksti {
  label {
    display: none;
  }

  p {
    font-size: 0.875rem;
    color: @black-default;
  }

  hr {
    margin: @valistys-24 0;
  }
}
