@import "../vayla/colors.less";

// Muutokset-sivun tyylit
.muutokset-sivu {
  .harmaa-tumma-teksti {
    color: @harmaa-tumma;
  }

  .muutosten-vaikutus {
    margin-top: @valistys-32;
    .muutosten-vaikutus-container {
      background: @blue-lighter;
      padding: @valistys-8 @valistys-16;
      max-width: 550px;
      .tietorivi {
        span.tietokentta {
          font-weight: normal;
        }
        span.tietoarvo {
          font-weight: normal;
          white-space: pre;
        }
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .muutoslistaus {
    .toast-viesti {
      padding: 0 @valistys-4;
    }
    .vihjeen-sisalto {
      padding-left: 0;
    }
  }
  .muutoslomake {
    .form-group {
      width: 100%;
    }

    .lomake-footer {
      margin-top: 0;
    }

    .tallenna-ja-peruuta {
      padding-top: @valistys-24;
    }

    .perustiedot {
      max-width: 640px;

      .aputeksti {
        padding-top: 10px;
      }

      &.tyyppi {
        max-width: 320px;
      }

      &.col-xs-6 {
        max-width: 198px;
      }
    }

    .info-laatikko {
      margin-bottom: @valistys-16;
      max-width: 610px;
    }

    .johto-ja-hallintokorvaus-muutokset-info {
      margin-top: @valistys-24;
    }
    .pvm-kentta {
      display: block;
      max-width: 168px;
    }
    .muutostyyppivalinta {
      margin-bottom: @valistys-16;
    }
    .hoitovuosi-valinta {
      width: @hoitovuosi-valinnan-leveys;
    }
    .pysyva-muutos-vihje {
      .vihjeen-sisalto {
        margin: 0;
        padding: 0;
      }
    }
    .pysyvan-muutoksen-grid-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pysyvan-muutoksen-kopiointinappi {
        img {
          width: @valistys-12;
          height: @valistys-12;
        }
      }
    }
    .pysyvan-muutoksen-grid {
      
      .tavoitehinnan-muutos-sarake {
        background: @blue-lighter;
      }
      .tavoitehinta-label {
        display: block;
      }
      .tavoitehinnan-muutos-input {
        width: 200px;
      }
    }
  }
    .otsikko-ja-hoitokausi {
        div.select-default {
          width: @hoitovuosi-valinnan-leveys;
        }
        margin-bottom: 12px;
    }
  .collapsoitava-osio {
    border: 1px solid @harmaa-vaalea;
    padding: @valistys-32 @valistys-32;
  }
  .otsikkorivi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button.navigation-ympyrassa {
      font-size: @valistys-16;
      height: @valistys-28;
      width: @valistys-28;
    }
    h2 {
      display: inline-block;
      margin: 0 0 0 @valistys-24;
    }
    .summa {
      font-size: @valistys-20;
    }
  }
  .toiminnot {
    margin-top: @valistys-16;
    button {
      margin-top: @valistys-8;
    }
  }
  .debug {
    margin-top: @valistys-48;
  }

  .lasketut-muutokset-grid-haku {
    position: absolute;
  }
}
