// Muutokset-sivun tyylit
.muutokset-sivu {
    .otsikko-ja-hoitokausi {
        div.select-default {
          width: @hoitovuosi-valinnan-leveys;
        }
        margin-bottom: 12px;
    }
    > h2 {
        margin-bottom: 20px;
    }
}
