.ilmoitus-hylatty {
    color: @vaara;
}

.ilmoitus-hyvaksytty {
    color: @onnistuminen;
}

.pot-asiatarkastus .boolean > .checkbox {
    padding-top: 0;
}

.aikataulu .livi-grid table,
.paallystyskohteet .livi-grid table,
.paallystysilmoitukset .livi-grid table {
    font-size: @fontin-koko-taulukko-pienempi;
    button {
        font-size: @fontin-koko-taulukko-pienempi;
    }
}
.avaa-lukitus-nappi {
    margin: 12px 0;
}
.pot-perustiedot {
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .col-sm-12,
    .col-md-6 {
        padding-left: 0;
    }
    .lomake {
        border: none;
        .lomakerivi {
            .form-group {
                padding-left: 0;
            }
        }
    }
}
.pot2-rivin-toiminnot,
.materiaalitoiminnot {
    > div {
        padding-top: 2px;
        button.napiton-nappi {
            &:hover {
                transform: scale(1.2);
            }
            background-color: inherit;
            padding: 1px;
            margin-right: 4px;
            img {
                width: 16px;
                height: 16px;
                padding: 1px;
                &:hover {
                    color: @valkoinen;
                }
            }
        }
    }
}