// Yläosa

.pot-kohteen-tiedot {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pot-kohteen-tiedot-otsikko {
  font-weight: bold;
  padding-right: 10px;
  padding-left: 15px;
}

// Alaosa

.pot-tallennus, .pot-kasittely {
  & .pot-huomaus {
    margin-top: 5px;
    margin-bottom: 5px;
    color: @varoitus;
  }

  & button {
    margin-right: 10px;
  }
}