// Yläosa

.pot-kohteen-tiedot {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pot-kohteen-tiedot-otsikko {
  font-weight: bold;
  padding-right: 10px;
  padding-left: 15px;
}

// Alaosa

.pot-yhteenveto {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pot-yhteenveto-nimi {
  padding-right: 30px;
  font-weight: bold;
  text-align: right;
}

.pot-toiminnot {
  & button {
    margin-right: 10px;
  }
}