.circle {
  border-radius: 50%;
  height: 9px;
  width: 9px;
  display: inline-block;
  margin-right: 8px;
}
.tila-ehdotettu {
  background: #f1b371;
  border: 0.1875em solid #f1b371;
}

.tila-tilattu {
  background: #274ac6;
  border: 0.1875em solid #274ac6;
}

.tila-valmis {
  background: #58a006;
  border: 0.1875em solid #58a006;
}

.lomakeryhman-otsikko-tausta {
  background-color: @harmaa12;
  padding-top: 12px;
  margin-top: 8px;
  padding-bottom: 8px;
}

.lomakeryhman-rivi-tausta {
  background-color: @harmaa12;
  margin-top: -10px;
  padding-bottom: 16px;
}