@import "../yleiset.less";

.rahavaraukset-hallinta {

  .urakan-rahavaraukset {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: @valistys-16;

    > .rahavaraus-valinta {
      border: 1px solid @white-darker;
      background-color: @white;

      > label {
        min-width: 480px;
        padding: @valistys-8;
      }
    }
  }

  .tallennus-tila {
    .harja-icon-status-completed {
      color: @green-default;
    }
  }
}
