// Yleiset raportti-sivun asetukset

.raportti {
    margin-bottom: 20px;
    &.laskutusyhteenveto {
        > .panel {
            background-color: @harjan-taustavari;
            margin-bottom: 0;
        }
        .panel-heading {
            padding-bottom: 2px;
            padding-top: 2px;
        }
    }
}

.raportin-asetukset {
     margin-top: 1em;
    .col-md-4 {
        padding: 0;
    }
    .col-md-12 {
        padding: 0;
    }
    .raksiboksi {
        .input-group-addon {
            height: 80px;
            padding-left: 0;
            padding-right: 10px;
        }
    }
}

.raportin-toiminnot {
    .nappi-ensisijainen {
	float: right;
	margin-left: 0.5em;
    }
}
.raportin-valittu-aikavali {
    margin: 10px 5px 20px;
}

.valitse-raportti-alasveto {
  margin: 1px 0;
  .livi-alasveto(250px);
}

// Soratietarkastusraportti

.soratietarkastusraportti {
    @reunaviivan-paksuus: 2px;
    @reunaviivan-vari: @harmaa6;

    // Head

    & tr > th:nth-child(8) {
        border-right-style: none;
        border-left: @reunaviivan-paksuus solid @reunaviivan-vari;
    }
    & tr > th:nth-child(9) {
        border-right: none;
        border-left: none;
    }
    & tr > th:nth-child(10) {
        border-right: none;
        border-left: none;
    }
    & tr > th:nth-child(11) {
        border-left: none;
        border-right: @reunaviivan-paksuus solid @reunaviivan-vari;
    }

    // Body

    & tr > td:nth-child(8) {
        border-right-style: none;
        border-left: @reunaviivan-paksuus solid @reunaviivan-vari;
    }
    & tr > td:nth-child(9) {
        border-right: none;
        border-left: none;
    }
    & tr > td:nth-child(10) {
        border-right: none;
        border-left: none;
    }
    & tr > td:nth-child(11) {
        border-left: none;
        border-right: @reunaviivan-paksuus solid @reunaviivan-vari;
    }
}