@import "../vayla/colors";

.urakan-suolarajoitukset {
  .kontrollit {
    margin-bottom: 2rem;
  }

  .lomakkeet {
    margin-bottom: 1.5rem;

    .lomake {
      background-color: @gray240;
    }
  }
}