@import "../vayla/colors";

.urakan-suolarajoitukset {
  .tooltip-wrapper {
    .harja-icon-status-info {
      color: blue;
      font-size: 1.25rem;
    }
  }

  .kontrollit {
    margin-bottom: 2rem;
  }

  .lomakkeet {
    margin-bottom: 1.5rem;

    .lomake {
      background-color: @gray240;
    }
  }

  .pohjavesialueiden-suolarajoitukset {
    .livi-grid {
      .sarake-pohjavesialueet {
        white-space: nowrap;
      }
    }
  }
}