@import "../yleiset.less";

.tiemerkinta-muut-kustannukset 
{
    padding: @valistys-16 0;

    .header {
        display: flex;
        margin: auto;
        justify-content: space-between;

        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;

        .raporttiviennit {
            display: flex;
            margin: 1rem 0;
            gap: @valistys-6;
        }
    }

    .suodattimet {
        display: flex;
        justify-content: space-between;
        margin-top: @valistys-12;

        /* Lisää uusi */ 
        :nth-child(2) {
            align-content: center;
        }
    }

    /* Grid */
    .muut-kustannukset-listaus {
        .pvm {
            display: flex;
            white-space: nowrap;

            :first-child {
                width: 20px;
                padding-left: @valistys-4;
            }
        }
    }
}
