@import "../yleiset.less";

.tiemerkinta-muut-kustannukset 
{
    /* TODO uudelleennimeä tiedosto, ja classit */
    padding: @valistys-16 0;

    .header {
        display: flex;
        margin: auto;
        justify-content: space-between;

        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;

        .raporttiviennit {
            display: flex;
            margin: 1rem 0;
            gap: @valistys-6;
        }
    }

    .suodattimet {
        display: flex;
        justify-content: space-between;
        margin-top: @valistys-12;

        .laji {
            color: @black-light;
            font-weight: bold;
            font-weight: normal;
            margin-top: @valistys-4;
            margin-left: @valistys-16;

            .kentta {
                margin-top: -@valistys-14
            }
        }

        /* Lisää uusi */ 
        :nth-child(3) {
            align-content: center;
            margin-left: auto;
        }
    }

    /* Grid */
    .muut-kustannukset-listaus {
        .pvm {
            display: flex;
            white-space: nowrap;

            :first-child {
                width: 20px;
                padding-left: @valistys-4;
            }
        }
    }
}
