.haitari-tilannekuva {
  max-width: 300px;
  min-width: 300px;
}

.tk-radio,
.tk-checkbox {
  label {
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }

  input {
    margin-right: 5px;
  }
}

.tk-pudotusvalikko-nappi {
  border: 1px ridge @harmaa3;
  cursor: pointer;
  background-color: @harmaa10;
}

.tk-pudotusvalikko-otsikko {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.tk-pudotusvalikko-checkbox {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;

  label {
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }

  input {
    margin-right: 5px;
  }
}

.tk-pudotusvalikko-tila {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.tk-pudotusvalikko-kiinni {
  display: none;
}

#tk-pudotusvalikon-lista {
  list-style: none;
  position: absolute;
  margin: 0;
  padding:0;
  width: 12em;
  background-color: @harmaa10;
  border: 1px ridge @harmaa3;
}

.tk-nykytilanne-aikavalitsin {
  display: inline-block;
  height: 28px;
  padding-right: 10px;
}
