.kustannuserotus-positiivinen {
  color: @onnistuminen;
}

.kustannuserotus-negatiivinen {
  color: @vaara;
}

.materiaalierotus-positiivinen {
  color: @onnistuminen;
}

.materiaalierotus-negatiivinen {
  color: @vaara;
}


.pohjavesialueiden-suola {
  div.livi-grid-reunaviiva {
    border-left: 3px solid #0066CC;
    padding-left: 1rem;
    // Säädetään left-marginia siten, että viiva asettuu sopivasti aiemman rivin vatolaatikon avausikonin keskikohtaan.
    margin-left: 5px;
  }
}