.paivakirja-toimitus {
    display: flex;
    align-items: center;

    .kohta {
        padding-left: 10px;
    }

    .pallura {
        height: 8px;
        width: 8px;
        left: 2px;
        top: 2px;
        border-radius: 10px;
    }
    .ok {
        background: @green-default;
    }
    .myohassa {
        background: @lemon-default;
    }
    .puuttuu {
        background: @red-dark;
    }
}

.puuttuu-tausta {
    background: @lemon-light;
}

.tyopaiva {
    display: flex;

    :first-child {
        width: 20px;
        padding-left: 5px;
    }
}

.tyomaa-haku-suodatin {
    width: 40%;
}