/* Uusi kustannussuunnitelma */
.kustannussuunnitelma-osio {
  border: 1px solid @gray200;
  margin-top: 1rem;
  padding-bottom: 1rem;

  .bottom-border-text {
    border-bottom: 1px solid @border-color;
    height: 24px;
    padding-right: 3rem;
  }
  .text-right {
    text-align: right;
  }
}
