/* Uusi kustannussuunnitelma */
.kustannussuunnitelma-osio {
  max-width: 1200px;
  border: 1px solid @gray200;
  margin-top: 1rem;
  padding-bottom: 1rem;

  .bottom-border-text {
    border-bottom: 1px solid @border-color;
    height: 24px;
    padding-right: 3rem;
  }
  .text-right {
    text-align: right;
  }
  .kohdista-teksti {
    padding-right: 2rem;
    padding-top: 0.6rem;
    padding-left: 3rem;
  }

  .korkea-rivi {
      height: 2.5rem;
  }
}
