/* Uusi kustannussuunnitelma */
.kustannussuunnitelma-osio {
  max-width: @screen-lg;
  border: 1px solid @gray200;
  margin-top: 1rem;
  padding-bottom: 1rem;

  @media screen and (min-width: 768px) {
    &.kapea-osio {
      max-width: 830px !important;
    }
    &.osio-976 {
      max-width: 976px !important;
    }
  }

  .bottom-border-text {
    border-bottom: 1px solid @border-color;
    height: @valistys-24;
    padding-right: @valistys-48;
  }
  .text-right {
    text-align: right;
  }
  .kohdista-teksti {
    padding-right: @valistys-32;
    padding-top: 0.6rem;
  }

  .korkea-rivi {
      height: 2.5rem;
  }

  .korkea-rivi {
    // Yhteenvedon loota 
    width: 100%;

    // Yhteenvedon vasen osio 
    .col-xs-9 {
      width: 68%;
    }

    // Yhteenvedon oikea osio 
    .col-xs-3 {
      width: 31%;
    }
  }
  
  .rivi-container {
    line-height: @valistys-32;
    display: flex;
    align-items: center;
  }

  /* Taulukon rivien korkeuden vuoksi vetolaatikon nuoli ei ole täysin yhteensopiva muiden kanssa*/
  .vetolaatikon-sailio {
    margin-top: -20px;
  }

  .kattohinta {
    .kattohinta-virhe {
      color: @red-dark;
    }

    #kattohinta-input {
      max-width: 200px;
    }

    .kattohinta-input-osio {
      height: 72px;
      align-content: center;
    }
  }
}
