@import "../yleiset";
@import "../vayla/colors.less";

.valikatselmus-container {
  margin-top: @valistys-16; // Ei mainita designissa, mutta näyttää paremmalta kuin ei mitään.
}

.oikaisut-ja-paatokset {
  width: 100%;

  .livi-grid.panel {
    margin-bottom: @valistys-16;
  }
}

.valikatselmus-ja-yhteenveto {
  display: flex;
}

.yhteenveto-container {
  .yhteenveto {
    min-width: 532px;
  }

  @media screen and (max-width: 1400px) {
    .yhteenveto {
      min-width: 420px;
    }
  }
}

.paatos {
  background: @white-dark;
  display: flex;
  padding: @valistys-32;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .paatos-check {
    margin-right: @valistys-16;
    background: @green-light;
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @green-darker;
  }

  .ei-tehty {
    background: @white-darker;
    color: @black-lighter;
  }

  .paatos-sisalto {
    min-width: 400px;

    h3 {
      margin-top: 0;
    }

    h4 {
      margin-bottom: 0;
      margin-top: @valistys-32;
    }
  }

  .paatos-maksu {
    padding-left: 0;
  }

  .paatos-radiot {
    width: 50%;
  }

  .osuusrivi::before {
    content: '\2022 \00A0'; // • -merkki
    color: @blue-dark;
  }

  .tavoitepalkkio-maksu {
    margin-left: @valistys-32;
  }

  .kattohinnan-ylitys-maksu {
    margin: @valistys-16 0 @valistys-16 @valistys-32;

    input {
      width: 40%;
    }
  }

  .maksu-kentat {
    margin-bottom: @valistys-16;

    .form-group, .lomake {
      // Poistetaan väärän kokoiset marginit ja paddingit maksu-kentta-divin sisältä, jotta margin menee oikeaksi.
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .urakoitsijan-maksu {
    margin-bottom: @valistys-16;
  }

  .osuusrivi:not(:last-child) {
    margin-bottom: @valistys-4
  }

  p {
    margin: 0;
  }

  button {
    margin-top: @valistys-16;
  }

  .vihjeteksti {
    font-size: 0.75rem;
    color: @black-light
  }
}

.paatos .tavoitepalkkio-ylitys,
.paatos .tavoitehinta-tyhja-varoitus,
.valikatselmus-tulevaisuudessa-varoitus,
.valikatselmus-menneisyydessa-varoitus,
.oikaisu-paatos-varoitus {
  background: @lemon-light;
  padding: @valistys-12 @valistys-16;
  display: flex;
  margin-bottom: @valistys-16;
  width: fit-content;

  .harja-icon-status-alert,
  .livicon-exclamation-triangle {
    // Ikoni on vähän liian ylhäällä muuhun tekstiin verrattuna, korjataan likaisesti.
    color: @red-darker;
    margin-top: 4px;
    margin-right: @valistys-16;
  }
}

/* Välikatselmussivun yhteenvetolaatikko */
div.valikatselmus-yhteenveto {

  .yhteenveto-container & {
    position: sticky;
    top: @valistys-32;
  }

  max-width: 532px;
  margin-top: @valistys-32;
  border: 1px solid @harmaa-vaalea;
  box-sizing: border-box;
  padding: @valistys-16;

  .valikatselmus {
    padding: @valistys-16;
    background: @blue-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @valistys-16;

    .nappi-ensisijainen {
      margin-right: 0;
    }

    &-tehty {
      margin-top: @valistys-32
    }
  }

  .rivi-yhteiset() {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;

    span {
      margin: 0.5rem 0 0.5rem 0;
    }

    span.luku {
      margin: 0.5rem 0 0.5rem 0;
      min-width: 100px;
      text-align: right;
    }
  }

  .rivi {
    .rivi-yhteiset();

    &-sisempi {
      .rivi-yhteiset();
      padding-left: @valistys-32;
      color: @black-light;
    }
  }

  .negatiivinen-numero {
    color: @red-dark;
  }
  .positiivinen-numero {
    font-weight: bold;
    color: @green-dark;
  }
}

.paatos-komponentti-border {
  border: solid 1px @white-darker;
  border-radius: 0.25rem;
  padding-top: @valistys-16;
  padding-left: @valistys-24;
  padding-right: @valistys-24;
  margin-bottom: @valistys-16;
  width: 100%;
  background-color: @gray250;
  .paatos-komponentti-otsikko-row {
    display: flex;
    justify-content: left;
    margin-bottom: @valistys-24;
    margin-left: 0;
    margin-right: 0;
  }
  .navigation-ikoni {
    width: 20px;
    margin-right: @valistys-16;
    margin-top: @valistys-8;
    margin-bottom: @valistys-8;
  }
  .paatos-komponentti-otsikko {
    margin-top: @valistys-6;
    margin-bottom: @valistys-6;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .paatos-badge {
    padding: @valistys-6 @valistys-12;
    margin-top: @valistys-6;
    margin-bottom: @valistys-6;
    font-weight: 400;
  }
  .lupaukset-linkki {
    flex-grow: 1;
    padding: @valistys-16 0 @valistys-24 0;
    text-align: left;
  }
  .paatos-laskelma {
    margin-bottom: @valistys-24;
  }
  .paatos-toiminto {
    flex-grow: 1;
    padding-top: @valistys-24;
    padding-bottom: @valistys-16;
  }
  .muokkaustoiminnot {
    margin-bottom: @valistys-16;
  }
  .panel {
    margin-bottom: 0;
  }
  .info-laatikko {
    font-weight: 400;
    .infolaatikon-teksti {
      padding-top: @valistys-8;
      padding-bottom: @valistys-8;
      line-height: 24px;
    }
  }
  .nappi-ensisijainen {
    padding: 7px 12px 7px 8px;
    font-size: 0.875rem;
    color: @blue-lighter;
  }
  .nappi-toissijainen {
    padding: 7px 12px 7px 8px;
    font-size: 0.875rem;
    color: @blue-dark;
    border-color: @blue-dark;
  }
  .livi-grid .muokkaustoiminnot .nappi-toissijainen {
    padding: 7px 12px 7px 8px;
    span {
      font-size: 0.875rem;
    }
  }
  table {
    border: 1px solid @white-darker;
  }
  thead {
    border-bottom: 1px solid @black-lighter;
  }
  .livi-grid {
    table {
      th {
        font-weight: 700;
      }
      tr.tyhja {
        text-align: left;
        color: @harmaa-tumma;
      }
      td {
        vertical-align: middle;
      }
    }
    tr.muokataan {
      td {
        background-color: @white;
        padding-top: @valistys-8;
        padding-bottom: @valistys-8;
        .livi-alasveto, span input,textarea {
          border: 1px solid @black-lighter;
          border-radius: 4px;
          margin: auto;
        }
        .kentta-text {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .alasveto-gridin-kentta .nappi-alasveto{
        height: 36px;
      }
      input {
        height: 36px;
        text-align: right;
      }
      .livicon-trash {
        font-size: 20px;
        color: @red-default;
      }
      .numero {
        input {
          padding: @valistys-8 !important;
        }
      }
    }
    textarea {
      padding: @valistys-8 @valistys-8;
    }
  }
  .livi-grid .sisaltaa-virheen {
    border-bottom: solid 1px #D6D6D6 !important;
    input, textarea, button {
      border: solid 2px #B40A14 !important;
    }
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: @valistys-4;
    margin-bottom: @valistys-12;
  }
  .otsikko_lukema {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .summa_rivi {
    line-height: 24px;
    margin-top: @valistys-4;
    margin-bottom: @valistys-4;
  }
  .summa_rivi_alin {
    line-height: 24px;
    margin-top: @valistys-4;
    margin-bottom: @valistys-8;
  }
  .rivi_lukema {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }
  .paatos-napit {
    flex-grow: 1;
    padding-top: @valistys-16;
    padding-bottom: @valistys-16;
  }
}

.harmaa-tausta {
  background-color: @white-dark;
  margin-bottom: @valistys-12;
  padding-right: @valistys-16;
  padding-left: 2px;
  table {
    border: none;
    div {
      display: flex;
    }
  }
  .checkbox-block {
    div {
      display: block;
    }
  }
  .siirrettavan-maaran-input {
    margin-bottom: @valistys-16;
  }
  input {
    line-height: 20px;
    font-size: 14px;
    padding: @valistys-8 @valistys-12;
    border-color: @black-lighter;
  }
  label {
    display: block;
  }
  .caption {
    text-align: right;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 600;
    margin-bottom: @valistys-4;
    color: @black-light;
  }
  .sub-caption {
    font-weight: 400;
    margin-top: @valistys-4;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    line-height: 1rem;
    margin: 0;
  }
  .selite {
    margin-left: @valistys-16;
    padding-bottom: @valistys-12;
  }
}
