.vv-toimenpiteen-hinnoittelutiedot {
  cursor: auto;
  width: 270px;
  min-height: 100px;

  .vv-toimenpiteen-hinnoittelutiedot-grid {
    table {
      border: none;
    }

    td {
      border: none;
    }
  }

  input {
    width: 80% !important;
  }

  .vv-toimenpiteen-hinnoittelu-footer {
    margin-top: 0.5em;
  }
}

.toimenpiteet-listaus-footer {
  margin-top: 5px;
  padding: 5px;

  .vv-hintaryhman-hinnoittelu-wrapper {
    text-align: right;

    .vv-hintaryhman-hinnoittelu {
      display: inline-block;
      position: relative;
      right: 10%;

      > * {
        text-align: left;
      }
    }
  }
}

.vv-toimenpideryhma {
  margin-bottom: 2.5em;
}

.vv-toimenpideryhma-sisalto {
  border: 1px solid @harmaa7;
}