@keyframes nappula-flash {
    0% { background-color: red; }
    100%   { background-color: #000; }
}

@-webkit-keyframes nappula-flash {
    0% { background-color: red; }
    100%   { background-color: #000; }
}

.blink {
    animation-name: nappula-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: nappula-flash;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

.pikavalinta-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
}