.kartan-kontrollit {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: @musta;
  font-size: 2em;

  > .kontrollinappi {
    display: inline-block;
    border-left: @viiva-nappien-valissa;
    text-align: center;
    padding-left: @ylapalkin-nappien-valinen-tyhja-tila;
    padding-right: @ylapalkin-nappien-valinen-tyhja-tila;
    box-sizing: border-box;
    color: white;
    padding: 10px;
  }

  > #karttakontrollit {
    display: inline-block;
  }

  .ol-zoom {
    height: 30px;
  }

  .ol-zoom button {
    height: 30px;
    font-size: 1.5em;
  }
}