.nappi-ensisijainen {
    color: #ffffff;
    background-color: #0066cc;
    border-color: #0066cc;
    font-weight: normal;
}
.nappi-toissijainen {
    color: #0066cc;
    background-color: #ffffff;
    border-color: #0066cc;
}
.nappi-kielteinen {
    color: #ffffff;
    background-color: #dd0000;
    border-color: #dd0000;
    font-weight: normal;
}