.nappaimisto {
  width: 240px;
  background-color: @sisaltolaatikoiden-taustavari;
  border: @sisaltolaatikoiden-reunaviiva;
  box-sizing: border-box;
}

.mittaustiedot {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.nappaimiston-syottokentta {
  padding: 5px;
  background-color: @harmaa9;
  font-size: 32px;
  font-weight: bold;

  > .nappaimiston-kursori {
    display: inline-block;
    background-color: @musta;
    width: 24px;
    height: 32px;
    position: relative;
    top: 3px;
    margin-left: 2px;
  }
}

.nappi-peruuta {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nappaimiston-painikekentat {
  text-align: center;
}

.nappaimiston-painike {
  display: inline-block;
  width: 75px;
  height: 65px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: @valkoinen;
  background-color: @sininen4;
  border-color: @sininen4;
  margin-right: 3px;
  margin-bottom: 3px;
}

#nappaimiston-painike-ok {
  background-color: @vihrea4;
}

// Responsiivisuus

@media (max-width: 530px) {
  .nappaimisto {
    width: 190px;
  }

  .nappaimiston-painike {
    width: 55px;
    height: 48px;
    font-size: 24px;
  }

  .nappi-peruuta {
    width: 150px;
    height: 32px;
  }

}