.nappaimisto {
  width: 240px;
  background-color: @sisaltolaatikoiden-taustavari;
  border: @sisaltolaatikoiden-reunaviiva;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.mittaustiedot {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.nappaimiston-syottokentta {
  padding: 5px;
  background-color: @harmaa9;
  font-size: 32px;
  font-weight: bold;

  > .nappaimiston-kursori {
    display: inline-block;
    background-color: @musta;
    width: 24px;
    height: 32px;
    position: relative;
    top: 3px;
    margin-left: 2px;
  }

  > .nappaimiston-syottoyksikko {
    float: right;
  }
}

.nappi-peruuta {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nappaimiston-painikekentat {
  width: 240px;
  text-align: center;
}

.nappaimiston-painike {
  display: inline-block;
  width: 75px;
  height: 65px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: @valkoinen;
  background-color: @sininen4;
  border-color: @sininen4;
  margin-right: 3px;
  margin-bottom: 3px;
}

#nappaimiston-painike-ok {
  background-color: @vihrea4;
}

.nappaimiston-syottovaroitus {
  text-align: center;
  padding: 3px;
  height: 28px;
  color: @punainen6;
}

// Responsiivisuus

@media (max-width: 530px) {
  .nappaimisto {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
  }

  .nappaimiston-painikekentat {
    width: 190px;
  }

  .nappaimisto-vasen {
    flex: 1;
  }

  .nappaimiston-painike {
    width: 55px;
    height: 48px;
    font-size: 24px;
  }

  .nappi-peruuta {
    width: 100%;
    height: auto;
  }

}