.paatason-navigointi-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.paatason-navigointi-rivi {
    display: flex;
    justify-content: center;
}

.paatason-navigointi {
    flex: 1;
    align-self: center;
    max-width: 1024px;
    border: @sisaltolaatikoiden-reunaviiva;
    background-color: @sisaltolaatikoiden-taustavari;
}

.pikavalintapainike {
    width: 215px;
    font-size: 17px;
    background-color: #0066cc;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin-left: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: default;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}