@paatason-navigioinnin-fonttikoko: 1.2em;

.paatason-navigointi-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
}

.paatason-navigointilaatikko {
  font-size: @paatason-navigioinnin-fonttikoko;
  display: flex;
  flex-flow: column;
  z-index: 9000;
  align-self: center;
  width: 95%;
  max-width: 1024px;
  position: relative;
  background-color: @sisaltolaatikoiden-taustavari;
  margin: 1%;

  > header {
    border: @sisaltolaatikoiden-reunaviiva;
    padding-top: 5px;
  }

  > .sisalto {
    overflow: auto;
    box-sizing: border-box;
    /* Korkeuden tulisi aina olla pienin mahdollinen, johon kaikilla välilehdillä
       olevat nappulat mahtuvat. Tätä ei voitane laskea dynaamisesti, joten
       pitää päivittää tätä lukua jos välilehtien sisältö muuttuu */
    height: 510px;
    max-height: 100%;
    border: @sisaltolaatikoiden-reunaviiva;
    border-top: 0;
    border-bottom: 0;
    padding: 3%;

    > .valintapainikkeet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  > footer {
    border: @sisaltolaatikoiden-reunaviiva;
  }
}

.valilehtilista {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > .valilehti {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    color: @valilehden-teksti;
    border: 1px solid black;
    border-bottom: none;
    background-color: @napin-taustavari;
  }

  > .valilehti-valittu {
    color: @valilehti-valittu-teksti;
    background-color: @valilehti-valittu-taustavari;
  }
}

@toggle-valintapainike-leveys: 150px;
@toggle-valintapainike-leveys-pienempi: 80px;

.toggle-valintapainike {
  width: @toggle-valintapainike-leveys;
  margin-left: 5px;
  margin-right: 5px;

  > .toggle-valintapainike-ikoni {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    height: @toggle-valintapainike-leveys;
    background-color: @napin-taustavari;

    > .toggle-piste, .toggle-vali {
      width: 32px;
      height: 32px;
      position: absolute;
    }

    > .toggle-piste {
      width: 24px;
      height: 24px;
      left: 5px;
      top: 5px;
    }

    > .toggle-vali {
      width: 32px;
      height: 32px;
      right: 3px;
      top: 3px;
    }

    > .toggle-ikoni {
      width: 100%;
      height: 100%;
    }
  }

  > .toggle-valintapainike-otsikko {
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
  }
}

.toggle-valintapainike:active {
  > .toggle-valintapainike-ikoni {
    background-color: @sisaltolaatikoiden-taustavari-aktiivinen;
  }
}

// Piilotus ja näyttäminen

@piilotusnappi-koko: 60px;
@piilotusnappi-taustavari: #c1c1bd;

.paatason-navigointilaatikko {
  transition: 0.2s left linear;
}

.paatason-navigointilaatikko > .piilotusnappi {
  width: (@piilotusnappi-koko / 2);
  height: @piilotusnappi-koko;
  border: @sisaltolaatikoiden-reunaviiva;
  border-radius: 90px 0 0 90px;
  background-color: @piilotusnappi-taustavari;
  position: absolute;
  left: -(@piilotusnappi-koko / 2);
  top: 120px;
}

.paatason-navigointi-container > .nayttonappi {
 width: (@piilotusnappi-koko / 2);
  height: @piilotusnappi-koko;
  border: @sisaltolaatikoiden-reunaviiva;
  border-radius: 0 90px 90px 0;
  background-color: @piilotusnappi-taustavari;
  position: absolute;
  left: 0;
  top: 130px;
}

.nayttonappi {
  transition: 0.2s left linear;
}

.paatason-navigointilaatikko-nakyvissa {
  & .nayttonappi {
    left: (-@piilotusnappi-koko - 15px);
  }

  & .paatason-navigointilaatikko {
    left: 0;
  }
}

.paatason-navigointilaatikko-piilossa {
  & .nayttonappi {
    left: 0;
  }

  & .paatason-navigointilaatikko {
    left: -100%;
  }
}

// Responsiivisuus

@media (max-width: 700px) {
  .toggle-valintapainike {
    width: @toggle-valintapainike-leveys-pienempi;

    > .toggle-valintapainike-ikoni {
      width: 100%;
      height: @toggle-valintapainike-leveys-pienempi;
    }
  }
}