.toplevel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #888;
    overflow: hidden;
}

.paasisalto-container {
    height: 100%;
    position: relative;
}

.paasisalto {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.map {
    width: 100%;
    height: 100%;
    z-index: -1;
}