.paatason-navigointi-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
}

.paatason-navigointilaatikko {
  display: flex;
  flex-flow: column;
  z-index: 9000;
  align-self: center;
  width: 95%;
  max-width: 1024px;
  position: relative;
  background-color: @sisaltolaatikoiden-taustavari;
  margin: 1%;

  > header {
    border: @sisaltolaatikoiden-reunaviiva;
    padding-top: 5px;
  }

  > .sisalto {
    overflow: auto;
    border: @sisaltolaatikoiden-reunaviiva;
    border-top: 0;
    border-bottom: 0;
    padding: 3%;

    > .valintapainikkeet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  > footer {
    border: @sisaltolaatikoiden-reunaviiva;
  }
}

.valilehtilista {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > .valilehti {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid black;
    border-bottom: none;
  }

  > .valilehti-valittu {
    background-color: @napin-taustavari;
  }
}

@toggle-valintapainike-leveys: 150px;
@toggle-valintapainike-leveys-pienempi: 80px;

.toggle-valintapainike {
  width: @toggle-valintapainike-leveys;
  margin-left: 5px;
  margin-right: 5px;

  > .toggle-valintapainike-ikoni {
    width: 100%;
    height: @toggle-valintapainike-leveys;
    background-color: @napin-taustavari;
  }

  > .toggle-valintapainike-otsikko {
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
  }
}

// Piilotus ja näyttäminen

@piilotusnappi-koko: 60px;

.paatason-navigointilaatikko > .piilotusnappi {
  @koko: 60px;
  @taustavari: #c1c1bd;
  width: (@piilotusnappi-koko / 2);
  height: @piilotusnappi-koko;
  border: @sisaltolaatikoiden-reunaviiva;
  border-radius: 90px 0 0 90px;
  background-color: @taustavari;
  position: absolute;
  left: -(@koko / 2);
  top: 44%; // FIXME Laske jotenkin puoleen väliin korkeudesta riippumatta. Tämä on close enough -ratkaisu.
}

.paatason-navigointi-container > .nayttonappi {
  @koko: 60px;
  @taustavari: #c1c1bd;
  width: (@piilotusnappi-koko / 2);
  height: @piilotusnappi-koko;
  border: @sisaltolaatikoiden-reunaviiva;
  border-radius: 0 90px 90px 0;
  background-color: @taustavari;
  position: absolute;
  left: 0;
  top: 44%; // FIXME Laske jotenkin puoleen väliin korkeudesta riippumatta. Tämä on close enough -ratkaisu.
}

.paatason-navigointilaatikko-nakyvissa {
  & .nayttonappi {
    display: none;
  }
}

.paatason-navigointilaatikko-piilossa {
  & .nayttonappi {
    display: block;
  }

  & .paatason-navigointilaatikko {
    left: -100%;
  }
}

// Responsiivisuus

@media (max-width: 700px) {
  .toggle-valintapainike {
    width: @toggle-valintapainike-leveys-pienempi;

    > .toggle-valintapainike-ikoni {
      width: 100%;
      height: @toggle-valintapainike-leveys-pienempi;
    }
  }
}