@sisaltolaatikoiden-reunaviiva: 1px solid black;
@sisaltolaatikoiden-taustavari: #eeeee9;
@sisaltolaatikoiden-taustavari-aktiivinen: #D8C456;

@valilehden-taustavari: #0066cc;
@valilehden-teksti: white;

@valilehti-valittu-taustavari: unset;
@valilehti-valittu-teksti: black;

@napin-taustavari: #0066cc;