@ylapalkin-korkeus: 70px;
@ylapalkin-korkeus-pienempi: 50px;
@ylapalkin-ikonin-koko: 30px;
@ylapalkin-ikonin-koko-pienempi: 25px;
@ylapalkin-nappien-valinen-tyhja-tila: 8px;
@ylapalkin-nappien-valinen-tyhja-tila-pienempi: 6px;
@viiva-nappien-valissa: 1px solid rgb(40,40,40);


.ylapalkki {
    display: flex;
    justify-content: space-between;
    min-height: @ylapalkin-korkeus;
    background-color: rgb(19,19,20);
    z-index: 1000;
}

.ylapalkki-vasen, .ylapalkki-oikea {
    display: flex;
    flex-wrap: wrap;
}

.ylapalkki .logo {
    box-sizing: border-box;
    position: relative;

    & img {
        padding: @ylapalkin-nappien-valinen-tyhja-tila;
        padding-top: 15px;
        width: 150px;
        height: auto;
    }

    & #testiharja {
        background-color: white;
        color: #dd0000;
        font-size: 10px;
        font-weight: bold;
        line-height: 10px;
        padding: 2px;
        position: absolute;
        top: 5px;
        left: 66px;
        text-decoration: none;
    }
}

.ol-zoom {
    height: @ylapalkin-korkeus;
    z-index: 1001;
    box-sizing: border-box;
}

.ol-zoom button {
    background-color: rgb(19,19,20);
    color: white;
    margin: 0;
    padding: 0;
    width: 45px;
    font-size: 2em;
    height: @ylapalkin-korkeus;
    outline-width: 0;
    border-left: 1px solid rgb(40,40,40);
    box-sizing: border-box;
}

.ylapalkki-button {
    border-left: @viiva-nappien-valissa;
    text-align: center;
    padding-left: @ylapalkin-nappien-valinen-tyhja-tila;
    padding-right: @ylapalkin-nappien-valinen-tyhja-tila;
    box-sizing: border-box;
    color: white;
    font-size: @ylapalkin-ikonin-koko;
    line-height: 70px;
}

.ylapalkki .tr-osoite {
    border-left: @viiva-nappien-valissa;
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 70px;
    padding-left: @ylapalkin-nappien-valinen-tyhja-tila;
    padding-right: @ylapalkin-nappien-valinen-tyhja-tila;
}

.ylapalkin-metatiedot {
    border-left: @viiva-nappien-valissa;
    top: 0;
    padding-left: @ylapalkin-nappien-valinen-tyhja-tila;
    font-size: @ylapalkin-ikonin-koko;
    line-height: 70px;
    max-width: 190px;
    color: white;

    > .ylapalkin-metatieto {
        display: block;
        margin: 3px 0;
        padding-top: 0;
        font-size: 15px;
        height: 19px;
        line-height: 20px;
    }

    > .urakkanimi {
        display: block;
        padding-top: 0;
        font-size: 10px;
        height: 19px;
        line-height: 10px;
        overflow-x: hidden;
        word-break: break-all;
    }
}

.kaynnistyspainike {
    width: 220px;
    height: @ylapalkin-korkeus;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    color: white;
    background-color: rgb(86,198,84);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

   & .kaynnispainike-nuoli {
     margin-right: 10px;
   }
}

.kaynnissa {
    background-color: rgb(208, 0, 5);
}

.palvelinvirhe {
    background-color: white;
    border: 1px solid gray;
    color: red;
    font-size: 0.7em;
    left: 0;
    line-height: 10px;
    overflow-y: hidden;
    padding: 1px;
    max-height: 40px;
    z-index: 10000;
}

.ylapalkki.testiharja {
    background: red;
}


@media (max-width: 700px) {
    .ylapalkki .logo {
        & img {
            padding: 4px;
            padding-top: 6px;
            width: auto;
            height: 36px;
        }
    }

    .ol-zoom {
        height: @ylapalkin-korkeus-pienempi;
    }

    .ol-zoom button {
        height: @ylapalkin-korkeus-pienempi;
    }

    .ylapalkki-button {
        font-size: @ylapalkin-ikonin-koko-pienempi;
        padding-left: @ylapalkin-nappien-valinen-tyhja-tila-pienempi;
        padding-right: @ylapalkin-nappien-valinen-tyhja-tila-pienempi;
        line-height: 50px;
    }

    .kaynnistyspainike {
        width: 170px;
        height: @ylapalkin-korkeus-pienempi;
        line-height: 50px;

        & .kaynnispainike-nuoli {
            margin-right: 5px;

        }
    }
}

@media (max-width: 570px) {
    .kaynnistyspainike {
        width: 50px;
        height: @ylapalkin-korkeus-pienempi;
        line-height: 50px;
    }

    .kaynnistyspainike > .kaynnistyspainike-teksti {
        display: none;
    }
}