@combobox-vakioleveys: 300px;

.combobox {
  border: 1px solid @primaari-sininen;
  background-color: @valkoinen;
  border-radius: 0%;
  width: @combobox-vakioleveys;
  max-width: 100%;
  height: @komponentin-vakiokorkeus;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  > .combobox-nuoli {
    width: 32px;
    height: 32px;
  }
}