@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything;

// Main colors
$blue-darker: #0046ad;
$blue: #0088ce;
$blue-light: #3db7e4;
$blue-lighter: #8dc8e8;
$blue-cyan: #00b0ca;

// Greys
$grey-darker: #444444;
$grey-dark: #4b4b4b;
$grey: #97999b;
$grey-light: #c8c8c8;
$grey-lighter: #f1f1f1;

// Supplementary colors
$green: #9eb83d;
$green-light: #abc742;
$cyan: #35b5b3;
$orange: #f79421;
$orange-ligh: #f9a94d;
$purple: #a678b4;

.harja-menu-logo {
  height: 2em;
}

.harja-header-logo {
  height: 3em;
}

.harja-header {
  background-color: white;
  color: black;
}

.harja-title-bar {
  background-color: $blue;
}

.harja-menu {
  background-color: $blue-light;
  padding: 0px;
}

.harja-menu li {
  .button {
    background-color: $blue-light;
  }
  .button:hover,
  .button:focus {
    background-color: $blue;
  }
}
