@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything(true);
@include foundation-flex-grid;
@include foundation-flex-classes;

// Main colors
$blue-darker: #0046ad;
$blue: #0088ce;
$blue-light: #3db7e4;
$blue-lighter: #8dc8e8;
$blue-cyan: #00b0ca;

// Greys
$grey-darker: #444444;
$grey-dark: #4b4b4b;
$grey: #97999b;
$grey-light: #c8c8c8;
$grey-lighter: #f1f1f1;

// Supplementary colors
$green: #9eb83d;
$green-light: #abc742;
$cyan: #35b5b3;
$orange: #f79421;
$orange-light: #f9a94d;
$purple: #a678b4;

$left-pad: 4em;
$right-pad: 4em;
$harja-button-pad: 3em;

$logo-height: 3em;
$logo-height-small: 2em;
$harja-loading-height: 6em;   // 3*logo-height-small

$harja-list-top-height: 0.5em;
$harja-list-bottom-height: 0.2em;

$harja-footer-height: 4em; // logo:2 + top:1 + bottom:1

html, body {
  height: 100%;
  font-size: large;
}

// Add flex-basis to bootstrap styles to fix ie11 bug
.top-bar-right {
  flex-basis: 50%;
}
.top-bar-left {
  flex-basis: 50%;
}

#main, #harja-home, #harja-main-view {
  height: 100%;
}

#harja-main-view {
  background-color: $grey-lighter;
}

#harja-main-view {
  height: 100%;
  padding-top: 2em;
  margin-bottom: $harja-footer-height;
}

.harja-sub-views {
  background-color: white;
  padding-bottom: $harja-footer-height;
}

a {
  color: $blue-light;
}
a:visited {
  color: $blue;
}

.harja-menu-logo {
  height: $logo-height;
}

.harja-icon-menu {
  &::before {
    content: "";
    width: $logo-height;
    height: $logo-height;
    display: block;
    float: left;
    background: url("menu.png");
    background-image:
      linear-gradient(transparent, transparent),
      url("menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.harja-header-logo {
  height: $logo-height-small;
  margin-right: 1em;
}

.harja-loading {
  padding-top: $logo-height-small;
  padding-bottom: $logo-height-small;
  height: $harja-loading-height;
  display: block;
  margin: 0 auto;
}

.harja-icon-clock {
  &::before {
    content: "";
    width: 2em;
    height: 100%;
    display: block;
    float: left;
    background: url("clock.png");
    background-image:
      linear-gradient(transparent, transparent),
      url("clock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.harja-icon-link {
  a::before {
    content: "";
    width: 2em;
    height: 1em;
    display: block;
    float: left;
    background: url("link.png");
    background-image:
      linear-gradient(transparent, transparent),
      url("link.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.harja-date {
  height: 1.5em;
  font-weight: bold;
  padding-left: 0;
  color: $grey-light;
}

.harja-breadcrumbs {
  background-color: $grey-dark;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  margin-left: 0;
  margin-right: 0;
  p {
    margin: 0;
  }
}

.harja-breadcrumb {
  color: white;
}

a.harja-breadcrumb {
  &:hover {
    color: $grey-light;
  }
  &:focus {
    color: white;
  }
  &:visited {
    color: white;
  }
}

.harja-singlenotice-title {
  background-color: $grey-dark;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;
}

.harja-singlenotice-title {
  margin-bottom: 1em;
}

.harja-singlenotice-content {
  padding-top: 2em;
  .notice {
    margin-bottom: 2em;
  }
}

.harja-singlenotice-content {
  .harja-noticelist {
    border-bottom: 0;
    @include breakpoint(medium up) {
      border-top: 0;
    }
  }
}

.harja-more {
    a::after {
    content: " \00BB";
  }
}

a.harja-notice-link {
  color: $blue;

  &:hover,
  &:focus {
    color: $blue-darker;
  }
}

.harja-notice-image {
  margin-bottom: 1rem;
  border-bottom: #953b39;
  border-bottom-width: 5px;
  width: 1000px;
}

.harja-noticelist {
  background-color: white;
  border-left: 0;
  border-right: 0;
  padding: 0 1em 1em 1em;
  ul {
    margin-left: 0;
  }
}

.harja-noticelist-item {
  margin-bottom: 1em;
}

.harja-newslist {
  height: 100%;
  border-left: 0;
  border-right: 0;
  padding: 0 1em 1em 1em;
  ul {
    margin-left: 0;
  }
}

.harja-newslist-item {
  color: white;
  padding-bottom: 1em;
  .harja-date {
    height: 1.5em;
    font-weight: bold;
    padding-left: 0;
    color: white;
    float: right;
  }
  button {
    color: white;
  }
}

a.harja-news-link {
  color: white;
  float: left;
  text-align: left;
}

.harja-care-noticelist {
  padding-top: 1em;
  border-top: $harja-list-top-height solid $green;
  border-bottom: $harja-list-bottom-height solid $grey-light;
}

.harja-maintenance-noticelist {
  padding-top: 1em;
  border-top: $harja-list-top-height solid $orange;
  border-bottom: $harja-list-bottom-height solid $grey-light;
}

.harja-faq-noticelist {
  padding-top: 1em;
  border-top: $harja-list-top-height solid $blue;
  border-bottom: $harja-list-bottom-height solid $grey-light;
}

.harja-waterways-noticelist {
  padding-top: 1em;
  border-top: $harja-list-top-height solid $blue;
  border-bottom: $harja-list-bottom-height solid $grey-light;
}

.harja-care {
  a {
    background-color: $green;
  }
  a:hover,
  a:focus {
    background-color: $green-light;
  }
}

.harja-maintenance {
  a {
    background-color: $orange;
  }
  a:hover,
  a:focus {
    background-color: $orange-light;
  }
}

.harja-faq {
  a {
    background-color: $blue;
  }
  a:hover,
  a:focus {
    background-color: $blue-light;
  }
}

.harja-waterways {
  a {
    background-color: $blue;
  }
  a:hover,
  a:focus {
    background-color: $blue-light;
  }
}

.harja-hero-large {
  background: url("hero_bw.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $grey-light;
  color: white;
  padding-bottom: 2em;
  padding-top:  2em;
  height: 100%;

  p {
    padding-bottom: 2em;
  }

  .harja-more {
    margin: auto;
    width: 50%;
    a {
      width: 100%;
    }
  }
}

.harja-hero-small {
  background-color: $grey-dark;
  color: white;
  padding-bottom: 2em;
  padding-top:  2em;
  height: 100%;
}

.harja-feedback {
  text-align: right;
}

.harja-devlinks {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 2em;
  a {
    margin-top: 2em;
    margin-bottom: 2em;
    color: $blue;
    background-color: $grey-lighter;
  }
  a:hover,
  a:focus {
    background-color: $grey;
  }
}

.livi-header-logo {
  height: $logo-height;
  margin-right: 1em;
}

.livi-footer-logo {
  height: $logo-height-small;
}

.harja-header {
  background-color: white;
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $left-pad;
  padding-right: $right-pad;
}

.harja-title-bar {
  background-color: $blue-light;
}

.harja-title-bar-title {
  text-align: right;
}

.harja-menu {
  background-color: $blue-light;
  ul {
    background-color: $blue-light;
  }
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $left-pad;
  padding-right: $right-pad;
  @include breakpoint(small only) {
    padding-left: 0;
    padding-right: 0;
  }
  .menu.vertical {
    li {
      a {
        justify-content: center;
      }
      a:visited {
        color: white;
      }
    }
  }
}

.harja-menu li {
  .button {
    background-color: $blue-light;
  }
  .button:hover,
  .button:focus {
    background-color: $blue;
  }
}

.scrollarea {
  height: 100%;
  max-height: 40em;
}

.harja-hero {
  height: 100%;
}

@include breakpoint(medium down) {
  .harja-hero {
    height: 100%;
  }
}

@include breakpoint(medium down) {
  .scrollarea {
    height: 100%;
    max-height: none;
  }
}

#harja-footer {
  height: $harja-footer-height;
  background-color: $grey-dark;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $left-pad;
  padding-right: $right-pad;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    text-align: right;
  }
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(small only) {
    .livi-header-logo {
      display: none;
    }
    p {
      text-align: center;
    }
  }
}
