@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything(true);
@include foundation-flex-grid;
@include foundation-flex-classes;

// Main colors
$blue-darker: #0046ad;
$blue: #0088ce;
$blue-light: #3db7e4;
$blue-lighter: #8dc8e8;
$blue-cyan: #00b0ca;

// Greys
$grey-darker: #444444;
$grey-dark: #4b4b4b;
$grey: #97999b;
$grey-light: #c8c8c8;
$grey-lighter: #f1f1f1;

// Supplementary colors
$green: #9eb83d;
$green-light: #abc742;
$cyan: #35b5b3;
$orange: #f79421;
$orange-light: #f9a94d;
$purple: #a678b4;

$left-pad: 4rem;
$right-pad: 4rem;

$logo-height: 4em;
$logo-height-small: 2em;
$harja-loading-height: 6em;   // 3*logo-height-small

$harja-list-top-height: 0.5em;
$harja-list-bottom-height: 0.2em;

$harja-footer-height: 6rem; // logo:4 + top:1 + bottom:1

html, body {
  height: 100%;
}

#main, #harja-home, #harja-content {
  height: 100%;
}

#harja-home, #harja-content {
  background-color: $grey-lighter;
}

#harja-content {
  padding-left: $left-pad;
  padding-right: $right-pad;
  height: auto;
  margin-bottom: $harja-footer-height;
}

a {
  color: $blue-light;
}
a:visited {
  color: $blue;
}

.harja-menu-logo {
  height: $logo-height-small;
}

.harja-header-logo {
  height: $logo-height-small;
  margin-right: 1em;
}

.harja-loading {
  padding-top: $logo-height-small;
  padding-bottom: $logo-height-small;
  height: $harja-loading-height;
  display: block;
  margin: 0 auto;
}

.harja-icon {
  height: 1.5em;
}

.harja-date {
  height: 1.5em;
  font-weight: bold;
  padding-left: 0;
  color: $grey-light;
}

.harja-noticelist {
  background-color: white;
  border-left: 0;
  border-right: 0;
  padding: 1em;
}

.harja-noticelist-item {
  margin-bottom: 1em;
}

.harja-more {
    a::after {
    content: "\00BB";
  }
}

a.harja-notice-link {
  color: $blue;

  &:hover,
  &:focus {
    color: $blue-darker;
  }
}

.harja-notice-image {
  margin-bottom: 1rem;
}

.harja-care-noticelist {
  border-top: $harja-list-top-height solid $green;
  border-bottom: $harja-list-bottom-height solid $grey-light;
  .harja-more {
    a {
      background-color: $green;
    }
  }
}

.harja-maintenance-noticelist {
  border-top: $harja-list-top-height solid $orange;
  border-bottom: $harja-list-bottom-height solid $grey-light;
  .harja-more {
    a {
      background-color: $orange;
    }
  }
}

.harja-faq-noticelist {
  border-top: $harja-list-top-height solid $blue;
  border-bottom: $harja-list-bottom-height solid $grey-light;
  .harja-more {
    a {
      background-color: $blue;
    }
  }
}

.livi-header-logo {
  height: $logo-height;
  margin-right: 1em;
}

.harja-header {
  background-color: white;
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $left-pad;
  padding-right: $right-pad;
}

#harja-footer {
  height: $harja-footer-height;
  background-color: $grey-dark;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: $left-pad;
  padding-right: $right-pad;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    text-align: right;
  }
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(small only) {
    .livi-header-logo {
      display: none;
    }
    p {
      text-align: center;
    }
  }
}

.harja-title-bar {
  background-color: $blue-light;
}

.harja-menu {
  background-color: $blue-light;
  ul {
    background-color: $blue-light;
  }
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $left-pad;
  padding-right: $right-pad;
  @include breakpoint(small only) {
    padding-left: 0;
    padding-right: 0;
  }
  .menu.vertical {
    li {
      a {
        justify-content: center;
      }
    }
  }
}

.harja-menu li {
  .button {
    background-color: $blue-light;
  }
  .button:hover,
  .button:focus {
    background-color: $blue;
  }
}
