^{:watch-dirs ["src/cljs" "src/cljc" "src/cljs-dev" "src/shared-cljc"]
  :css-dirs [#=(eval (str (System/getenv "DC_JAETTU_KANSIO") "/" (System/getenv "BRANCH") "/dev-resources/css"))]
  :reload-clj-files false
  :load-warninged-code true
  :open-url false
  :ring-server-options {:port #=(eval (Integer/parseInt (System/getenv "FRONTEND_REPL_PORT")))
                        :host "0.0.0.0"}
  :connect-url #=(eval (str "ws://harja-frontend:" (System/getenv "FRONTEND_REPL_PORT") "/figwheel-connect"))}
{:main harja.asiakas.main
 :optimizations :none
 :source-map true
 :output-to #=(eval (str (System/getenv "DC_JAETTU_KANSIO") "/" (System/getenv "BRANCH") "/dev-resources/js/harja.js" ))
 :output-dir #=(eval (str (System/getenv "DC_JAETTU_KANSIO") "/" (System/getenv "BRANCH") "/dev-resources/js/out" ))
 :asset-path "js/out"
 :libs ["src/js/kuvataso.js"]
 :closure-output-charset "US-ASCII"
 :closure-defines {harja.ui.taulukko-debug/TAULUKKO_DEBUG false
                   harja.ui.grid-debug/GRID_DEBUG true}
 :npm-deps false}
