/* -------- Utility CSS - Luokat jotka tekevät vain yhden asian ala Tailwind ----- */
/*-------------------------------------------*\ 
Periaatteet:
- Wrappaa #app tai käytä !important jotta utilityllä on viimeinen sana
- Utility tekee vain yhden asian jotta se on yhdisteltävissä muiden utilityjen kanssa
\*-------------------------------------------*/

 
 /* ----- Kokojen asettaminen ---- */
 #app {
 /* --- Max width -- */
    .max-width-1 {
        max-width: 36rem;
        /* 576px */
    }

    .max-width-2 {
        max-width: 42rem;
        /* 672px */
    }

    .max-width-3 {
        max-width: 48rem;
        /* 768px */
    }

    .max-width-4 {
        max-width: 56rem;
        /* 896px */
    }

    .max-width-5 {
        max-width: 64rem;
        /* 1024px */
    }
}