[Unit]
Description=ActiveMQ
After=network.target

[Service]
Type=forking
PIDFile=/harja/activemq/apache-activemq-5.14.1/data/activemq.pid
ExecStart=/harja/activemq/apache-activemq-5.14.1/bin/activemq start
ExecReload=/harja/activemq/apache-activemq-5.14.1/bin/activemq restart
ExecStop=/harja/activemq/apache-activemq-5.14.1/bin/activemq stop

[Install]
WantedBy=multi-user.target
